{% extends 'GlobalBundle:layouts:layout.html.twig' %}
{% block content %}

        
        <!-- 1. Home section -->
        <section class="home-section signup">
            <div class="hero-banner">
                {% if editmode %}
                    {{ pimcore_image("landing_homebanner", {
                        "title": "Source to Shelf icon",
                        "uploadPath": misource_landing_path
                    }) }}
                {% else %}
                    {% set landing_homebanner = pimcore_image("landing_homebanner") %}
                    {% if landing_homebanner is empty %}
                        <img src="{{asset('/bundles/global/images/home-top-banner.jpg')}}" alt="Home Banner">
                    {% else %}
                        <img src="{{ landing_homebanner.getSrc() }}" alt="Banner">
                    {% endif %}
                {% endif %}

                <div class="banner-caption-box tab-placeholder" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1000">
                    <div id="signup_success" style="display:none;">Success!!</div>
                    <div id="signup_error" style="display:none;">Error!!</div>
                    <div class="user-tabs">
                        <ul class="nav nav-tabs" role="tablist">                            
                            <li class="nav-item">
                            <a class="nav-link" href="/account/login">Log in</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#signup">Password Reset</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            
                            <div id="signup" class="tab-pane active">
                                {#<p>{{ 'account.forgot-password' | trans }} <a href="{{ path('account-password-send-recovery') }}">{{ 'account.password-recovery' | trans }}</a></p>#}

                                <form method="post" class="application-form">
                                     <div class="form-group">
                                        <input type="password" id="password" name="password" required="required" class="form-control">
                                        <input type="hidden" id="token" name="token" value="{{ token }}" />
                                    </div>                                    
                                    <div class="form-group">
                                        <button type="submit" id="_submit" name="_submit" class="btn">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="made-in-logo" data-aos="fade-right" data-aos-once="true" data-aos-delay="30" data-aos-duration="1000">
                        <img src="/bundles/global/images/made-in-india.svg" alt="Made In India Logo">
                    </div>
                </div>                
            </div>
        </section>

        <!-- 2. content section -->

        <section class="section text-center smart-way-sec">
            <div class="container" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                <h2 class="main-title text-center">{{ pimcore_input("milanding_txt4",{"placeholder": "Retail Ready Solutions"}) }}</h2>
                <p>
                <div>
                {{ pimcore_input("milanding_txt5",{"placeholder": "Mi.Source is your direct route to retail-ready homeware. We are a partnership of world-class manufacturers who already supply to leading retailers."}) }}</br>
                {{ pimcore_input("milanding_txt6",{"placeholder": "Our mission is to make it <strong>quicker, easier</strong> and <strong>cost-effective</strong> to get most of our facilities. Access exclusive products or brief your own. Simply subscribe and search from over 200+ factories with new items professional images added daily."}) }}
                </div>
                </p>
            </div>
        </section>
    
       

        <!-- 3. Source to Shelf - Retail Ready Tool Kits -->
        <section class="section souce-to-shelf-sec section-padding">
            <div class="container-fluid">
                <div class="box-content">
                    <h2 class="main-title" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">{{ pimcore_input("milanding_txt7",{"placeholder": "A Win-Win-Win-Win Setup"}) }}</h2>
                    <p class="sub-text">{{ pimcore_input("milanding_txt8",{"placeholder": "Mi.Source connects retailers, distributors, creators and manufacturers, directly. It’s a set up where everyone mutually benefits. See where you can win:"}) }}</p>
                    <div class="tool-kit-box">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#retailers">{{ pimcore_input("milanding_txt9",{"placeholder": "Retailers"}) }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#distributors">{{ pimcore_input("milanding_txt10",{"placeholder": "Distributors"}) }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#creators">{{ pimcore_input("milanding_txt11",{"placeholder": "Creators"}) }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#manufacturers">{{ pimcore_input("milanding_txt12",{"placeholder": "Manufacturers"}) }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="retailers" class="tab-pane active">
                                <ul class="tool-box-list">
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img1", {
                                                        "title": "choice icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img1 = pimcore_image("milanding_img1") %}
                                                    {% if milanding_img1 is empty %}
                                                        <img src="{{asset('/bundles/global/images/choice-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img1.getSrc() }}" alt="Banner">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt13",{"placeholder": "CHOICE"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt14",{"placeholder": "Thousands of products from hundreds of high quality manufacturers."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img2", {
                                                        "title": "selection icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img2 = pimcore_image("milanding_img2") %}
                                                    {% if milanding_img2 is empty %}
                                                        <img src="{{asset('/bundles/global/images/selection-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img2.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt15",{"placeholder": "SELECTION"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt16",{"placeholder": "Cut through the noise with retailready curations."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                               {% if editmode %}
                                                    {{ pimcore_image("milanding_img3", {
                                                        "title": "full-customization icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img3 = pimcore_image("milanding_img3") %}
                                                    {% if milanding_img3 is empty %}
                                                        <img src="{{asset('/bundles/global/images/full-customization-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img3.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt17",{"placeholder": "Customisation"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt18",{"placeholder": "Brief changes with low MOQ's and better margins."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img5", {
                                                        "title": "retail-ready icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img5 = pimcore_image("milanding_img5") %}
                                                    {% if milanding_img5 is empty %}
                                                        <img src="{{asset('/bundles/global/images/retail-ready-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img5.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt19",{"placeholder": "ToolKits"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt20",{"placeholder": "Powerful retail toolkits like auto container fill calculators, pro imagery and more."}) }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="distributors" class="tab-pane">
                                <ul class="tool-box-list">
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img11", {
                                                        "title": "choice icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img11 = pimcore_image("milanding_img11") %}
                                                    {% if milanding_img11 is empty %}
                                                        <img src="{{asset('/bundles/global/images/choice-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img11.getSrc() }}" alt="Banner">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt21",{"placeholder": "CHOICE"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt22",{"placeholder": "Thousands of products from hundreds of high quality manufactures."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img22", {
                                                        "title": "selection icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img22 = pimcore_image("milanding_img22") %}
                                                    {% if milanding_img22 is empty %}
                                                        <img src="{{asset('/bundles/global/images/selection-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img22.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt23",{"placeholder": "SELECTION"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt24",{"placeholder": "Cut through the noise with retailready curations."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img33", {
                                                        "title": "full-customization icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img33 = pimcore_image("milanding_img33") %}
                                                    {% if milanding_img33 is empty %}
                                                        <img src="{{asset('/bundles/global/images/full-customization-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img33.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt25",{"placeholder": "Customisation"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt26",{"placeholder": "Brief changes with low MOQ's and better margins."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img4", {
                                                        "title": "moqs icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img4 = pimcore_image("milanding_img4") %}
                                                    {% if milanding_img4 is empty %}
                                                        <img src="{{asset('/bundles/global/images/moqs-logo.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img4.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt27",{"placeholder": "Negotiation"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt28",{"placeholder": "Get the best margins and cost management with our negotiation team."}) }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="creators" class="tab-pane">
                                <ul class="tool-box-list">
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img21", {
                                                        "title": "choice icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img21 = pimcore_image("milanding_img21") %}
                                                    {% if milanding_img21 is empty %}
                                                        <img src="{{asset('/bundles/global/images/choice-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img21.getSrc() }}" alt="Banner">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt29",{"placeholder": "Realise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt30",{"placeholder": "Access the capabilities and of hundreds of high quality manufactures."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img52", {
                                                        "title": "selection icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img52 = pimcore_image("milanding_img52") %}
                                                    {% if milanding_img52 is empty %}
                                                        <img src="{{asset('/bundles/global/images/selection-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img52.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt31",{"placeholder": "Advertise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt32",{"placeholder": "Create your own exclusive brand and profit from any sales."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img14", {
                                                        "title": "moqs icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img14 = pimcore_image("milanding_img14") %}
                                                    {% if milanding_img14 is empty %}
                                                        <img src="{{asset('/bundles/global/images/moqs-logo.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img14.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt33",{"placeholder": "Enterprise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt34",{"placeholder": "Upload your ideas and get into eyeline of the retailersthe word over."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img23", {
                                                        "title": "full-customization icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img23 = pimcore_image("milanding_img23") %}
                                                    {% if milanding_img23 is empty %}
                                                        <img src="{{asset('/bundles/global/images/full-customization-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img23.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt35",{"placeholder": "Stylise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt36",{"placeholder": "Add your own touch to existing products and quickly build a range."}) }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="manufacturers" class="tab-pane">
                                <ul class="tool-box-list">
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img31", {
                                                        "title": "choice icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img31 = pimcore_image("milanding_img31") %}
                                                    {% if milanding_img31 is empty %}
                                                        <img src="{{asset('/bundles/global/images/choice-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img31.getSrc() }}" alt="Banner">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt37",{"placeholder": "Realise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt38",{"placeholder": "Access the capabilities and of hundreds of high quality manufactures."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img32", {
                                                        "title": "selection icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img32 = pimcore_image("milanding_img32") %}
                                                    {% if milanding_img32 is empty %}
                                                        <img src="{{asset('/bundles/global/images/selection-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img32.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt39",{"placeholder": "Advertise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt40",{"placeholder": "Create your own exclusive brand and profit from any sales."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img34", {
                                                        "title": "moqs icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img34 = pimcore_image("milanding_img34") %}
                                                    {% if milanding_img34 is empty %}
                                                        <img src="{{asset('/bundles/global/images/moqs-logo.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img34.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt41",{"placeholder": "Enterprise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt42",{"placeholder": "Upload your ideas and get into eyeline of the retailersthe word over."}) }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                            <div class="icon-box">
                                                {% if editmode %}
                                                    {{ pimcore_image("milanding_img43", {
                                                        "title": "full-customization icon",
                                                        "uploadPath": misource_landing_path
                                                    }) }}
                                                {% else %}
                                                    {% set milanding_img43 = pimcore_image("milanding_img43") %}
                                                    {% if milanding_img43 is empty %}
                                                        <img src="{{asset('/bundles/global/images/full-customization-icon.svg')}}" alt="icon">
                                                    {% else %}
                                                        <img src="{{ milanding_img43.getSrc() }}" alt="icon">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <h3>{{ pimcore_input("milanding_txt43",{"placeholder": "Stylise"}) }}</h3>
                                            <p>{{ pimcore_input("milanding_txt44",{"placeholder": "Add your own touch to existing products and quickly build a range."}) }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!-- 4. home ware brands -->
        <section class="home-ware-brands-sec section">
            <div class="white-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                <div class="home-brand-typo">
                    <p>{{ pimcore_input("landing_sec4_title") }}</p>
                    <h2>{{ pimcore_input("landing_sec4_titleh2") }}</h2>
                    <p>{{ pimcore_input("landing_sec4_descline") }}</p>
                </div>
                <div class="home-brand-bar">
                    <ul class="{{ editmode ? 'home-brand-slider-edit d-block' : 'home-brand-slider' }} owl-carousel   owl-theme">
                        <li class="item">
                            {% if editmode %}
                                {{ pimcore_image("landing_brand1", {
                                    "title": "Source to Shelf icon1",
                                    "uploadPath": misource_landing_path
                                }) }}

                            {% else %}
                                {% set thumbnail = pimcore_image("landing_brand1") %}
                                {% if thumbnail is empty %}
                                    <img src="bundles/global/images/ross-logo.svg" alt="Ross Logo">
                                {% else %}
                                    <img src="{{ thumbnail.getSrc() }}" alt="Ross Logo">
                                {% endif %}
                            {% endif %}
                        </li>
                        <li class="item">
                            {% if editmode %}
                                {{ pimcore_image("landing_brand2", {
                                    "title": "Source to Shelf icon2",
                                    "uploadPath": misource_landing_path
                                }) }}

                            {% else %}
                                {% set thumbnail2 = pimcore_image("landing_brand2") %}
                                {% if thumbnail2 is empty %}
                                    <img src="bundles/global/images/makro-logo.svg" alt="Makro Logo">
                                {% else %}
                                    <img src="{{ thumbnail2.getSrc() }}" alt="Makro Logo">
                                {% endif %}
                            {% endif %}
                        </li>
                        <li class="item">
                            {% if editmode %}
                                {{ pimcore_image("landing_brand3", {
                                    "title": "Source to Shelf icon3",
                                    "uploadPath": misource_landing_path
                                }) }}

                            {% else %}
                                {% set thumbnail3 = pimcore_image("landing_brand3") %}
                                {% if thumbnail3 is empty %}
                                    <img src="bundles/global/images/home-24-logo.svg" alt="Home 24 Logo">
                                {% else %}
                                    <img src="{{ thumbnail3.getSrc() }}" alt="Home 24 Logo">
                                {% endif %}
                            {% endif %}
                        </li>
                        <li class="item">
                            {% if editmode %}
                                {{ pimcore_image("landing_brand4", {
                                    "title": "Source to Shelf icon4",
                                    "uploadPath": misource_landing_path
                                }) }}

                            {% else %}
                                {% set thumbnail4 = pimcore_image("landing_brand4") %}
                                {% if thumbnail4 is empty %}
                                    <img src="bundles/global/images/oriental-tranding-logo.svg" alt="Oriental Trading Logo">
                                {% else %}
                                    <img src="{{ thumbnail4.getSrc() }}" alt="Oriental Trading Logo">
                                {% endif %}
                            {% endif %}
                        </li>
                        <li class="item">
                            {% if editmode %}
                                {{ pimcore_image("landing_brand5", {
                                    "title": "Source to Shelf icon5",
                                    "uploadPath": misource_landing_path
                                }) }}

                            {% else %}
                                {% set thumbnail5 = pimcore_image("landing_brand5") %}
                                {% if thumbnail5 is empty %}
                                    <img src="bundles/global/images/Depot-logo.svg" alt="Depot Logo">
                                {% else %}
                                    <img src="{{ thumbnail5.getSrc() }}" alt="Depot Logo">
                                {% endif %}
                            {% endif %}
                        </li>
                        <li class="item">
                            {% if editmode %}
                                {{ pimcore_image("landing_brand6", {
                                    "title": "Source to Shelf icon6",
                                    "uploadPath": misource_landing_path
                                }) }}

                            {% else %}
                                {% set thumbnail6 = pimcore_image("landing_brand6") %}
                                {% if thumbnail6 is empty %}
                                    <img src="bundles/global/images/bed-bath-beyond-logo.svg" alt="Bed Bath & Beyond Logo Logo">
                                {% else %}
                                    <img src="{{ thumbnail6.getSrc() }}" alt="Bed Bath & Beyond Logo">
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section class="section how-it-works section-padding">
            <div class="container-fluid">
                <div class="box-content" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                    <h2 class="main-title text-center">{{ pimcore_input("milanding_txt45",{"placeholder": "How it works"}) }}</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-3 col-sm-12">
                            <div class="col-box">
                                <span>1</span>
                                <div class="how-it-works-content">
                                    <h3>{{ pimcore_input("milanding_txt46",{"placeholder": "Signup"}) }}</h3>
                                    <p>{{ pimcore_input("milanding_txt47",{"placeholder": "Create an account. Once verified, we'll setup you up with a subscription."}) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-3 col-sm-12">
                            <div class="col-box">
                                <span>2</span>
                                <div class="how-it-works-content">
                                    <h3>{{ pimcore_input("milanding_txt48",{"placeholder": "Browse"}) }}</h3>
                                    <p>{{ pimcore_input("milanding_txt49",{"placeholder": "Search from 3 catalogue:"}) }}
                                    <br>
                                    {{ pimcore_input("milanding_txt50",{"placeholder": "A. Essential, unfiltered products."}) }}<br>
                                    {{ pimcore_input("milanding_txt51",{"placeholder": "B. Curate, filtered &amp; curated products"}) }}<br>
                                    {{ pimcore_input("milanding_txt52",{"placeholder": "C. Signature, exclusive products"}) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-3 col-sm-12">
                            <div class="col-box">
                                <span>3</span>
                                <div class="how-it-works-content">
                                    <h3>{{ pimcore_input("milanding_txt53",{"placeholder": "Brief"}) }}</h3>
                                    <p>{{ pimcore_input("milanding_txt54",{"placeholder": "Select and customise any product, or brief one of our factory partners directly."}) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-3 col-sm-12">
                            <div class="col-box">
                                <span>4</span>
                                <div class="how-it-works-content">
                                    <h3>{{ pimcore_input("milanding_txt55",{"placeholder": "Buy"}) }}</h3>
                                    <p>{{ pimcore_input("milanding_txt56",{"placeholder": "Order via the site, and we'll take care of all of the logistics. Or if you're placing a big order, go direct."}) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        
        <section class="section no-padding">
            <div class="{{ editmode ? 'd-block banner-carousel-edit' : 'banner-carousel ' }}  owl-carousel owl-theme">
                <div class="item">
                    {% if editmode %}
                        {{ pimcore_image("landing_homebanner_bottom", {
                            "title": "Source to Shelf icon",
                            "uploadPath": misource_landing_path
                        }) }}
                    {% else %}
                        {% set landing_homebanner_bottom = pimcore_image("landing_homebanner_bottom") %}
                        {% if landing_homebanner_bottom is empty %}
                            <img src="{{asset('/bundles/global/images/home-banner01.png')}}" alt="Home Banner">
                        {% else %}
                            <img src="{{ landing_homebanner_bottom.getSrc() }}" alt="Home Banner">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="item">
                    {% if editmode %}
                        {{ pimcore_image("landing_homebanner_bottom1", {
                            "title": "Source to Shelf icon",
                            "uploadPath": misource_landing_path
                        }) }}
                    {% else %}
                        {% set landing_homebanner_bottom1 = pimcore_image("landing_homebanner_bottom1") %}
                        {% if landing_homebanner_bottom1 is empty %}
                            <img src="{{asset('/bundles/global/images/home-banner01.png')}}" alt="Home Banner">
                        {% else %}
                            <img src="{{ landing_homebanner_bottom1.getSrc() }}" alt="Home Banner">
                        {% endif %}
                    {% endif %}
                </div>
        </section>


{% endblock %}




{#

{% extends 'GlobalBundle:layouts:layout.html.twig' %}


{% block content %}

    <div class="text-center">

        <div class="form-signin mb-5">

            <form method="post">
                <h1 class="display-3 mb-3 font-weight-normal">{{ 'account.password-recovery' | trans }}</h1>

                <p>{{ 'account.password-recovery-text' | trans([email]) }}</p>
                <input type="password" id="password" name="password" required="required" class="form-control">
                <input type="hidden" id="token" name="token" value="{{ token }}" />

                <div class="form-group">
                    <button type="submit" id="_submit" name="_submit" class="btn-success btn-lg btn-block mt-4 btn">{{ 'account.set-password' | trans }}</button>
                </div>

            </form>

        </div>
    </div>

{% endblock %}

#}