/* resposive css only */
@media (max-width: 1600px){
    .navbar-dark .navbar-nav .nav-link { padding: 0 20px;}
    .what-we-do-sec p { padding: 0 113px;}
    .our-product-categ-sec .col-7 { /*flex: none;*/ max-width: 67%; }
    .our-product-categ-sec .col-5 { max-width: 496px;}
    .our-product-categ-sec .left-side-cnt { padding: 128px 50px;}
    .pink-bg-sec {  padding: 195px 0;}
    .access-ind-1-plateform { padding: 150px 80px;}
    .footer-top { padding: 50px 10px;}
    .f-txt-content p { font-size: 16px;}

    .service-level-section .level-left-cnt {
        padding: 155px 60px 160px 60px;
        width: 35%;
    }
    .text-span { line-height: 22px;}
    .footer-form textarea.form-control {
        min-height: 115px;
    }
    .rw .cl-left { padding: 5rem 131px 0 50px;}
    .plain-content-box { max-width: 966px;}
    .big-ship-image-section .rw .cl-left { padding: 10rem 50px 0;}
    .big-ship-image-section.our-commitments-section .rw .cl-left { padding: 6rem 50px 11rem;}
    .big-ship-image-section.our-commitments-section .rw .cl-right { padding: 6rem 15px 1rem 50px;}
    .our-commitments-section .lf-content:after { right: 0;}
    .map-smart-sol-logo { left: 95px;}
    .map-image{position:relative}
    .map-image img{margin:-17px auto 0 auto;width:86%;left:0;right:0}
}



@media (max-width: 1440px){
    /* .home-banner-caption {top:38%;} */
    body { padding: 20px 15px;}
    .navbar-dark .navbar-brand { width: 356px;}
    .navbar-dark .navbar-nav .nav-link { padding: 0 18px; font-size: 18px;}
    .owl-carousel .owl-dots { bottom: 15px;}
    .what-we-do-sec { padding: 100px 0;}
    .what-we-do-sec:after { right: 0; bottom: -95px; height: 281px; width: 242px; background-size: cover;}
    .end-to-end-sec { padding: 100px 20px;}
    .header-book-meeting { padding-right: 20px;}
    .our-product-categ-sec .row{ flex-wrap: nowrap;}
    h2.main-title { font-size: 50px;}
    .product-cate img { width: 73%; }
    .our-product-categ-sec h2.main-title { font-size: 40px;}
    .our-product-categ-sec .col-5 {
        max-width: 400px;
    }
    ul.product-category-list li{height:184px;}
    ul.product-category-list li .product-cate { width: 169px; height: 169px; padding: 20px 0;}
    span.pro-categ-title {font-size: 14px; letter-spacing: .50px; line-height: 27px; width: 153px;}
    .info-content span {    font-size: 25px; line-height: 28px;}
    .pink-bg-sec { padding: 120px 0;}
    .our-product-categ-sec .left-side-cnt { padding: 93px 50px;}
    .access-ind-1-plateform .map-col-wrap .cols-8 { width: 60%;}
    .access-ind-1-plateform .map-col-wrap .cols-4 {max-width: 40%; width: 100%;}
    .access-ind-1-plateform { padding: 150px 40px;}
    .map-image img { margin: -21px 0 0 20px; width:100%;}
    .wrd-map-image:after { left: 90px; height: 125px; width: 125px; bottom: -51px; background-size: cover;}
    footer .row >.col, footer .row >[class*=col-] { padding-right: 0px; padding-left: 15px;}
    .f-txt-content { padding-right: 15px;}
    .f-txt-content p { font-size: 15px; line-height: 21px;}
    .footer-form textarea.form-control {  min-height: 112px; }
    .home-category-caption { width: 740px; height: 370px; }
    .home-category-caption .category-cap-text { padding: 60px;}
    .become-3s-supplyer-modal .modal-col-left ,.career-modal .modal-col-left {
        padding: 60px 50px;
    }
    .modal-lg {max-width: 1280px;} 

    .modal-col-left {
        background-color: #2e3831;
        padding: 66px 67px;
        max-width: 60%;
        width: 100%;
        min-height: 550px;
    }
    .modal-col-right {
        padding: 100px 54px;
        width: 100%;
        max-width: 40%;
    }   
    .two-col-modal .modal-body h2 { font-size: 50px;}

    .card-body {
        padding: 33px 25px 45px;
    }
    .inr-page-content-wrapper { padding: 55px 0;}
    .inner-page-title h1 { margin-bottom: 77px ;}

    .service-level-section .level-left-cnt { padding: 155px 30px 160px 15px;}
    .service-level-section .cols-right { width: 65%; padding: 255px 40px 135px 35px;}
    .backen-tech-section .tech-title { font-size: 30px;}
    .backen-tech-section .bk-small-text { font-size: 22px;}
    .backen-tech-section .our-back-end-box p { font-size: 26px; line-height: 33px;}
    .text-span { font-size: 18px;}
    .our-story-block h1 { font-size: 46px; line-height: 57px;}
    .our-story-block p { font-size: 22px; line-height: 31px;}
    .plain-content-box { margin-left: 50px;}
    .plain-content-box { max-width: 765px;}
    .p1, .p2 { font-size: 25px; line-height: 31px; padding: 76px 50px;}
    .latest-tech-section { min-height:500px;}
    .big-ship-image-section .rw .cl-left {  padding: 7rem 50px 0;}
    .our-commitments-section .lf-content .big-text { font-size: 25px; line-height: 31px;}
    .lf-content p { font-size: 20px; line-height: 26px;}
    .big-ship-image-section.our-commitments-section .rw .cl-right { padding: 3rem 15px 1rem 50px;}
    .big-ship-image-section.our-commitments-section .rw .cl-left {  padding: 3rem 50px 11rem;}
    .our-commitments-section h2 { font-size: 26px;}
    .care-guide-list li .guide-txt p {line-height: 24px; font-size: 20px;}
    .care-guide-list li { margin: 15px 0;}
    .care-guide-list li .guide-no { line-height: 61px;}
    .home-made-in-india-logo { width: 260px;}
    .our-product-categ-sec .col-7 {    max-width: 68.6%;}
    .card-header { height: 238px;}
    
}
@media (max-width: 1366px){ 
    /* .home-banner-caption { top: 37%;} */

}


@media (max-width: 1280px){
    .home-banner-caption { top: 42% !important;}
    .navbar-brand img { max-width: 254px;height: 62px;}
    .navbar-dark .navbar-nav .nav-link { padding: 0 15px; font-size: 16px;}
    .book-meeting { width: 225px; height: 60px; line-height: 59px;}
    ul.product-category-list li{height:167px;margin: 17px 4px 16px;}
    ul.product-category-list li .product-cate { width: 153px; height: 153px; padding: 20px 0;}
    span.pro-categ-title { font-size: 13px; letter-spacing: .50px; line-height: 27px; width: 140px; }
    .info-content span { font-size: 20px; line-height: 24px;}
    .navbar-dark .navbar-brand { height: 125px;}

    .modal-lg { max-width: 1215px; padding: 15px;}
    .become-3s-supplyer-modal .modal-col-left, .career-modal .modal-col-left ,.modal-col-left, .modal-col-right { padding: 52px 30px; }
    .card-row.row >.col, .card-row.row >[class*=col-] { padding-right: 10px; padding-left: 10px;}
    .our-story-block h1 { font-size: 40px; line-height: 50px;}
    .latest-tech-section:after{    height: 386px; width: 352px;  background-size: cover;}
    .lead-box.last-lead p{font-size:18px}
    
}

@media (max-width: 1200px){
    .navbar-dark .navbar-brand { width: 296px;}
    .your-part-text { height: 60px;}
    .caption-text h1 { font-size: 35px; height: 86px;}
    .home-banner-caption { height: 208px;}
    .home-category-caption h2 {    font-size: 40px; line-height: 52px;}
    .home-category-caption .category-cap-text { padding: 35px;}
    .home-category-caption { width: 610px; height: auto;}
    .our-product-categ-sec .row { flex-wrap: wrap;}
    .company-info-box .numb-box { min-width: 142px;}
     
    .our-product-categ-sec .col-7, .our-product-categ-sec .col-5 { flex: none; max-width: 100%;}
    .our-product-categ-sec .left-side-cnt { text-align: center;}
    .our-product-categ-sec .right-side-cnt { margin-left: 0; display: flex; align-items: center; height: 100%; padding: 50px 40px 25px;}
    .our-product-categ-sec .main-title:after { margin: 0 auto;}
    ul.product-category-list { justify-content: center;}
    ul.product-category-list li .product-cate { width: 163px;}
    .our-product-categ-sec .left-side-cnt { padding: 50px 40px;}
    .numb-box span { font-size: 45px;}
    .pink-bg-sec { padding: 50px 0;}
    .access-ind-1-plateform { padding: 70px 40px;}
    footer h3 { font-size: 20px; line-height: 22px;}
    .f-txt-content p { font-size: 13px; line-height: 18px;}
    .min-height-box { min-height: 258px;}
    .what-we-do-sec:after {bottom: -72px; height: 211px; width: 182px;}
    .work-content-wrapper { max-width: 900px; padding: 50px 60px;}
    .four-level-services { justify-content: center;}
    .four-level-services .service-menu { margin: 0 40px;}
    .backen-tech-section .row >.col, .backen-tech-section .row >[class*=col-] {
        padding-right: 10px;
        padding-left: 10px;
    }
    .our-story-block h1 {
        font-size: 30px;
        line-height: 43px;
    }
    .rw .cl-left { width:54%}
    .rw .cl-right { width: 46%;}
    .rw .cl-left { padding: 3rem 104px 0 50px;}
    .hand-image::after { left:-67px;}
    .wwi-content { max-width: 988px; padding: 70px 50px 70px;}
    
}
@media (max-width: 1169px){
    body { padding: 15px;}
    .navbar-brand img { width: 170px;}
    .navbar-dark .navbar-brand { width: 220px; height: 100px;}
    .navbar-dark .navbar-nav .nav-link { padding: 0 12px;}
    .book-meeting { width: 195px;  height: 54px; line-height: 54px;}
    .small-text { font-size: 18px;}
    .caption-text h1 { font-size: 30px; height: 70px;}
    .your-part-text,.small-text { height: 45px;}
    .home-banner-caption { height: 166px; width: 530px; top:38% !important;}
    .btn-book-meeting{ width: 276px; height: 54px; margin-top: 25px;}
    .home-banner-caption:after { left: -61px; height: 100px; width: 100px; top: 107px; background-size: contain;}
    .pink-bg-sec .row>.col, .pink-bg-sec .row>[class*=col-] {
        padding-right: 10px;
        padding-left: 10px;
    }
    .numb-box span { line-height: 95px;}
    .company-info-box {min-height: 96px;}
    .info-main-box { height: 293px; border-bottom: 0 none;}
    .company-info-box .numb-box { min-width: 140px;}
    .two-col-modal .modal-body h2 { font-size: 40px;}
    p.title-small-text { font-size: 21px;}
    .modal-col-left { max-width: 66%;}
    .modal-col-right { max-width: 34%;}
    .inner-page-title h1 { font-size: 42px; margin-bottom: 51px; padding-bottom: 30px;}
    .inner-page-title h1::after{ bottom: 0;}
    .card-body { padding: 15px 15px 23px;}



}
@media (max-width: 1024px){
    .inner-page-title h1 { margin-bottom: 30px;}
    .card-header {height: 194px;}
    .card-body h3 { font-size: 30px;}
    .card-smll-title { font-size: 20px;}
    .card-body p { font-size: 18px; line-height: 24px;}
    .pagination { margin:36px 0 0 0;}
    .our-work-modal .modal-body { padding: 25rem 0 3rem;}
    .four-level-services .service-menu img { height: 110px;}
    .service-level-section .level-main-title { font-size: 35px;}
    p.larz-text { font-size: 26px; line-height: 35px;}
    .backen-tech-section .bk-small-text { font-size: 18px; line-height: 20px;}
    .backen-tech-section .tech-title { font-size: 24px;}
    .backen-tech-section .our-back-end-box { padding-top: 40px;}
    .our-story-block h1 { font-size: 26px; line-height: 40px;}
    .our-story-block p { font-size: 18px; line-height: 23px;}
    .plain-content-box { position: relative; z-index: 9;}
    .latest-tech-section:after { height: 276px; width: 252px; background-size: cover;}
    .big-ship-image-section .rw .cl-left { padding: 4rem 40px 0;}
    .lf-content p { font-size: 16px; line-height: 23px;}
    .wwi-content { max-width: 838px; padding: 40px 50px 40px;}
    .wwi-content p { font-size: 22px;}
    .wwi-content h2 { font-size: 35px; line-height: 38px;    padding-bottom: 35px;}
    .smart-sol-banner-logo { top:47px}

}
@media (max-width: 991px){

    .navbar-dark .navbar-toggler-icon {
        background-image: url(../images/menu-of-three-lines.svg);
        line-height: 0;
        background-size: cover;
        height: 40px;
        width: 40px;
    }
    .navbar-toggler {
        padding: 0;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        right: 20px;
        position: absolute;
    }
    .book-meeting { position: relative;
        position: relative;
        text-indent: -99999em;
        background-color: transparent;
        border: 0;
        width: 50px;
        margin-right: 50px;
    }
    .book-meeting:hover{ background-color:transparent;}
    .book-meeting:after{
         background: url(../images/book-meeting-icon.svg) no-repeat;
         content: "";
         position: absolute;
         left: 0;
         top:8px;
         width: 41px;
         height: 41px;
         background-size: contain;
    }
    .main-navigation{
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        z-index: 999;
        background:#f9f9f3;
        padding: 15px 0;
        border-bottom: 2px solid #2e3831;
    }
    .navbar-toggler:focus, .navbar-toggler:hover {
        text-decoration: none;
        outline: none;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 5px 15px;
    }
    .home-banner-caption {
        top: 16%;
        transform: translateY(-16%);
    }
    .what-we-do-sec , .end-to-end-sec{ padding: 50px 0;}
    .caption-text h1 {
        font-size: 25px;
        height: 50px;
    }
    .home-banner-caption {
        height: 143px;
        width: 390px;
    }
    .btn-book-meeting {
        width: 242px;
        height: 44px;
        margin-top: 25px;
        font-size: 16px;
    }
    .what-we-do-text { font-size: 20px;}
    h2.main-title {
        font-size: 30px;
        margin-bottom: 70px;
    } 
    .what-we-do-sec p { font-size: 18px; line-height: 25px;}
    .end-to-end-list li { width: 50%; margin: 20px 0;}
    a.view-all-service-btn { margin: 40px auto 0; font-size: 18px;}
    .home-category-caption .ct-title, .learn-more-link { font-size: 18px; line-height: 22px;}
    .home-category-caption h2 {
        font-size: 25px;
        line-height: 32px;
    }
    .home-category-caption .category-cap-text { padding: 20px;}
    .home-category-caption { width: 410px; }
    .our-product-categ-sec h2.main-title { font-size: 30px;}
    .left-side-cnt p { font-size: 20px; line-height: 26px;}
    .see-our-project-link { font-size: 22px;}
   
    .info-main-box { margin: 15px 0;}
    .map-col-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .access-ind-1-plateform .map-col-wrap .cols-8 ,.access-ind-1-plateform .map-col-wrap .cols-4{ width: 100%; max-width: 100%;}
    .map-image img {
        position: relative;
        margin: 0;
        width: 100%;
    }
    .col-box.border-right-0 { border-right: 2px solid #2e3831 !important; border-bottom: 0 !important;}
    .f-txt-content p {font-size: 15px;}
    .min-height-box {
        min-height: 235px;
    }
    footer .row >.col, footer .row >[class*=col-] { margin-bottom: 45px;}
    .footer-top { padding: 50px 10px 0;}
    

    .modal-col-left,.modal-col-right { max-width: 100%;}
    .modal-col-left { min-height: 100px;}
    /* .our-work-modal .modal-content { padding: 0 20px;} */
    .our-work-modal .modal-body { padding: 16rem 20px 3rem;}
    .work-content-wrapper h2.case-study-title { font-size: 35px;}
    .topic-title { font-size: 26px; line-height: 26px;}
    .work-content-wrapper h3.case-study-sub-title { font-size: 26px; line-height: 35px;}
    .work-content-wrapper { padding: 35px 25px;}
    .work-content-wrapper p { font-size: 20px; line-height: 26px;}

    .section-title {font-size: 40px;    line-height: 50px;}
    .four-level-services .service-menu { margin: 0 15px;}
    .four-level-services .service-menu img { height: 80px;}
    .service-level-section .level-left-cnt { padding: 50px 15px 0 15px; width: 100%;}
    .service-level-section .cols-right { width: 100%; padding: 0 15px 50px 15px;}
    .div-table::before{ display: none;}
    .service-level-section .level-left-cnt { border-right: 0;}
    .backen-tech-section { padding: 50px 0;}
    .backen-tech-section .our-back-end-box { margin-bottom: 50px;}
    .about-page-top-section { position: relative; overflow: hidden;}
    .rw .cl-left { width: 100%;}
    .rw .cl-right { width: 100%; position: absolute; opacity: 0.2;}
    .rw .cl-left { padding: 4rem 104px 40px 50px;}
    .latest-tech-section {  padding: 60px 0 0; }
    .plain-content-box { margin-left: 0;}
    .big-ship-image-section .rw .cl-left { width: 100%; min-height: 400px;}
    .lf-content p { font-size: 22px; line-height: 30px;}
    .big-ship-image-section .rw .cl-left { padding: 7rem 40px 0;}
    .latest-tech-section:after { height: 166px; width: 152px; background-size: cover; opacity: 0.8; bottom: -96px; z-index: 1;}
    .big-ship-image-section ,.working-with-inida-sec { position: relative;}
    .big-ship-image-section .rw .cl-right { width: 100%;}
    .wwi-content { margin: 0 15px;}
    .our-commitments-section .cl-right { position: relative; opacity: 1; }
    .our-learship-section { padding: 50px 0 50px;}
    h2.big-thin-title { font-size: 40px;}
    .smart-sourc-sol-logo { right: -44px; height: 295px; width: 232px; bottom: -166px; z-index: 1;}
    .map-smart-sol-logo { width: 100px;}
    .smart-sol-banner-logo {
        top: 87px;
        left: -50px;
        width: 100px;
    }
    .home-made-in-india-logo { width: 180px;}
    .card-header {height: 238px;}
    body { overflow-x:  hidden !important;}
    .lead-box.last-lead p{font-size:16px}


}
@media (max-width: 768px){
    .card-header { height: 208px;}
    .home-banner-caption { top:22% !important;}
}




@media (max-width: 767px){
    .lightbox-section img{
        max-width: 30.33%;
    }
    .what-we-do-sec p { padding: 0;}
    .what-we-do-sec:after {
        bottom: -32px;
        height: 131px;
        width: 114px;
    }
    .min-height-box {
        min-height: 135px;
    }
    footer .row >.col, footer .row >[class*=col-] {
        padding-right: 20px;
        padding-left: 20px;
    }
    .f-txt-content { border-right: 0;}
    .career-modal .btn-send, .become-3s-supplyer-modal .btn-send { position: relative; height: auto; 
        border-left:0; border-top: 0; width: 100%;}
        .f-txt-content { padding-right: 0;}
        .service-level-section { text-align: center;}
        .backen-tech-section { text-align: center;}
        .techno-box {
            margin: 30px 0;
        }
        .backen-tech-section .tech-title::after, .backen-tech-section .tech-icon:after {width: 162px; margin: 0 auto;}
        .backen-tech-section .tech-title {
            font-size: 35px;
            
        }
        .text-span { text-align: left;}
    
    

}

@media (max-width: 600px){
    .home-banner-caption {
        height: auto;
        width: 100%;
        transform: translateY(-0%) !important;
        position: relative;
    }
    .btn-book-meeting {
        width: 233px;
        height: 39px;
        margin: 15px auto;
        font-size: 14px;
    }
    .home-banner-caption:after { top: 90px; left: 15px;}
    .your-part-text { border-bottom: 0;}
     .small-text  { border-bottom: 2px solid #2e3831;}   
 
    .home-category-caption {
        width: 100%;
        position: relative;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        transform: translateY(-0%);
    }
    .access-ind-1-plateform { padding: 35px 0;}
    .access-ind-1-plateform h2 { font-size: 20px; line-height: 24px; padding: 15px 6px 10px; letter-spacing: normal;}
    .f30-text { font-size: 20px; line-height: 26px;}
    .f25-text { font-size: 16px; line-height: 24px;}
    .become-3s-supplyer-modal .modal-col-left, .career-modal .modal-col-left, .modal-col-left { padding: 52px 10px 30px;}
    .modal-col-right { padding: 25px 30px 15px;}
    .form-commom-design { margin: 60px 0 0;}
    .two-col-modal p.title-small-text:After { bottom: -24px;}
    .error-msg { font-size: 13px; line-height: 15px; letter-spacing: normal;
         bottom: 5px; right: 0; padding: 0 12px;}
         .form-commom-design .form-control { font-size: 16px;}
         .p20 ::-webkit-input-placeholder { font-size: 16px !important; }
.p20 :-ms-input-placeholder { font-size: 16px !important;}
.p20 ::placeholder { font-size: 16px !important;}
button.close { width: 35px; height: 35px;}
.pagination li, .pagination li a { font-size: 25px;}
.our-work-modal .modal-body { padding: 7rem 10px 1rem;}
.work-content-wrapper { padding: 20px 15px; }
.topic-title { font-size: 18px; line-height: 18px; margin-bottom: 10px;}
.work-content-wrapper h2.case-study-title { font-size: 22px; line-height: 26px; padding-bottom: 20px; margin-bottom: 22px;}
.work-content-wrapper h3.case-study-sub-title { font-size: 18px; line-height: 23px; margin-bottom: 20px;}
.work-content-wrapper p { font-size: 16px; line-height: 21px;}


.service-page-top-section { padding: 2rem 0;}
.section-title {
    font-size: 30px;
    line-height: 37px;
}
.four-level-services .service-menu {
    margin: 15px 0;
    width: 50%;
}
.four-level-services h2 { font-size: 18px;}
.service-level-section .level-main-title {
    font-size: 30px;
    line-height: 30px;
}
.service-level-section .level-left-cnt { padding: 30px 15px 0 15px;}
.s-feture-list li {
    width: 100%;
}
.service-feture-icon img {
    width: 40%;
    padding: 25px 0;
}
.list-dv:first-child { border-top: 2px solid #2e3831;}
.list-dv { border-right: 0 none;}
li.list-view { order: 2;}
.service-level-section .level-main-title { padding-bottom: 25px;  margin-bottom: 20px;}
.service-level-section p { font-size: 18px; line-height: 23px;}
p.larz-text { font-size: 20px; line-height: 26px; margin-bottom: 15px;}
.div-table{ padding: 10px 0 0;}
.div-table .table-header { font-size: 20px; line-height: 24px; padding: 6px 10px;}
.service-level-section .cols-right { padding: 0 0 20px;}
.text-span { font-size: 16px; line-height: 18px;}
.backen-tech-section { padding: 15px 0;}
.backen-tech-section .tech-title { font-size: 30px; line-height: 42px; padding-bottom: 18px;}
.backen-tech-section .our-back-end-box p { font-size: 20px; line-height: 26px;}
.backen-tech-section .our-back-end-box { margin-bottom: 0;}
.backen-tech-section .tech-icon img { height: 73px;}
.backen-tech-section .tech-discription p { font-size: 20px; line-height: 26px;}
.techno-box { margin: 20px 0;}
.backen-tech-section .tech-icon { padding-bottom: 24px; margin-bottom: 15px;}
.rw .cl-left { padding:50px 20px; text-align: center;}
.our-story-block h1 {
    font-size: 26px;
    line-height: 32px;
    
}
.our-story-block h1::after{margin: 0 auto;}
.hand-image::after { display: none;}
.rw .cl-right { display: none;}
.latest-tech-section {
    padding: 30px 0 0;
}
.p1, .p2 {
    font-size: 18px;
    line-height: 25px;
    padding: 26px 16px;
}
.lf-content p {
    font-size: 18px;
    line-height: 22px;
}
.working-with-inida-sec { height: 100%; padding: 30px 0;}
.big-ship-image-section .rw .cl-left { padding-bottom: 30px; padding-top: 4rem;}
.wwi-content h2 { font-size: 26px; line-height: 31px; padding-bottom: 20px; margin-bottom: 20px;}
.wwi-content {
    margin: 0 15px;
    padding: 25px 15px;
}
.wwi-content p {
    font-size: 16px;
    line-height: 22px;
}
.big-ship-image-section.our-commitments-section .rw .cl-left {
    padding: 2rem 15px 5rem;
}
.our-commitments-section .lf-content .big-text {
    font-size: 20px;
    line-height: 25px;
}
.our-commitments-section .lf-content:after { height: 79px; width: 92px; bottom: -93px; background-size: contain;}
h2.big-thin-title {
    font-size: 30px;
    margin-bottom: 30px;
    padding: 0 15px 30px;
}
.our-commitments-section .rw .cl-right { display: block;}
.big-ship-image-section.our-commitments-section .rw .cl-right {
    padding: 2rem 15px 1rem 20px;
}
.our-commitments-section h2 {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 20px;
}
.care-guide-list li .guide-txt p {
    line-height: 20px;
    font-size: 16px;
}
.lead-box {
    background-color: #E1DFD8;
    position: relative;
    cursor: pointer;
    margin: 7px 5px;
    width: 137px;
    overflow: hidden;
}
.lead-name, .lead-position {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    color: #f9f9f9;
    margin: 0;
}
.lead-position { font-weight: 400; display: block;}
.lead-thumb-img {
    width: 137px;
    height: 136px;
    overflow: hidden;
}
.lead-info { height: 100%;}
.hover-box { padding: 6px; width: 122px; height: 123px; top: 5px;}
.hover-box p { font-size: 13px; line-height: 15px;}
.our-team-section .lead-info { height: auto;}
.our-learship-section {
    padding: 50px 0 30px;
}
p.team-member-text { margin-bottom: 30px;}
.made-in-india-logo { position: absolute; right: 0; bottom: 7px; z-index: 1; width: 50px; }
.smart-sourc-sol-logo { right: 0; height: 95px; width: 95px; bottom: -56px; z-index: 1;}
.map-smart-sol-logo { left: 50px; width: 70px;}
.smart-sol-banner-logo { top: 87px; left: 12px; width: 60px;}
.home-made-in-india-logo { width: 130px; bottom: -70px;}
.home-made-in-india-logo img { margin-right: -35px; opacity: 0.4;}
.thanks-icon { text-align: center; margin: 26px 0 26px;}
.thanks-icon img { width: 170px;}
.four-zero-four-page h1 { font-size: 72px; line-height: 80px;}
.four-zero-four-page p {font-size: 18px; line-height: 24px;}
a.go-to-home-btn {font-size: 16px; height: 45px; max-width: 170px;}
.four-zero-four-page { padding: 20px 0 50px;}
.four-level-services {
    flex-wrap: wrap;
}
    
}
@media (max-width: 575px){
    .navbar-brand img { width: 120px; }
    .navbar-dark .navbar-brand { width: 140px; height: 60px;}
    .book-meeting { margin-right: 20px;}
    .book-meeting:after { top: 13px; width: 30px; height: 30px;}
    .home-banner-caption:after { height: 80px; width: 160px; z-index: -2;}
    .what-we-do-sec, .end-to-end-sec ,.pink-bg-sec { padding: 25px 0;}
    h2.main-title { font-size: 26px; margin-bottom: 50px;}
    .main-title:after { bottom: -24px;}
    .what-we-do-sec:after { opacity: 0.5;}
    a.view-all-service-btn { margin: 10px auto 0; font-size: 14px;     height: 44px; line-height: 45px; width: 100%;}
    .end-to-end-list li { width: 100%; margin: 10px 0;}
    .end-to-end-dv p { font-size: 16px;}
    .end-to-end-dv h3 { font-size: 20px;}
    .end-to-end-dv .icon-box img { width: 50%;}
    .left-side-cnt p { font-size: 18px; line-height: 24px;}
    .owl-carousel .owl-dots .owl-dot { width: 15px; height: 15px; margin: 0 6px;}
    .our-product-categ-sec .right-side-cnt { padding: 30px 10px 0;}
    .our-product-categ-sec .left-side-cnt { padding: 30px 15px;}
    ul.product-category-list li{height:158px}
    ul.product-category-list li .product-cate { width: 144px; height: 144px;}
    span.pro-categ-title { font-size: 12px; letter-spacing: 0.25px; width: 135px;}
    .numb-box span { font-size: 35px; }
    .company-info-box .numb-box { min-width: 95px; border-right: 0 none;}
    .company-info-box { min-height: 46px;}
    .numb-box span { line-height: 50px;}
    .info-content { padding: 15px 13px; border-left: 2px solid #fff; min-height: 110px; display: flex; align-items: center; flex-wrap: wrap;}
    .info-content span { font-size: 15px; line-height: 22px;}
    .info-main-box {  height: auto;}
    
    .owl-nav button { font-size: 30px;}
    .two-col-modal .modal-body h2 { font-size: 25px;}
    p.title-small-text { font-size: 18px; line-height: 24px;}
    .navbar-toggler { left:auto; right: 15px;}
    .navbar-dark .navbar-toggler-icon { height: 30px; width: 30px;}
    .main-navigation { top:62px;}
    .inner-page-title h1{ font-size: 30px;}
    .card-body h3 { font-size: 22px; line-height: 26px;}
    .card-smll-title { font-size: 16px; line-height: 20px;}
    .card-body p { font-size: 16px; line-height: 21px;}
    .card-body .learn-more-link { font-size: 16px;}
    .card-header { height: 175px;}
    .card-wrap {  margin: 6px 0;}
    .pagination { margin: 15px 0 0 0;}
    .inr-page-content-wrapper { padding: 35px 0 20px;}
    .card-body h3::after { height: 3px  ;}



}
@media (max-width: 414px){ .card-header { height: 208px;} }

@media (max-width: 360px){ .card-header { height: 175px;} }