<section class="home-section">
    <div class="owl-carousel banner-carousel owl-theme">
        <div class="item">
            <img src="{{asset('bundles/website/assets/images/home-banner01.png')}}" alt="Home Banner">
        </div>
        <div class="item">
            <img src="{{asset('bundles/website/assets/images/home-banner01.png')}}" alt="Home Banner">
        </div>
    </div>
    <div class="home-banner-caption" data-aos="fade-down" data-aos-delay="30" data-aos-duration="1000">
        <div class="caption-text">
            <span class="small-text your-part-text">
                Your Partner In India
            </span>
            <h1>For Home & Lifestyle</h1>
            <span class="small-text">
                Supply Solutions
            </span>
        </div>
        <div class="smart-sol-banner-logo" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1000">
            <img src="{{asset('bundles/website/assets/images/smart-sourcing-logo-dark.svg')}}" alt="Smart Solution Login">
        </div>
        <a  data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000" href="" class="btn-book-meeting" data-toggle="modal" data-target="#bookMeeting">Book a
            Meeting </a>
    </div>
</section>