<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <div class="f-txt-content pr-4">
                        <div class="min-height-box">
                            <h3>About Us</h3>
                            <p>{{  pimcore_wysiwyg("about_au_1", {
                                    "height": 200
                                })  }}</p>
                            <p>{{  pimcore_wysiwyg("about_au_22", {
                                    "height": 200
                                })  }}</p>
                        </div>
                        <p mt-4>{{ pimcore_input("footer_au_3",{"placeholder": "Enter Text Here"}) }}</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <div class="f-txt-content">
                        <div class="min-height-box">
                            <h3>Contact</h3>
                            <div class="footer-bar-code">

                                <img src="{{asset('bundles/website/assets/images/barcode-stick.svg')}}" alt="Barcode Image" style="display: none;">
                                <div class="barcode-text1">
                                    {# <p>Scan the QR Code to WhatsApp Or <a href="{{ constant('THREE_S_WHATSAPP') }}" class="link-with-underline">Chat
                                            Online</a></p> #}
                                    <p>Call: <a href="tel:+91 (0) 120 460 5000" class="phone-link">{{ pimcore_input("footer_au_call_1",{"placeholder": "Enter Text Here"}) }}</a></p>
                                </div>

                            </div>
                            <p>{{  pimcore_wysiwyg("about_au_2", {
                                    "height": 200
                                })  }}</p>
                            <p>For careers with 3S: <a href="#" class="link-with-underline" data-toggle="modal"
                                                       data-target="#careerWith3s">Please fill out this form</a></p>
                        </div>

                        <ul class="footer-social-links">
                            {% set selectStore = [] %}
                            {% for i in 2..29 %}
                                {% set selectStore = selectStore|merge([i]) %}
                            {% endfor %}

                            {% set slidesSelect = pimcore_select('slides', {
                                store: selectStore,
                                reload: true,
                                width: 70,
                                class: 'align-middle'
                            }) %}




                            {% set id = 'gallery-carousel-123' %}
                            {% set slides = slidesSelect.getData()|default(2) %}

                            {% if editmode %}

                                <div class="alert alert-secondary col-xs-12" style="height: 75px">
                                    <div class="col-xs-6 d-inline mx-auto">
                                        <span class="editmode-label align-middle">How many images you want to show?</span>
                                        {{ slidesSelect|raw }}
                                    </div>

                                </div>

                            {% endif %}
                            {% for i in 0..(slides-1) %}
                                <li>
                                    {% if editmode %}
                                        {{ pimcore_input("footer_social_" ~ i,{"placeholder": "Enete URL "}) }}
                                        {{ pimcore_image('image_f_' ~ i, {
                                            thumbnail: 'socialIcon',
                                            hidetext: true,
                                            dropClass: id ~ '-' ~ i
                                        })
                                        }}

                                    {% else %}
                                        <a href="{{ pimcore_input("footer_social_" ~ i) }}" target="_blank">
                                            {{
                                            pimcore_image('image_f_' ~ i, {
                                                thumbnail: 'socialIcon',
                                                hidetext: true,
                                                dropClass: id ~ '-' ~ i

                                            })
                                            }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <div class="f-txt-content">
                        <div class="min-height-box">
                            <h3>Supply With Us</h3>
                            <p>{{  pimcore_wysiwyg("about_3", {
                                    "height": 200
                                })  }}</p>
                        </div>
                        <a href="#" class="btn-white-footer btn-white"  data-toggle="modal"
                           data-target="#become3Ssupplyer" >Become A 3S Supplier</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <div class="f-txt-content border-right-0">
                        <h3>WANT TO LEARN MORE?</h3>
                        <div class="footer-form">
                            <form action="{{path('website_book_meeting')}}" method="post" name="bookMeetingForm_Footer"  id="bookMeetingForm_Footer">
                                <div class="sucsses-msg d-none" id="bookMeetingForm_Footer_msg">Thanks! Someone will be in touch soon to book a date. </div>
                                <div class="form-group">
                                    <label for="meetingAgenda" class="d-none">Example textarea</label>
                                    <textarea class="form-control" id="meetingAgenda" name="meetingAgenda" rows="3" placeholder="What’s on your mind?"></textarea>
                                    <span class="error-msg d-none" id="error_meetingAgenda">*Required </span>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="d-none">Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName"
                                           placeholder="Name*">
                                    <span class="error-msg d-none" id="error_firstName">*Required </span>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="d-none">Email </label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Email*">
                                    <span class="error-msg d-none" id="error_email">*Required </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-send">Book</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
