 {% if editmode %}
    {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/editmode.css')) %}
    {{ pimcore_head_link() }}
{% endif %}
 <!-- header -->
<header class="header">
    <nav class="navbar navbar-expand-lg main-nav navbar-dark">
        <a class="navbar-brand" href="{{path('website_homepage')}}">
            <img alt="Brand" src="{{asset('bundles/website/assets/images/3s-logo.svg')}}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {# get root node if there is no document defined (for pages which are routed directly through static route) #}
        {% if not document is defined or not document %}
            {% set document = pimcore_document(6) %}
        {% endif %}
        {% set navStartNode = document.getProperty('LanddingPage') %}
        
        {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document') %}
            {% set navStartNode = pimcore_document(6) %}
        {% endif %}
        <div class="collapse navbar-collapse  main-navigation" id="navbarColor03">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('website_services')}}">SERVICES<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('website_ourwork')}}">OUR WORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('website_aboutus')}}">ABOUT</a>
                </li>
                {# <li class="nav-item">
                    <a class="nav-link" href="{{path('website_blog')}}">BLOG</a>
                </li> #}

            </ul>
        </div>
        <div class="header-book-meeting">
            <a class="book-meeting" href="#" data-toggle="modal" data-target="#bookMeeting">BOOK A MEETING</a>
        </div>
    </nav>
</header>
<!-- End header -->
