    {% if not document is defined or not document %}
        {% set document = pimcore_document(1) %}
    {% endif %}

    {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
        {# @var document \Pimcore\Model\Document\Link #}
        {% set document = document.getObject() %}
    {% endif %}
    {% if document.getTitle() is not empty %}
        {% do pimcore_head_title().set(document.getTitle()) %}
    {% endif %}

    {% if document.getDescription() is not empty %}
        {% do pimcore_head_meta().appendName('description',document.getDescription()) %}
    {% endif %}
        {# {% do pimcore_head_title().append('3S Home & Lifestyle Solutions') %}
        {% do pimcore_head_title().setSeparator(' | ') %} #}
        {% set isPortal = ((isPortal is defined) and isPortal) %}
        {# we're using the deferred extension here to make sure this block is rendered after all helper calls #}
    {% block layout_head_meta deferred %}
        {{ pimcore_head_title() }}
        {{ pimcore_head_meta() }}

        {% if pimcore_placeholder('canonical').count() %}
            <link rel="canonical" href="{{ pimcore_placeholder('canonical') }}"/>
        {% endif %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="google-site-verification" content="bjVTynmWfYEeEhLpJnmA2nTJ7wnuwPy2mcJrRQEAIcc" />
    <!-- START Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K9C40MC8FB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K9C40MC8FB');
    </script>
    <!-- END Global site tag (gtag.js) - Google Analytics -->
    
    {% spaceless -%}
        <!-- favicon -->
        {% do pimcore_head_link({rel : 'mask-icon', color:'#5bbad5', href: asset('bundles/website/assets/images/favicon__/safari-pinned-tab.svg')}, 'PREPEND') %}
        {% do pimcore_head_link({rel : 'icon', type:'image/png',sizes:'16x16', href: asset('bundles/website/assets/images/favicon__/favicon.ico')}, 'PREPEND') %}
        <!-- stylesheets -->
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/bootstrap.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/font-awesome.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/owl.carousel.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/lightbox.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/select2.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/aos.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/style.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/responsive.css'), 'screen') %}
        {% set IE = check_IE() %}
        {% if IE  %}
            {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/bootstrap-ie9.min.css'), 'screen') %}
            {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/ie.css'), 'screen') %}
        {% endif %}
    {%- endspaceless %}
    {% if editmode %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/website/assets/css/editmode.css')) %}
    {% endif %}

    {% block head_stylesheets deferred %}
        {{ pimcore_head_link() }}
    {% endblock %}
