<!-- scripts -->
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/jquery.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/moment.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/daterangepicker.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/select2.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/aos.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/popper.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/bootstrap.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/lighbox.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/functions.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/main.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/website/assets/js/custom.js')) %}
{# output scripts added before #}
{% block headscripts deferred %}
    {{ pimcore_head_script() }}
{% endblock %}
