{% extends 'GlobalBundle:layouts:layout.html.twig' %}
{% block content %}

     <!-- 1. Home section -->
        <section class="home-section signup">
            <div class="hero-banner">
                
                    {% set landing_homebanner = pimcore_image("landing_homebanner") %}
                    {% if landing_homebanner is empty %}
                        <img src="{{asset('/bundles/global/images/home-top-banner.jpg')}}" alt="Home Banner">
                    {% else %}
                        <img src="{{ landing_homebanner.getSrc() }}" alt="Banner">
                    {% endif %}
                

                <div class="banner-caption-box tab-placeholder" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1000">
                    <div id="signup_success" style="display:none;">Success!!</div>
                    <div id="signup_error" style="display:none;">Error!!</div>
                    <div class="user-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#pwd">Password Reset</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            
                            <div id="pwd" class="tab-pane active">

                               <form method="post" id="resetPassword"  action="/resetPassword" >
                                        <div class="form-group">
                                            <input type="hidden" name="sid" value="{{sid}}" id="sid"> 
                                            <label for="exampleFormControlInput1" class="d-none">Password</label>
                                            <input type="password" id="newPassword" required="required" class="form-control" name="newPassword" placeholder="New Password" />
                                            <label for="exampleFormControlInput1" class="d-none">Confirm Password</label>
                                            <input type="password" id="confirmPassword" required="required" class="form-control" name="confirmPassword" placeholder="Confirm Password" />
                                        </div>                                    
                                        <div class="form-group">
                                            <input type="button" value="Submit" onClick="validatePassword();" class="btn"/>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="made-in-logo" data-aos="fade-right" data-aos-once="true" data-aos-delay="30" data-aos-duration="1000">
                        <img src="/bundles/global/images/made-in-india.svg" alt="Made In India Logo">
                    </div>
                </div>                
            </div>
        </section>
{% endblock %}