<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="http://db.onlinewebfonts.com/c/9c2a59d0a11dfc33e7c45a8da4f232a0?family=FS+Emeric" rel="stylesheet" type="text/css"/>
<title>Mi Source - Email Template 01</title>

<style type="text/css">
    body{background-color:#eeeff0;margin:0;padding:0;-webkit-text-size-adjust:none;font-family:"FS Emeric";color:#2E3831;font-size:12px;font-weight:300}
    table td{border-collapse: collapse;mso-table-lspace:0;mso-table-rspace:0}
    table{border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace:0}
    td{border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace:0}
    img{border:none;margin:0;padding:0}
    a{color:#2E3831;text-decoration:underline;}
    p, h1, h2, h3, h4, h5, h6{line-height:normal;margin:0px;padding:0px}
    h1{font-size:12px;font-weight:500}
    .misource_step{background-color:#2E3831;padding:}
</style>
    
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:100%;max-width:600px">
                    <tr>
                        <td style="background-color:#2E3831;color:#e5e4df;padding:28px">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/mi-logo.png" width="163" height="23" />
                                    </td>
                                    <td style="font-size:14px;font-weight:500;text-transform: uppercase;letter-spacing: 1px;text-align: right;">
                                        Imagine It <br/> Make It
                                    </td>
                                </tr>
                            </table>
                            <div class="misource_catch_text"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:35px;background-color:#e4e3de;color:#000000">
                           {# <h1>Hi, %Text(customerName);,</h1> #}
                           <h1>{{ pimcore_input("email_text_head_1",{"placeholder": "Enter Text Here"}) }}</h1>
                            <p>
                                {{  pimcore_wysiwyg("email_text_body", {
                                        "height": 200
                                    }) 
                                }}
                            </p>
                        
                        </td>
                    </tr>

                    <tr>
                        <td class="misource_step">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td>Getting Started 1 Of 2</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding:65px;background-color:#d8d8d1" align="center">
                            <table width="213" cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td style="text-align: center;padding:0 3px"><a href="{{misource_social_whatsapp_url}}" target="_blank"><img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/email-whatsapp-icon.jpg"/></a></td>
                                    <td style="text-align: center;padding:0 3px"><a href="{{misource_social_linkedin_url}}" target="_blank"><img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/email-linkedin-icon.jpg"/></a></td>
                                    <td style="text-align: center;padding:0 3px"><a href="{{misource_social_facebook_url}}" target="_blank"><img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/email-facebook-icon.jpg"/></a></td>
                                    <td style="text-align: center;padding:0 3px"><a href="{{misource_social_instagram_url}}" target="_blank"><img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/email-instagram-icon.jpg"/></a></td>
                                    <td style="text-align: center;padding:0 3px"><a href="{{misource_social_twitter_url}}" target="_blank"><img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/email-twitter-icon.jpg"/></a></td>
                                    <td style="text-align: center;padding:0 3px"><a href="{{misource_social_youtube_url}}"><img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/email-youtube-icon.jpg" target="_blank"/></a></td>
                                    <td style="text-align: center;padding:0 3px"><a href="{{misource_social_printerest_url}}"  target="_blank"><img src="{{CDN_URL}}/assets/{{ constant('3SGLOBALWEBSITEASSETS_PATH') }}/Email/email-pinterest-icon.jpg"/></a></td>
                                </tr>
                            </table>
                            <p style="margin-top:18px;font-weight:500">
                            <a href="https://nu-find.com">{{ pimcore_input("email_text_footer_1",{"placeholder": "Enter Text Here"}) }}</a> | {{ pimcore_input("email_text_footer_2",{"placeholder": "Enter Text Here"}) }}</p>
                            <p style="margin-top:18px">{{ pimcore_input("email_text_footer_3",{"placeholder": "Enter Text Here"}) }}</p>
                            <p style="margin-top:18px">{{ pimcore_input("email_text_footer_4",{"placeholder": "Enter Text Here"}) }}</p>
                            <p style="font-weight:500"><a href="#">Unsubscribe</a> <a href="#">Manage Preferences</a></p>
                            <p style="margin-top:18px">{{ pimcore_input("email_text_footer_5",{"placeholder": "Enter Text Here"}) }}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>