<footer class="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="f-txt-content pr-5">
                            <h3>{{ pimcore_input("landing_aboutus_title") }}</h3>
                            <p>{{ pimcore_input("landing_aboutus_desc") }} </p>
                            <p>{{ pimcore_input("landing_aboutus_deslong") }}</p>
                            <p><a href="#">{{ pimcore_input("landing_learnmore") }}</a></p>
                            <p><a href="#">{{ pimcore_input("landing_termsconditions") }}</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="f-txt-content">
                            <h3>{{ pimcore_input("landing_joinourjourney") }}</h3>
                            <ul class="footer-social-links">
                                <li><a href="https://www.linkedin.com/in/jordan-g-6b0a79205/" title="LinkedIn" target="_blank"><img src="{{ siteBaseUrl ~ '/bundles/global/images/linked-din.svg' }}" alt="social icon"></a></li>
                                <li><a href="https://www.facebook.com/jordan.g.357/" title="Facebook" target="_blank"><img src="{{ siteBaseUrl ~ '/bundles/global/images/fb-icon.svg'}}" alt="social icon"></a></li>
                                <li><a href="https://www.instagram.com/misourceofficial/" title="Instagram" target="_blank"><img src="{{ siteBaseUrl ~ '/bundles/global/images/instagram-icon.svg'}}" alt="social icon"></a></li>
                                <li><a href="https://in.pinterest.com/misourceofficial/_saved/" title="Pinterest" target="_blank"><img src="{{ siteBaseUrl ~ '/bundles/global/images/pinterest.svg'}}" alt="social icon"></a></li>
                                <li><a href="https://www.youtube.com/channel/UCOLQ9slWi7Z9I6WBRGL_8nQ" title="Youtube" target="_blank"><img src="{{ siteBaseUrl ~ '/bundles/global/images/youtube-icon.svg'}}" alt="social icon"></a></li>
                                <li><a href="https://twitter.com/Misourceoffici1" title="Twitter" target="_blank"><img src="{{ siteBaseUrl ~ '/bundles/global/images/twitter.svg'}}" alt="social icon"></a></li>
                                <li><a href="https://wa.me/message/XA32VEP7ROBBH1" title="Whatsapp" target="_blank"><img src="{{ siteBaseUrl ~ '/bundles/global/images/whatsapp.svg'}}" alt="social icon"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="f-txt-content border-right-0">
                            <h3>{{ pimcore_input("landing_wanttolearn_title") }}</h3>
                            <div class="footer-form">
                                <form name="frmContactUs" id="frmContactUs" class="application-form" method="POST" >
                                    <div class="form-group">
                                        <label for="contactMessage" class="d-none">Example textarea</label>
                                        <textarea class="form-control" id="contactMessage" name="contactMessage" style="overflow:auto;resize:none"  rows="3"
                                            placeholder="What’s on your mind?"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactName" class="d-none">Email address</label>
                                        <input type="text" class="form-control" id="contactName" name="contactName"
                                            placeholder="Name*">
                                    </div>
                                    <div class="form-group">
                                        <label for="contactEmail" class="d-none">Email address</label>
                                        <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Email*">
                                    </div>

                                    <div class="form-group">
                                        <label for="contactInquiryType" class="d-none">Example select</label>
                                        <select class="form-control select-auto" id="contactInquiryType" name="contactInquiryType">
                                            <option value="">Type of enquiry</option>
                                            <option>General</option>
                                            <option>Customer Service</option>
                                            <option>Login Problems</option>
                                            <option>Complaint</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit_contactus" class="btn btn-send">Send</button>
                                    </div>
                                    
                                </form> 


                            </div>
                        </div>
                    </div>

                </div>

            </div>
            </div>
        </div>
        <div class="copyright-text">
            ©Copyright 2021 All rights reserved.
        </div>
    </footer>