 <!-- header -->
    <header class="bg-dark-green header">
        <div class="top-nav">
            <div class="container-fluid">
                <ul>
                    <li><a href="#">3S</a></li>
                    <li><a class="active" href="#">NuFIND</a></li>
                    <li><a href="#">Mi.Project</a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg main-nav navbar-dark usr-logged">
            <div class="container-fluid">
            <div class="navbar-container">
                <div class="search-box">
                    <form action="{{ path('search') }}" name="formSearch" id="formSearch" >
                        <button type="submit" id="searchBtn" class="search-btn"></button>
                        <input id="autoComplete" name="term" value="{{ app.request.get("term") }}" type="text" class="text search-input"  autocomplete="on" />
                    </form>
                </div>

                <a class="navbar-brand m-auto" href="{{app.request.schemeAndHttpHost}}/home">
                    <img alt="Brand" src="{{asset('/bundles/global/images/mi-logo.svg')}}">
                    {% set currentUserSubscriptionType =  app_navigation_check_user_subscription_type() %}
                    <span>{{currentUserSubscriptionType | upper }}</span>
                </a>
                
                <div class="head-right-group">
                    <ul>
                        <li><a href="#"><img src="{{asset('/bundles/global/images/favorite-icon.svg')}}" width="41" height="37"></li>
                        <li><a href="#"><img src="{{asset('/bundles/global/images/user-icon.svg')}}" width="34" height="39"></li>
                        <li><a href="#"><img src="{{asset('/bundles/global/images/cart-icon.svg')}}" width="43" height="37"></li>
                    </ul>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="menu-container collapse navbar-collapse" id="collapsibleNavbar">
                     <ul class="navbar-nav" id="3smenu">
                     {% set mainNavigation =  app_navigation_menubar() %}  
                        {% if mainNavigation|length > 0 %}     
                            {% for mainMenu in mainNavigation %}
                                <li class="nav-item">
                                    <a class="nav-link" onclick='return sitemenuValueStore({{mainMenu.id}})' href="{{mainMenu.url}}"><span>{{ mainMenu.label }}</span></a>
                                    {% if mainMenu.children|length > 0 %} 
                                    <div class="main-sub-menu">
                                        <div class="sub-row">
                                            {% for secondMenu in mainMenu.children %}
                                                <div class="menu-column">
                                                    <div class="menu-img">
                                                    {% if secondMenu.image|default %} 
                                                        <img src="{{secondMenu.image}}" />
                                                    {% endif %}            
                                                    </div>
                                                    <a onclick='return sitemenuValueStore({{secondMenu.id}})' href="{{secondMenu.url}}"><h3>{{secondMenu.label}}</h3></a>
                                                    <ul>
                                                        {% for thirdMenu in secondMenu.children %}
                                                            <li><a onclick='return sitemenuValueStore({{thirdMenu.id}})' href="{{thirdMenu.url}}">{{thirdMenu.label}}</a></li>
                                                        {% endfor %}    
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}        
                                </li>
                            {% endfor %}
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span>CURATE</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span>SIGNATURE</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
           </div> 
        </nav>
    </header>
