<!-- header -->
<header class="bg-dark-green header">
        <div class="top-nav">
            <div class="container-fluid">
                <ul>
                    {#<li><a href="#">3S</a></li>
                    <li><a class="active" href="#">Mi.Source</a></li>
                    <li><a href="#">Mi.Project</a></li>#}
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg main-nav navbar-dark">
            <div class="navbar-container">
            
                <a class="navbar-brand m-auto" href="{{app.request.schemeAndHttpHost}}">
                    <img alt="Brand" src="{{ siteBaseUrl ~ '/bundles/global/images/mi-logo.svg'}}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu-container collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login"><span>LOGIN</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#signup"><span>SIGN UP</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
