<!DOCTYPE html>
<html lang="en">

<head>
    {% set siteBaseUrl = app.request.getSchemeAndHttpHost() %}
    {% if not document is defined or not document %}
        {% set document = pimcore_document(1) %}
    {% endif %}

    {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
        {# @var document \Pimcore\Model\Document\Link #}
        {% set document = document.getObject() %}
    {% endif %}
    {% if document.getTitle() is not empty %}
        {% do pimcore_head_title().set(document.getTitle()) %}
    {% endif %}

    {% if document.getDescription() is not empty %}
        {% do pimcore_head_meta().appendName('description',document.getDescription()) %}
    {% endif %}
    {% do pimcore_head_title().append('Mi Source') %}
    {% do pimcore_head_title().setSeparator(' | ') %}
    {% set isPortal = ((isPortal is defined) and isPortal) %}
    {# we're using the deferred extension here to make sure this block is rendered after all helper calls #}
    {% block layout_head_meta deferred %}
    {{ pimcore_head_title() }}
    {{ pimcore_head_meta() }}

    {% if pimcore_placeholder('canonical').count() %}
        <link rel="canonical" href="{{ pimcore_placeholder('canonical') }}"/>
    {% endif %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="google-site-verification" content="bjVTynmWfYEeEhLpJnmA2nTJ7wnuwPy2mcJrRQEAIcc" />
    <!-- START Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K9C40MC8FB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K9C40MC8FB');
    </script>
    <!-- END Global site tag (gtag.js) - Google Analytics -->

    {% spaceless -%}
        <!-- favicon -->
        {% do pimcore_head_link({rel : 'mask-icon', color:'#5bbad5', href: asset('bundles/global/images/favicon/safari-pinned-tab.svg')}, 'PREPEND') %}
        {% do pimcore_head_link({rel : 'icon', type:'image/png',sizes:'16x16', href: asset('bundles/global/images/favicon/favicon-16x16.png')}, 'PREPEND') %}
        {% do pimcore_head_link({rel : 'icon', type:'image/png',sizes:'32x32', href: asset('bundles/global/images/favicon/favicon-32x32.png')}, 'PREPEND') %}
        {% do pimcore_head_link({rel : 'apple-touch-icon', type:'image/png',sizes:'180x180', href: asset('bundles/global/images/favicon/apple-touch-icon.png')}, 'PREPEND') %}
        <!-- stylesheets -->
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/bootstrap.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/font-awesome.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/owl.carousel.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/lightbox.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/select2.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/aos.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/style.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/responsive.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/slick.min.css'), 'screen') %}
          
        
    {%- endspaceless %}
    {% set IE = check_IE() %}
    {% if IE  %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/bootstrap-ie9.min.css'), 'screen') %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/ie.css'), 'screen') %}
    {% endif %}
    {# {% if editmode %}
        {% do pimcore_head_link().appendStylesheet(asset('bundles/global/css/editmode.css')) %}
    {% endif %} #}

    {% block head_stylesheets deferred %}
    {{ pimcore_head_link() }}
    {% endblock %}
</head>
<body>

    {% if editmode %}
    
        {% if app.request.pathinfo == '/NuFind' %}
        
            {{ include('GlobalBundle:layouts:header-no-auth.html.twig') }}
        {%  else %}
        
            {{ include('GlobalBundle:layouts:header.html.twig') }}
        {% endif %}


    {%  else %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}    
            {{ include('GlobalBundle:layouts:header.html.twig') }}
        {%  else %}
            {{ include('GlobalBundle:layouts:header-no-auth.html.twig') }}
        {% endif %}

    {% endif %}

    <main>
        {{ block('content') }}
    </main>
     <!-- The Modal Large -->
    {{ include('GlobalBundle:layouts:popup.html.twig') }}
    {{ include('GlobalBundle:layouts:footer.html.twig') }}
    <div class="bs-loader">
        <div class="bs-loader-inner d-flex justify-content-center align-items-center position-fixed w-100 h-100 text-white">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ include('GlobalBundle:layouts:scripts.html.twig') }}
    {%  else %}
        {{ include('GlobalBundle:layouts:scripts-no-auth.html.twig') }}
    {% endif %}
</body>
</html>
