<div class="modal book-a-demo fade" id="bookAdemo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <button type="button" id="close-btn" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal body -->
                <div class="modal-body" id="bookAdemo_normal">
                    <h2>{{ pimcore_input("landing_bookademo_title") }}</h2>
                    <p>{{ pimcore_input("landing_bookademo_desc") }}</p>

                    <div class="book-demo-form form-commom-design">
                        <form name="frmBookDemo" id="frmBookDemo" class="application-form" method="POST" >
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName" class="d-none">First Name</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="lastName" class="d-none">Last Name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="jobRole" class="d-none">Job Role</label>
                                    <select class="form-control select-job-role" id="jobRole" name="jobRole">
                                        <option value="">Job Role</option>
                                        <option>Owner/CEO</option>
                                        <option>Management</option>
                                        <option>Buyer</option>
                                        <option>Designer</option>
                                        <option>Developer</option>
                                        <option>Marketing</option>
                                        <option>Sales</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyType" class="d-none">Type Of Company</label>
                                    <select class="form-control type-of-company" id="companyType" name="companyType">
                                        <option value="">Type Of Company</option>
                                        <option>DIY/Garden Centre</option>
                                        <option>MAss Merchant/Warehouse</option>
                                        <option>Supermarket</option>
                                        <option>Department Store</option>
                                        <option>Commercial Interior</option>
                                        <option>Homeware/Interior Designer</option>
                                        <option>HoReCa</option>
                                        <option>Individual</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companySize" class="d-none">Company Size</label>
                                    <select class="form-control company-size" id="companySize" name="companySize">
                                        <option value="">Company Size</option>
                                        <option>1-10</option>
                                        <option>11-100</option>
                                        <option>101-250</option>
                                        <option>251-500</option>
                                        <option>501-1000</option>
                                        <option>1001+</option>                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyName" class="d-none">Company Name</label>
                                    <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email" class="d-none">Email</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" name="submit_bookdemo" class="btn btn-send">{{ pimcore_input("landing_bookademo_btnsend") }}</button>
                                </div>
                            </div>
                        </div>
                        </form>
						<div class="col-md-12" id="bookAdemo_error" style="display:none">Error!!</div>

                    </div>
                </div>
				<div class="modal-body" id="bookAdemo_success" style="display:none">
                    <h2>THANKS!</h2>
                    <p>Once we’ve reviewed your company we’ll be in touch.</p>

                    <div class="book-demo-form form-commom-design border-0">
                        <form>
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="thanks-icon">
                                    <img src="bundles/global/images/book-de,mo-thanks-icon.svg" alt="Thanks Icon">
                                </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                
    <!-- Signup Modal -->
    <div class="modal dark-pop fade" id="signup">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                    <button type="button" class="close" id="close-btn-signup" data-dismiss="modal">&times;</button>
                <!-- Modal body -->
                <div class="modal-body" id="signup_form">
                    <h2>Let's get you signed up</h2>
                    <div class="pop-form-wrapper">
                        <form id="customer-selection">
                            <h3>I would like to...</h3>
                            <div class="row mt-3">
                                <div class="col-md-6 mb-3">
                                    <label class="container">
                                        <input type="radio" name="SignupType" id="SignupType" value="retailer">
                                        <span class="checkmark">Buy</span>
                                    </label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="container">
                                        <input type="radio" name="SignupType" id="SignupType" value="distributor">
                                        <span class="checkmark">Supply</span>
                                    </label>
                                </div>								
                            </div>
							<div class="row mt-3">
								<div class="col-md-12 mb-3"><span class="small-text">If both, please create separate accounts with two separate email addresses.</span></div>
							</div>
                        </form>
                        
                        <form name="frmSignup" id="frmSignup" class="application-form" method="POST" style="display:none;">
                            <div class="form-screen-group">                                
								<div class="row">
									<div class="form-group col-sm-12">
										<select name="signupCustTypes" id="signupCustTypes" class="form-control customer-type select-auto">
											<div class="col-md-4 mb-3">
												<option value="">I'm a...</option>
												<option value="R">Retailer</option>
												<option value="D">Distributor</option>
												<option value="C">HoReCa/Contractor</option>
											</div>
										</select>
										<select name="signupSupplierTypes" id="signupSupplierTypes" class="form-control customer-type select-auto">                                                        
											<div class="col-md-4 mb-3">
												<option value="">I'm a...</option>
												 {% if companyTypeOptions is defined %} 
                                                                                {% for companyType in companyTypeOptions %}
																			        <option value="{{companyType.value}}">{{companyType.key}}</option>
                                                                                {% endfor %}
                                                                            {% endif %}
											</div>
										</select>
									</div>
								</div>
								<div class="row no-gutters">
                                    <div class="form-group col-md-6">
                                        <label for="exampleFormControlInput1" class="d-none">First Name</label>
                                        <input type="text" class="form-control" name="firstName" id="signupFirstName" placeholder="First Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleFormControlInput1" class="d-none">Last Name</label>
                                        <input type="text" class="form-control" name="lastName" id="signupLastName" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="exampleFormControlInput1" class="d-none">My Company Name</label>
                                        <input type="text" class="form-control" name="companyName" id="signupCompanyName" placeholder="My Company Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="exampleFormControlInput1" class="d-none">My Company Email address</label>
                                        <input type="email" class="form-control" name="email" id="signupEmail" placeholder="My Company Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="checkbox" name="signupAgree" id="signupAgree"> I have read and I agree the <a href="#">terms of service</a> and <a href="#">privacy policy</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group btn-wrapper col-md-6">
                                    <button type="button" id="signupPrevious" class="btn btn-send btn-previous">Previous</button>
                                </div>
                                <div class="form-group btn-wrapper col-md-6">
                                    <button type="submit" id="signupDone" class="btn btn-send disabled">DONE !</button>
                                </div>
                            </div>
                            <input type="hidden" name="type" id="typeSignup" value="C" />
                        </form>

                        <div id="manufacturer" style="display: none;">
                            <form name="frmSignup" id="examwizard-question" class="application-form" method="POST" enctype="multipart/form-data">
                                <div class="qeustion-box">
                                    <div class="ques-no">
                                        STEP <span id="current-question-number-label"><strong>1</strong></span><span>/5</span>
                                    </div>
                                    <div class="question" data-question="1">
                                        <div class="form-screen-group">
                                            <div class="row">
                                                    <div class="form-group col-sm-12">													
                                                            <select name="signupSupplierTypesMf" id="signupSupplierTypesMf" class="form-control customer-type select-auto">                                                        
                                                                    <div class="col-md-4 mb-3">												
                                                                            <option value="">I'm a...</option>
                                                                            {% if companyTypeOptions is defined %} 
                                                                                {% for companyType in companyTypeOptions %}
																			        <option value="{{companyType.value}}">{{companyType.key}}</option>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                    </div>
                                                            </select>
                                                    </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="form-group col-md-6">
                                                    <label for="exampleFormControlInput1" class="d-none">First Name</label>
                                                    <input type="text" class="form-control" name="signupFirstNameMf" id="signupFirstNameMf" placeholder="First Name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="exampleFormControlInput1" class="d-none">Last Name</label>
                                                    <input type="text" class="form-control" name="signupLastNameMf" id="signupLastNameMf" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleFormControlInput1" class="d-none">My Company Name</label>
                                                    <input type="text" class="form-control" name="signupCompanyNameMf" id="signupCompanyNameMf" placeholder="My Company Name">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleFormControlInput1" class="d-none">My Company Email address</label>
                                                    <input type="email" class="form-control" name="signupEmailMf" id="signupEmailMf" placeholder="My Company Email address">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleFormControlInput1" class="d-none">My Clients</label>
                                                    <input type="text" class="form-control" name="signupClientsMf" id="signupClientsMf" placeholder="My Clients (Please type brands you have worked with)">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <input type="file" id="portfolio-upload" class="file-upload">
                                                    <label for="file" class="file-upload-label form-control">Please attach your portfolio</label>
                                                    <span class="remove-file"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question hidden" data-question="2">
                                        <div class="form-screen-group">
                                            <h3>Select Your Current Market</h3>
                                            <div class="row mt-4">
                                            {% if marketOptions is defined %} 
                                                {% for key, market in marketOptions %}

                                                    <div class="col-md-6 mb-3">
                                                        <label class="container">
                                                            <input type="checkbox" name="signupCountryMf" value="{{market.key}}">
                                                            <span class="checkmark">{{market.value}}</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question hidden" data-question="3">
                                        <div class="form-screen-group">
                                            <h3>Select Your Homeware Product Categories</h3>
                                            <div class="row mt-4">
                                            {% if categories is defined %}
                                                {% for key, category in categories %}
                                                    {% set cherSize = category.getLabel()|length %}
                                                    {% if cherSize >= 25 %}
                                                        {% set dynamicStyle = 'style=font-size:11px;' %}
                                                    {% elseif cherSize >= 20 %}
                                                        {% set dynamicStyle = 'style=font-size:12px;' %}
                                                    {% elseif cherSize >= 16 %}
                                                        {% set dynamicStyle = 'style=font-size:16px;' %}
                                                    {% else %}
                                                        {% set dynamicStyle = 'style=font-size:20px;' %}
                                                    {% endif %}
                                                    <div class="col-md-4 mb-3">
                                                        <label class="container">
                                                            <input type="checkbox" name="signupCategoryMf" value="{{category.getId()}}">
                                                            <span class="checkmark" {{ dynamicStyle }}>{{category.getLabel()}}</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="question hidden" data-question="4">
                                        <div class="form-screen-group">
                                            <h3>Select Your Compliances</h3>
                                            <div class="row mt-4">
                                            {% if compliances is defined %}
                                                {% for key, compliance in compliances %}
                                                    <div class="col-md-4 mb-3">
                                                        <label class="container">
                                                            <input type="checkbox" name="signupComplianceMf" value="{{compliance.getId()}}">
                                                            <span class="checkmark">{{compliance.getName()}}</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}   
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question hidden" data-question="5">
                                        <div class="form-screen-group">
                                            <h3>Tell Us About Your Capacity</h3>
                                            {# <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label class="d-none">My Company Email address</label>
                                                    <input type="text" name="signupFactorySizeMf" id="signupFactorySizeMf" class="form-control" placeholder="Size of Factory">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label class="d-none">My Clients</label>
                                                    <input type="text" name="signupEmployeesMf" id="signupEmployeesMf" class="form-control" placeholder="Employees">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label class="d-none">Portfolio</label>
                                                    <input type="text" name="signupMachinesMf" id="signupMachinesMf" class="form-control" placeholder="Number of Machines">
                                                </div>
                                            </div> #}
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <select name="signupPortMf" id="signupPortMf" class="form-control customer-type select-auto">
                                                    <div class="col-md-4 mb-3">
                                                        <option value="">Select Port</option>
                                                    </div>
                                                    {% if ports is defined %}
                                                        {% for key, port in ports %}                                                    
                                                            <div class="col-md-4 mb-3">
                                                                <option value="{{port.getId()}}">{{port.getName()}}</option>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label class="d-none">FOB</label>
                                                    <input type="text" name="signupFOBMf" id="signupFOBMf" class="form-control" placeholder="FOB">
                                                </div>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <input type="checkbox" name="signupAgreeMf" id="signupAgreeMf"> I have read and I agree the <a href="#">terms of service</a> and <a href="#">privacy policy</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <input type="hidden" value="1" id="currentQuestionNumber" name="currentQuestionNumber" />
                                <input type="hidden" value="5" id="totalOfQuestion" name="totalOfQuestion" />
                                <input type="hidden" value="[]" id="markedQuestion" name="markedQuestions" />
                                <input type="hidden" name="type" id="typeSignupMf" value="S" />
                            
                            
                            <div class="row bottom-btn-row">
                                <div class="form-group btn-wrapper col-md-6">
                                    <button id="back-to-prev-question" type="button" class="btn btn-send btn-previous" style="display: none;">Previous</button>
                                    <button id="prev-screen" type="button" class="btn btn-send btn-previous">Previous</button>
                                </div>
                                <div class="form-group btn-wrapper col-md-6">
                                    <button id="go-to-next-question" type="button" class="btn btn-send btn-next">Next</button>
                                    <button id="finishExams" type="submit" class="btn btn-send btn-next disabled" style="display: none;">DONE !</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-body" id="signup_success" style="display:none;">
                        <h2>You’re All Signed Up!</h2>
                        <div class="pop-form-wrapper">
                                <div class="success-msg">
                                        <h3>Thank you, we’ll be in touch soon to set up your account.</h3>
                                        <div class="row thanks-btn bottom-btn-row">
                                            <div class="form-group btn-wrapper col-md-12">
                                                <button class="btn btn-send" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Thank you modal -->
    <div class="modal dark-pop fade" id="ThankSignup">
            <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <!-- Modal body -->
                            <div class="modal-body">
                                    <h2>You’re All Signed Up!</h2>
                                    <div class="pop-form-wrapper">
                                            <div class="success-msg">
                                                    <h3>Thank you, we’ll be in touch soon to set up your account.</h3>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>