<!-- scripts -->
{% do pimcore_head_script().appendFile(asset('bundles/global/js/jquery.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/bootstrap.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/select2.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/moment.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/daterangepicker.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/jquery.validate.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/popper.min.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/aos.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/lighbox.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/functions.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/main.js')) %}
{% do pimcore_head_script().appendFile(asset('bundles/global/js/examwizard.js')) %}
{# output scripts added before #}
{% block headscripts deferred %}
    {{ pimcore_head_script() }}
{% endblock %}


<script type="text/javascript">
    
    // examwizard
    var examWizard = $.fn.examWizard({
            nextOption: {        
                callBack: function(){
                    $("#prev-screen").hide();
                    $("#back-to-prev-question").show();
                    if($("#current-question-number-label").text()=="5"){
                        $("#finishExams").show();
                        $("#finishExams").addClass('disabled');
                        $("#go-to-next-question").hide();
                    } else {
                        $("#finishExams").hide();
                        $("#go-to-next-question").show();
                    }
                }
            },
            prevOption: {     
                callBack: function(){
                    $("#finishExams").hide(); 
                    $("#go-to-next-question").show();  
                    if($("#current-question-number-label").text()=="1"){
                        $("#back-to-prev-question").hide();
                        $("#prev-screen").show();
                    } else {
                        $("#back-to-prev-question").show();
                        $("#prev-screen").hide();
                    }
                }
            }
        });
        
    $('#signupAgree').change(function(){
        if(this.checked) {
        $("#signupDone").removeClass('disabled');
        }else{
        $("#signupDone").addClass('disabled');
        }
    });

    $('#signupAgreeMf').change(function(){
        if(this.checked) {
        $("#finishExams").removeClass('disabled');
        }else{
        $("#finishExams").addClass('disabled');
        }
    });

    $('input[name=SignupType]').click(function(){
      //alert('on click type');
      var value = $(this).val();
      $('#customer-selection').hide();
      
      $('#signupCustTypes').prop('selectedIndex', 0).change();
      $('#signupSupplierTypes').prop('selectedIndex', 0).change();
      $('#signupSupplierTypesMf').prop('selectedIndex', 0).change();
      
      if(value == 'distributor'){
          $('#typeSignup').val('S');
          $('#frmSignup').show();
          $('#signupSupplierTypes + span').show();
          $('#signupCustTypes + span').hide();
      }else{
          $('#typeSignup').val('C');
          $('#frmSignup').show();
	  $('#signupCustTypes + span').show();
	  $('#signupSupplierTypes + span').hide();
      }
    });
	
	$('#signupSupplierTypes').change(function(){
      //alert('on click type');
      var value = $(this).val();
	  //alert(value);
      if(value == 'M'){
          $('#manufacturer').show();
		  $('#frmSignup').hide();
		  $('#signupSupplierTypesMf').prop('selectedIndex', 2).change();
      }else{
          $('#frmSignup').show();
		  $('#manufacturer').hide();
      }
    });
	
	$('#signupSupplierTypesMf').change(function(){
      //alert('on click type');
      var value = $(this).val();
	  //alert(value);
      if(value == 'M'){
          $('#manufacturer').show();
		  $('#frmSignup').hide();
      }else{
          $('#frmSignup').show();
		  $('#manufacturer').hide();
		  if(value == 'D'){
			$('#signupSupplierTypes').prop('selectedIndex', 1).change();
		  }else if(value == 'S'){
                      //alert('select stylist');
			$('#signupSupplierTypes').prop('selectedIndex', 3).change();
		  }else{
			$('#signupSupplierTypes').prop('selectedIndex', 0).change();
		  }
      }
    });
	
	
	
    
    $('#signupPrevious').click(function(){
      //alert('on click type');
      $('#customer-selection').show();
      $('#frmSignup').hide();
    });
    
    $('#prev-screen').click(function(){
      //alert('on click type');
      $('#customer-selection').show();
      $('#manufacturer').hide();
    });
        
    window.history.replaceState(null, null, window.location.pathname);
    var validationRules = {
        // Specify validation rules
        errorElement: 'span',
        errorClass: 'error-msg',

        rules: {
            firstName: {
                required: true,
                noSpace: true
            },
            lastName: {
                required: true,
                noSpace: true
            },
            email: {
                required: true,
                ValidEmail: true,
                email: true,
                noSpace: true
            },
            jobRole: {
                required: true,
                //minlength : 3,
            },
            companyType: {
                required: true,
                //minlength : 3,
            },
            companySize: {
                required: true,
                //minlength : 3,
            },
            companyName: {
                required: true,
                noSpace: true
            },

        },
        // Specify validation error messages
        messages: {
            firstName: {
                required: 'Required',
                maxlength: "Max 50",
                noSpace: 'Required'
            },
            lastName: {
                required: 'Required',
                maxlength: "Max 50",
                noSpace: 'Required'
            },
            email: {
                required: 'Required',
                email: 'Not valid',
                ValidEmail: 'Not valid`',
                noSpace: 'Required'
            },
            jobRole: {
                required: 'Required',
            },
            companyType: {
                required: 'Required',
            },
            companySize: {
                required: 'Required',
            },
            companyName: {
                required: 'Required',
                noSpace: 'Required'
            },
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        }
    };

    $('#pimcore_editable_landing_bookdemo').click(function (e) {
        $('select').prop('selectedIndex', 0).change();
        $("#email-error, #companySize-error, #lastName-error,#firstName-error,#companyType-error,#jobRole-error,#companyName-error").html("");

    });

    $('#close-btn').click(function (e) {


        $("#frmBookDemo").get(0).reset();
        $('select').prop('selectedIndex', 0).change();
        $('#companyType').prop('selectedIndex', 0).change();
        $("#bookAdemo_success").hide();
        $("#bookAdemo_normal").show();
        $('#frmBookDemo').validate(validationRules).reset();
        $("#email-error, #companySize-error, #lastName-error,#firstName-error,#companyType-error,#jobRole-error,#companyName-error").html("");		

    });

    
    $("#signupPrevious").click(function (e) {
        $('select').prop('selectedIndex', 0).change();
        $("#signupDone").addClass('disabled');
        $("#finishExams").addClass('disabled');
        $('#signupCustTypes').prop('selectedIndex', 0).change();
        $('#signupSupplierTypes').prop('selectedIndex', 0).change();
        $('#signupSupplierTypesMf').prop('selectedIndex', 0).change();
        document.getElementById("customer-selection").reset();
        document.getElementById("frmSignup").reset();
        document.getElementById("examwizard-question").reset();
        $("#frmSignup").hide();
        $("#manufacturer").hide();      
        for (let el of document.querySelectorAll('span.error-msg')) el.style.display = 'none';
        document.querySelector('.file-upload-label').textContent = "Pls link or attach your portfolio";
          $('.remove-file').removeClass('attached');
          const fileInput = document.querySelector('#portfolio-upload');
          fileInput.value="";
        
    });
    $("#prev-screen").click(function (e) {
        $('select').prop('selectedIndex', 0).change();
        $("#signupDone").addClass('disabled');
        $("#finishExams").addClass('disabled');
        $('#signupCustTypes').prop('selectedIndex', 0).change();
        $('#signupSupplierTypes').prop('selectedIndex', 0).change();
        $('#signupSupplierTypesMf').prop('selectedIndex', 0).change();
        document.getElementById("customer-selection").reset();
        document.getElementById("frmSignup").reset();
        document.getElementById("examwizard-question").reset();
        $("#frmSignup").hide();
        $("#manufacturer").hide();      
        for (let el of document.querySelectorAll('span.error-msg')) el.style.display = 'none';
        document.querySelector('.file-upload-label').textContent = "Pls link or attach your portfolio";
          $('.remove-file').removeClass('attached');
          const fileInput = document.querySelector('#portfolio-upload');
          fileInput.value="";
        
    });

	$('#close-btn-signup').click(function (e) {

		$("#signup_success").hide();
                $("#currentQuestionNumber").val(1);
                $('select').prop('selectedIndex', 0).change();
                $('#signupCustTypes').prop('selectedIndex', 0).change();
                $('#signupSupplierTypes').prop('selectedIndex', 0).change();
                $('#signupSupplierTypesMf').prop('selectedIndex', 0).change();
                $("#current-question-number-label").text('1');
                var count=0;
                for (let el of document.querySelectorAll('div.question')){
                    el.classList.remove("hidden");
                    if(count != 0){
                    el.classList.add("hidden");
                    }
                    count++;
                }
                $("#go-to-next-question").removeClass('disabled');
                $("#go-to-next-question").show();
                $("#finishExams").hide();
		$("#frmSignup").hide();
		$("#manufacturer").hide();		
                $("#customer-selection").show();
		document.getElementById("customer-selection").reset();
		document.getElementById("frmSignup").reset();
		document.getElementById("examwizard-question").reset();
        $("#signupDone").addClass('disabled');
        $("#finishExams").addClass('disabled');
		for (let el of document.querySelectorAll('span.error-msg')) el.style.visibility = 'hidden';
		$("#signup_form").show();
                
    });

    var validationRulesContact = {
        // Specify validation rules
        errorElement: 'span',
        errorClass: 'error-msg',

        rules: {
            contactName: {
                required: true,
                noSpace: true
            },
            contactEmail: {
                required: true,
                ValidEmail: true,
                email: true,
                noSpace: true
            }
        },
        // Specify validation error messages
        messages: {
            contactName: {
                required: 'Required',
                noSpace: 'Required',
                maxlength: "Max 50",
            },
            contactEmail: {
                required: 'Required',
                email: "Not valid",
                ValidEmail: 'Not valid'
            }
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        }
    };
	
	var validationRulesSignup = {
        // Specify validation rules
        errorElement: 'span',
        errorClass: 'error-msg',

        rules: {
            firstName: {
                required: true,
                noSpace: true
            },
            companyName: {
                required: true,
                //noSpace: true
            },			
            email: {
                required: true,
                ValidEmail: true,
                email: true,
                noSpace: true
            }
        },
        // Specify validation error messages
        messages: {
            firstName: {
                required: 'Required',
                noSpace: 'Required',
                maxlength: "Max 50",
            },
			companyName: {
                required: 'Required',
                //noSpace: 'Required',
                maxlength: "Max 50",
            },
            email: {
                required: 'Required',
                email: "Not valid",
                ValidEmail: 'Not valid'
            }
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        }
    };
    
    var validationRulesSignupMf = {
        // Specify validation rules
        errorElement: 'span',
        errorClass: 'error-msg',

        rules: {
            signupFirstNameMf: {
                required: true,
                noSpace: true
            },            
            signupCompanyNameMf: {
                required: true,
                //noSpace: true
            },			
            signupEmailMf: {
                required: true,
                ValidEmail: true,
                email: true,
                noSpace: true
            }
        },
        // Specify validation error messages
        messages: {
            signupFirstNameMf: {
                required: 'Required',
                noSpace: 'Required'
            },
	       signupCompanyNameMf: {
                required: 'Required',
                //noSpace: 'Required'
            },
            signupEmailMf: {
                required: 'Required',
                email: "Not valid",
                ValidEmail: 'Not valid'
            }
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        }
    };

    $(function () {
        //alert('test');
        jQuery.validator.addMethod("ValidEmail", function (value, element) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(value);
        });

        jQuery.validator.addMethod("noSpace", function (value, element) {
            return value.indexOf(" ") < 0 && value != "";
        });

        $('#frmBookDemo').validate(validationRules);
        //alert('before submit');


        $('#frmBookDemo').submit(function (event) {

            //submit form with ajax - start
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var email = $("#email").val();
            var jobRole = $("#jobRole").val();
            var companyType = $("#companyType").val();
            var companySize = $("#companySize").val();
            var companyName = $("#companyName").val();


            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();

            if ($('#frmBookDemo').valid()) {

                $.ajax({
                    type: "POST",
                    url: "/booking",
                    data: "firstName=" + firstName + "&lastName=" + lastName + "&email=" + email + "&jobRole=" + jobRole + "&companyType=" + companyType + "&companySize=" + companySize + "&companyName=" + companyName + "&submitAction=bookAdemo",
                    success: function (data) {
                    
                        if (data == 'success') {
                            $("#bookAdemo_success").show();
                            $("#bookAdemo_normal").hide();
                        } else {
                            $("#bookAdemo_error").show();
                        }
                    }
                });
                //alert('ajax end');

            }
        });
		
		
        $('#frmSignup').validate(validationRulesSignup);
    	$('#frmSignup').submit(function (event) {
                //alert("before submit");
                // stop the form from submitting the normal way and refreshing the page

                var firstName = $("#signupFirstName").val();
                var email = $("#signupEmail").val();
                var companyName = $("#signupCompanyName").val();
                var lastName = $("#signupLastName").val();
                //var signupSupplierTypes = $('input[name="signupSupplierTypes"]:selectedIndex').val();
                var signupSupplierType = $('#signupSupplierTypes option:selected').val();
                
                var signupCustType = $('#signupCustTypes').find(":selected").text();
    			//var type = $('input[name="type"]:checked').val();
    			var type = $("#typeSignup").val()
    			//alert(type);
    			
    			if(type == 'C'){
    				var actionurl = '/customerSignup';
    			}else{
    				var actionurl = '/supplierSignup';
    			}
    			
                event.preventDefault();

                if ($('#frmSignup').valid()) {
    				
    				$.ajax({
                        type: "POST",
                        url: actionurl,
                        data: "firstName=" + firstName + "&lastName="+lastName+"&email=" + email + "&companyName=" + companyName + "&supplierType=" + signupSupplierType + "&custType=" + signupCustType,
                        success: function (data) {
                            data = JSON.parse(data);
                            if (data.status == 'success') {
                                $("#signup_success").show();
                                $("#signup_form").hide();
                            } else {
                                var error = data.errorData;
                                //alert(error.companyName);
                                //alert(error.email);
                                if(error.email){
                                    $('<span id="signupEmail-error" class="error-msg">'+error.email+'</span>').insertAfter("#signupEmail");
                                }
                                if(error.companyName){
                                    $('<span id="signupCompanyName-error" class="error-msg">'+error.companyName+'</span>').insertAfter("#signupCompanyName");                                
                                }
                                
                                $("#signup_form").show();
                                $("#signup_success").hide();
                            }
                        }
                    });
    			}
    	});
        
        $('#examwizard-question').validate(validationRulesSignupMf);
        $('#go-to-next-question').on('click', function(event) {
           var screen = $("#currentQuestionNumber").val();
           //alert(screen);            
            if(screen == 1){
                //alert('validate first screen');
                event.preventDefault();

                if ($('#examwizard-question').valid()) {
                    //return true;
                    //alert('validated');            
                    var actionurl = '/supplierSignupCheck';
                    var firstName = $("#signupFirstNameMf").val();
                    var email = $("#signupEmailMf").val();
                    var companyName = $("#signupCompanyNameMf").val();
                    var clients = $("#signupClientsMf").val();
                    var lastName = $("#signupLastNameMf").val();
                    var fd = new FormData();
                    fd.append('firstName',firstName);
                    fd.append('lastName',lastName);
                    fd.append('email',email);
                    fd.append('companyName',companyName);
                    fd.append('clients',clients);

                    $.ajax({
                        type: "POST",
                        url: actionurl,
                        data: fd,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            data = JSON.parse(data);
                            //alert(data.status);
                            if (data.status == 'success') {
                                $("#current-question-number-label").text('2');
                                $("#currentQuestionNumber").val(2);
                                var count=0;
                                for (let el of document.querySelectorAll('div.question')){
                                    el.classList.remove("hidden");
                                    if(count != 1){
                                    el.classList.add("hidden");
                                    }
                                    count++;
                                }
                                $("#back-to-prev-question").show();
                                $("#prev-screen").hide();
                                $("#back-to-prev-question").removeClass('disabled');
                            } else {
                                var error = data.errorData;
                                //alert(error.companyName);
                                //alert(error.email);
                                $("#current-question-number-label").text('1');
                                $("#currentQuestionNumber").val(1);
                                if(error.email){
                                    $('<span id="signupEmailMf-error" class="error-msg">'+error.email+'</span>').insertAfter("#signupEmailMf");
                                }
                                if(error.companyName){
                                    $('<span id="signupCompanyNameMf-error" class="error-msg">'+error.companyName+'</span>').insertAfter("#signupCompanyNameMf");                                
                                }
                            }
                        }
                    });

                    $("#current-question-number-label").text('1');
                    $("#currentQuestionNumber").val(1);
                    return false;
                }else{
                    //alert('else validated');
                    $("#current-question-number-label").text('1');
                    $("#currentQuestionNumber").val(1);
                    return false;
                }
            }
        });        
        
        $('#examwizard-question').submit(function (event) {
            //alert("before submit");
            // stop the form from submitting the normal way and refreshing the page
			
            var firstName = $("#signupFirstNameMf").val();
            var email = $("#signupEmailMf").val();
            var companyName = $("#signupCompanyNameMf").val();
            var lastName = $("#signupLastNameMf").val();
            var signupFactorySizeMf = $("#signupFactorySizeMf").val();
            var signupEmployeesMf = $("#signupEmployeesMf").val();
            var signupMachinesMf = $("#signupMachinesMf").val();
            var signupPortMf = $('#signupPortMf').find(":selected").val();
            var signupFOBMf = $("#signupFOBMf").val();
            var clients = $("#signupClientsMf").val();
                   
            ///alert(firstName);
            var signupCountryMf = '';
            $('input[name="signupCountryMf"]:checked').each(function() {
               signupCountryMf = signupCountryMf + this.value+',';
            });
            
            var signupCategoryMf = '';
            $('input[name="signupCategoryMf"]:checked').each(function() {
               signupCategoryMf = signupCategoryMf + this.value+',';
            });
            
            var signupComplianceMf = '';
            $('input[name="signupComplianceMf"]:checked').each(function() {
               signupComplianceMf = signupComplianceMf + this.value+',';
            });
            
            var signupSupplierType = $('#signupSupplierTypesMf option:selected').val();
            
            var fd = new FormData();
            fd.append('firstName',firstName);
            fd.append('lastName',lastName);
            fd.append('email',email);
            fd.append('companyName',companyName);
            fd.append('signupFactorySizeMf',signupFactorySizeMf);
            fd.append('signupEmployeesMf',signupEmployeesMf);
            fd.append('signupMachinesMf',signupMachinesMf);
            fd.append('signupPortMf',signupPortMf);
            fd.append('signupFOBMf',signupFOBMf);
            fd.append('signupCountryMf',signupCountryMf);
            fd.append('signupCategoryMf',signupCategoryMf);
            fd.append('signupComplianceMf',signupComplianceMf);
            fd.append('supplierType',signupSupplierType);
            fd.append('clients',clients);
            
            var files = $('#portfolio-upload')[0].files;  

            // Check file selected or not
            //alert(files.length);
            if(files.length > 0 ){
               fd.append('file',files[0]);
            }

            var actionurl = '/supplierSignup';
            event.preventDefault();

            //if ($('#frmSignup').valid()) {
                //return true;

                $.ajax({
                    type: "POST",
                    url: actionurl,
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        data = JSON.parse(data);
                        if (data.status == 'success') {
                            $("#signup_success").show();
                            $("#signup_form").hide();
                        } else {                           
                            $("#signup_form").show();
                            $("#signup_success").hide();
                        }
                    }
                });
			//}
	});


        $('#frmContactUs').validate(validationRulesContact);
        //alert('before submit');

        $('#frmContactUs').submit(function (event) {

            //submit form with ajax - start
            var contactName = $("#contactName").val();
            var contactMessage = $("#contactMessage").val();
            var contactEmail = $("#contactEmail").val();
            var contactInquiryType = $("#contactInquiryType").val();


            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();

            console.log('1111');


            if ($('#frmContactUs').valid()) {
                //alert('validated');
                console.log('2222');
                //return true;

                //alert('ajax start');
                //alert("name=" + contactName +"&message=" +contactMessage+"&email=" +contactEmail+"&inquiryType=" +contactInquiryType+"&submitAction=contactUs");

                $.ajax({
                    type: "POST",
                    url: "/contact",
                    data: "name=" + contactName + "&message=" + contactMessage + "&email=" + contactEmail + "&inquiryType=" + contactInquiryType + "&submitAction=contactUs",
                    success: function (data) {

                        if (data == 'success') {
                            $("#frmContactUs").get(0).reset();
                            $('#contactInquiryType').prop('selectedIndex', 0).change();
                            $("#contact_success").show();
                        } else {
                            $("#contact_error").show();
                        }
                    }
                });
                //alert('ajax end');

            }
        });

    });


    function sitemenuValueStore(id) {  
           
            $.post("/sitemenuValue", {"siteMenuId": id});
    }


    function validatePassword() {
        var validator = $("#resetPassword").validate({
            rules: {
                newPassword: "required",
                confirmPassword: {
                    equalTo: "#newPassword"
                }
            },
            messages: {
                newPassword: " Enter Password",
                confirmPassword: " Enter Confirm Password Same as Password"
            }
        });
        if (validator.form()) {
            $("#resetPassword").submit();
        }
    }
</script>

