{% extends 'layout/layout.html.twig' %}
{% block content %}
<!-- 1. Home section -->
        <section class="home-section">
            <div class="hero-banner">
                {% if editmode %}
					{{ pimcore_image("landing_homebanner", {
						"title": "Source to Shelf icon",
						"uploadPath": "/NuFind Website/Landing Page"
					}) }}
					
				{% else %}
					{% set thumbnailHomeBanner = pimcore_image("landing_homebanner") %}
					{% if thumbnailHomeBanner is empty %}
						<img src="bundles/global/images/home-top-banner.jpg" alt="Home Banner">
					{% else %}
						<img src="{{ thumbnailHomeBanner.getSrc() }}" alt="Home Banner">
					{% endif %}
				{% endif %}
				
                <div class="banner-caption-box" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1000" style="display:none">
                    <div class="cap-text">
                    <span class="B2B-text">Business-2-Business</span>
                    <h1>{{ pimcore_input("landing_homeware") }}</h1>
					<span class="MSE-text">{{ pimcore_input("landing_supereasy") }}</span>
                    </div>
                      <!-- Book a demo button -->
                      <a href="#frmContactUs" class="btn-book-demo">{{ pimcore_input("landing_bookdemo") }} </a>
                      {# <a href="" class="btn-book-demo" data-toggle="modal" data-target="#bookAdemo">{{ pimcore_input("landing_bookdemo") }} </a> #}
                    <div class="cap-bottom-text">
                        <p>{{ pimcore_input("landing_clickaway") }}</p>
                    </div>
					<div class="made-in-logo" data-aos="fade-right" data-aos-once="true" data-aos-delay="30" data-aos-duration="1000">
                        <img src="bundles/global/images/made-in-india.svg" alt="Made In India Logo">
                    </div>
                </div>
            </div>
        </section>

        <!-- 2. content section -->

        <section class="section text-center smart-way-sec">
            <div class="container" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                <h2 class="main-title text-center">{{ pimcore_input("landing_smartway") }}</h2>
                <p>{{ pimcore_input("landing_subscriptionPara") }}</p>
                <p class="links">
                    <a class="btn btn-lg btn-white" href="#frmContactUs" role="button">{{ pimcore_input("landing_subscriptionLink") }}</a>
                </p>
            </div>
        </section>

        <!-- 3. Source to Shelf - Retail Ready Tool Kits -->
        <section class="section souce-to-shelf-sec">
            <div class="container-fluid">
                <div class="box-content">
                    <h2 data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">{{ pimcore_input("landing_title_toolkit") }}</h2>
                    <div class="tool-kit-box">
                        <ul class="tool-box-list">
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon1", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon1") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/audited-fact-icon.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    <h3>{{ pimcore_input("landing_sec3_title1") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc1") }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon2", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon2") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/assortment-icon.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    <h3>{{ pimcore_input("landing_sec3_title2") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc2") }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon3", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon3") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/full-customization-icon.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    <h3>{{ pimcore_input("landing_sec3_title3") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc3") }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon4", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon4") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/moqs-logo.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    <h3>{{ pimcore_input("landing_sec3_title4") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc4") }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon5", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon5") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/calculated-container-fill-icon.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    

                                    <h3>{{ pimcore_input("landing_sec3_title5") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc5") }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon6", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon6") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/fully-quality-contro-icon.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    

                                    <h3>{{ pimcore_input("landing_sec3_title6") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc6") }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon7", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon7") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/projected-managed-icon.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    

                                    <h3>{{ pimcore_input("landing_sec3_title7") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc7") }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                    <div class="icon-box">
                                        {% if editmode %}
											{{ pimcore_image("landing_sec3_icon8", {
												"title": "Source to Shelf icon",
												"uploadPath": "/NuFind Website/Landing Page"
											}) }}
											
										{% else %}
											{% set thumbnailIcon = pimcore_image("landing_sec3_icon8") %}
											{% if thumbnailIcon is empty %}
												<img src="bundles/global/images/retail-ready-icon.svg" alt="icon">
											{% else %}
												<img src="{{ thumbnailIcon.getSrc() }}" alt="icon">
											{% endif %}
										{% endif %}
										
                                    </div>
                                    

                                    <h3>{{ pimcore_input("landing_sec3_title8") }}</h3>
                                    <p>{{ pimcore_input("landing_sec3_desc8") }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- 4. home ware brands -->
        <section class="home-ware-brands-sec section">
            <div class="white-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                <div class="home-brand-typo">
                    <p>{{ pimcore_input("landing_sec4_title") }}</p>
                    <h2>{{ pimcore_input("landing_sec4_titleh2") }}</h2>
                    <p>{{ pimcore_input("landing_sec4_descline") }}</p>
                </div>
                <div class="home-brand-bar">
                    <ul class="{{ editmode ? 'home-brand-slider-edit d-block' : 'home-brand-slider' }} owl-carousel   owl-theme">
						{% set selectStore = [] %}
						{% for i in 2..29 %}
							{% set selectStore = selectStore|merge([i]) %}
						{% endfor %}

						{% set slidesSelect = pimcore_select('slides', {
							store: selectStore,
							reload: true,
							width: 70,
							class: 'align-middle'
						}) %}

						{% set id = 'gallery-carousel-123' %}
						{% set slides = slidesSelect.getData()|default(2) %}

						{% if editmode %}

							<div class="alert alert-secondary col-xs-12" style="height: 75px">
								<div class="col-xs-6 d-inline mx-auto">
									<span class="editmode-label align-middle">How many images you want to show?</span>
									{{ slidesSelect|raw }}
								</div>

							</div>

						{% endif %}

						{% for i in 0..(slides-1) %}
                        <li class="item">
                            {% if editmode %}
                                {{
                                    pimcore_image('image_' ~ i, {
                                        hidetext: true,
                                        dropClass: id ~ '-' ~ i,
										"uploadPath": "/NuFind Website/Landing Page"
                                    })
                                }}

                            {% else %}
                                {% set thumbnail_b1 = pimcore_image('image_' ~ i, {
                                        hidetext: true,
                                        dropClass: id ~ '-' ~ i
                                    }) %}
                                {% if thumbnail_b1 is empty %}
                                    <img src="bundles/global/images/ross-logo.svg" alt="Brand Logo">
                                {% else %}
                                    <img src="{{ thumbnail_b1.getSrc() }}" alt="Brand Logo">
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <!-- Access to the whole of india from one platform -->
        <section class="section india-from-one-platform">
            <div class="container-fluid">
                <div class="box-content" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                    <h2>{{ pimcore_input("landing_sec5_titleh2") }}</h2>
                    <div class="two-col-box no-gutters row  justify-content-center">
                        <div class="col-md-12 col-lg-6 col-sm-12">
                            <div class="col-box">
                                <h3>{{ pimcore_input("landing_sec5_ouroffices") }}</h3>
                                <div class="in-map-image">
                                    {% if editmode %}
										{{ pimcore_image("landing_map", {
											"title": "Source to Shelf icon",
											"uploadPath": "/MiSource/LandingPage"
										}) }}
										
									{% else %}
										{% set thumbnail = pimcore_image("landing_map") %}
										{% if thumbnail is empty %}
											<img src="bundles/global/images/india-map.svg" alt="Map Image">
										{% else %}
											{{ pimcore_image("landing_map") }}
										{% endif %}
									{% endif %}	
									
                                </div>
								<div class="smar-sol-logo" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1000">
								<img src="bundles/global/images/smart-sourcing-logo.svg" alt="Smart Source Logo">
								</div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-sm-12">
                            <div class="col-box border-right-0">
                                <div class="map-image">
                                    {% if editmode %}
										{{ pimcore_image("landing_map2", {
											"title": "Source to Shelf icon",
											"uploadPath": "/MiSource/LandingPage"
										}) }}
										
									{% else %}
										{% set thumbnail = pimcore_image("landing_map2") %}
										{% if thumbnail is empty %}
											<img src="bundles/global/images/world-map.svg" alt="Map Image">
										{% else %}
											{{ pimcore_image("landing_map2") }}
										{% endif %}
									{% endif %}	
									
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- Access to the whole of india from one platform -->
        <section id="subscriptions-sec" class="section subscription-section" style="display:none;">
            <div class="container">
                <div class="box-content" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                    <h2>{{ pimcore_input("landing_sec6_titleh2") }}</h2>
                    <p class="sub-text">{{ pimcore_input("landing_sec6_descline") }}</p>
                    <div class="row mt-5 justify-content-center">
                        <div class="col-md-6 col-lg-4 col-sm-6">
                            <div class="subscribe-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="800">
                                <div class="subscr-head">
                                    <span class="level-title">{{ pimcore_input("landing_sec6_level1title") }}</span>
                                    <h3>NuFIND <span>{{ pimcore_input("landing_sec6_level1type") }}</span></h3>
                                </div>
                                <div class="subscr-content">
                                    <h4>{{ pimcore_input("landing_sec6_level1descline") }}</h4>
                                    <p class="access-to">Access to:</p>
                                    <ul class="access-to-list">
                                        <li><strong>{{ pimcore_input("landing_sec6_level1access1") }}</strong></li>
                                        <li><strong>{{ pimcore_input("landing_sec6_level1access2") }}</strong></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6">
                            <div class="subscribe-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1200">
                                <div class="subscr-head">
                                    <span class="level-title">{{ pimcore_input("landing_sec6_level2title") }}</span>
                                    <h3>NuFIND <span>{{ pimcore_input("landing_sec6_level2type") }}</span></h3>
                                </div>
                                <div class="subscr-content">
                                    <h4>{{ pimcore_input("landing_sec6_level2descline") }}</h4>
                                    <p class="access-to">Access to:</p>
                                    <ul class="access-to-list">
                                        <li>{{ pimcore_input("landing_sec6_level2access1") }}</li>
                                        <li>{{ pimcore_input("landing_sec6_level2access2") }} </li>
                                        <li><strong>{{ pimcore_input("landing_sec6_level2access3") }}</strong></li>
                                        <li><strong>{{ pimcore_input("landing_sec6_level2access4") }}</strong></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6">
                            <div class="subscribe-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1400">
                                <div class="subscr-head">
                                    <span class="level-title">{{ pimcore_input("landing_sec6_level3title") }}</span>
                                    <h3>NuFIND <span>{{ pimcore_input("landing_sec6_level3type") }}</span></h3>
                                </div>
                                <div class="subscr-content">
                                    <h4>{{ pimcore_input("landing_sec6_level3descline") }}</h4>
                                    <p class="access-to">Access to:</p>
                                    <ul class="access-to-list">
                                        <li>{{ pimcore_input("landing_sec6_level3access1") }}</li>
                                        <li>{{ pimcore_input("landing_sec6_level3access2") }}</li>
                                        <li>{{ pimcore_input("landing_sec6_level3access3") }}</li>
                                        <li>{{ pimcore_input("landing_sec6_level3access4") }}</li>
                                        <li><strong>{{ pimcore_input("landing_sec6_level3access5") }}</strong></li>
                                        <li><strong>{{ pimcore_input("landing_sec6_level3access6") }}</strong></li>
                                        <li><strong>{{ pimcore_input("landing_sec6_level3access7") }}</strong></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                        <!-- Book a demo button -->
                        <a href="" class="btn-book-demo" data-toggle="modal" data-target="#bookAdemo">Book a Demo </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
{% endblock %}