{% extends 'GlobalBundle:layouts:layout.html.twig' %}
{% block content %}
        
        <!-- 1. Home section -->
        <section class="home-section">
            <div class="{{ editmode ? 'hero-banner-edit d-block banner-carousel-edit' : 'hero-banner banner-carousel ' }}  owl-carousel owl-theme">
                <div class="item">
                    {% if editmode %}
                        {{ pimcore_image("mihome_img1", {
                            "title": "Home banner",
                            "uploadPath": misource_landing_path
                        }) }}
                    {% else %}
                        {% set mihome_img1 = pimcore_image("mihome_img1") %}
                        {% if mihome_img1 is empty %}
                            <img src="{{asset('/bundles/global/images/head-image.png')}}" alt="Home Banner">
                        {% else %}
                            <img src="{{ mihome_img1.getSrc() }}" alt="Home Banner">
                        {% endif %}
                    {% endif %}                    
                </div>
                <div class="item">
                    {% if editmode %}
                        {{ pimcore_image("mihome_img2", {
                            "title": "Home banner",
                            "uploadPath": misource_landing_path
                        }) }}
                    {% else %}
                        {% set mihome_img2 = pimcore_image("mihome_img2") %}
                        {% if mihome_img2 is empty %}
                            <img src="{{asset('/bundles/global/images/head-image.png')}}" alt="Home Banner">
                        {% else %}
                            <img src="{{ mihome_img2.getSrc() }}" alt="Home Banner">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="item">
                    {% if editmode %}
                        {{ pimcore_image("mihome_img3", {
                            "title": "Home banner",
                            "uploadPath": misource_landing_path
                        }) }}
                    {% else %}
                        {% set mihome_img3 = pimcore_image("mihome_img3") %}
                        {% if mihome_img3 is empty %}
                            <img src="{{asset('/bundles/global/images/head-image.png')}}" alt="Home Banner">
                        {% else %}
                            <img src="{{ mihome_img3.getSrc() }}" alt="Home Banner">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- OUR FAVORITE FINDS -->

        <section class="section text-center favrite-find-section">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-md-12">
                     <div class="section-title">
                        <h2>{{ pimcore_input("mihome_txt1",{"placeholder": "OUR FAVORITE FINDS"}) }} </h2>
                    </div>
                </div>
             </div>
             <div class="our-favorite-finds mt-70">
                 <div class="favorite-finds-slider owl-padding owl-carousel owl-theme">
                 <div class="item">
                     <div class="product-box">
                         <div class="product-img">
                             <img src="/bundles/global/images/product-image/storage-basket.png" alt="Storage Basket">
                        </div>
                        <div class="pro-btn-dv">
                            <a href="#" class="product-btn btn">Storage Basket</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="/bundles/global/images/product-image/just-rug.png" alt="Just Rug">
                       </div>
                       <div class="pro-btn-dv">
                           <a href="#" class="product-btn btn">Just Rug</a>
                       </div>
                   </div>
               </div>
               <div class="item">
                <div class="product-box">
                    <div class="product-img">
                        <img src="/bundles/global/images/product-image/ceramik-mug.png" alt="Just Rug">
                   </div>
                   <div class="pro-btn-dv">
                       <a href="#" class="product-btn btn">Ceramic Mug</a>
                   </div>
               </div>
           </div>
           <div class="item">
            <div class="product-box">
                <div class="product-img">
                    <img src="/bundles/global/images/product-image/Groupe-987.png" alt="Just Rug">
               </div>
               <div class="pro-btn-dv">
                   <a href="#" class="product-btn btn">Rattan Coffee Table</a>
               </div>
           </div>
           </div>
       </div>
            </div>
        </div>
        </section>

    <!--End OUR FAVORITE FINDS -->

    <section class="browse-categories">
    {% if editmode %}
       
        {{ pimcore_relations("objectPaths", {
            "types": ["asset","object"],
            "subtypes": {
                "asset": ["video","image"],
                "object": ["object"]
            },
            "classes": ["SiteMenu"]
        }) }}
    {% else %}
    <div class="container-fluid">
            <div class="box-content">
                <div class="tool-kit-box">
                    <ul class="tool-box-list">

                        {% for element in pimcore_relations("objectPaths") %}
                        {% set mainNavigation =  app_navigation_category_url(element) %}  

                            <li>
                                <a href="{{mainNavigation.url}}">
                                    <div class="tl-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                                        <div class="icon-box">
                                            {% if element.getCategory().getImage() %}
                                            <img src="{{element.getCategory().getImage()}}" alt="icon">
                                            {% else %}
                                            <img src="/bundles/global/images/browse-living.svg" alt="icon">
                                            {% endif %}
                                        </div>
                                        <span>{{element.getLabel()}}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}

                 
                    </ul>
                </div>
            </div>
        </div>
        
    </ul>
    {% endif %}        
    </section>

        <!-- RECOMMENDED FOR YOU -->
          <section class="section text-center recommended-for-you-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                           <h2>{{ pimcore_input("mihome_txt2",{"placeholder": "RECOMMENDED FOR YOU"}) }} </h2>
                       </div>
                   </div>
                </div>
                <div class="recommended-for-you mt-70">
                    <div class="recom-for-you-slider owl-padding owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-box">
                            <div class="product-img">
                                <img src="/bundles/global/images/product-image/Groupe-994.png" alt="Storage Basket">
                           </div>
                           <div class="pro-btn-dv">
                               <a href="#" class="product-btn btn">Storage Basket</a>
                           </div>
                       </div>
                   </div>
                   <div class="item">
                       <div class="product-box">
                           <div class="product-img">
                            <img src="/bundles/global/images/product-image/Groupe-993.png" alt="Just Rug">
                          </div>
                          <div class="pro-btn-dv">
                              <a href="#" class="product-btn btn">Just Rug</a>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                   <div class="product-box">
                       <div class="product-img">
                        <img src="/bundles/global/images/product-image/Groupe-992.png" alt="Just Rug">
                      </div>
                      <div class="pro-btn-dv">
                          <a href="#" class="product-btn btn">Ceramic Mug</a>
                      </div>
                  </div>
              </div>
              <div class="item">
               <div class="product-box">
                   <div class="product-img">
                    <img src="/bundles/global/images/product-image/Groupe-991.png" alt="Just Rug">
                  </div>
                  <div class="pro-btn-dv">
                      <a href="#" class="product-btn btn">Rattan Coffee Table</a>
                  </div>
              </div>
              </div>
          </div>
               </div>
           </div>
           </section>
   
       <!--End OUR FAVORITE FINDS -->
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}  
    {% set checkUserSubType =  app_navigation_check_user_subscription_type() %}
    {% if  checkUserSubType == "Curate" %}
       <section class="smart-curations">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 left-curation-box">
                        <h3>
                        {{ pimcore_input("mihome_txt3",{"placeholder": "Discover Your"}) }}
                        <span>{{ pimcore_input("mihome_txt4",{"placeholder": "Smart Curations"}) }}</span>
                        </h3>
                        <p>{{ pimcore_input("mihome_txt5",{"placeholder": "We’ve hand-picked products from manufactures across India into 40 easy to navigate styles. Discover a style that best matches your brand, and quickly curate products uniquely relevant to you."}) }}</p>
                    </div>
                    <div class="col-xl-7 right-curation-box">
                        {% if editmode %}
                            {{ pimcore_image("mihome_img4", {
                                "title": "smart curations",
                                "uploadPath": misource_landing_path
                            }) }}
                        {% else %}
                            {% set mihome_img4 = pimcore_image("mihome_img4") %}
                            {% if mihome_img4 is empty %}
                                <img src="{{asset('/bundles/global/images/smart-curations.png')}}" alt="smart curations">
                            {% else %}
                                <img src="{{ mihome_img4.getSrc() }}" alt="Home Banner">
                            {% endif %}
                        {% endif %}
                        <span>{{ pimcore_input("mihome_txt6",{"placeholder": "Match my style"}) }} &nbsp;<i class="fa fa-angle-right"></i></span>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    {% endif %}
        <!-- RECENTLY VIEWED -->
    {% if(recentlyViewedProducts|length > 0) %}
        <section class="section text-center recently-viewed-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>{{ pimcore_input("mihome_txt7",{"placeholder": "RECENTLY VIEWED"}) }}  </h2>
                        </div>
                    </div>
                </div>
                <div class="recently-viewed mt-70">
                    <div class="recently-viewed-slider owl-padding owl-carousel owl-theme">


                        {%  for rvitem in recentlyViewedProducts %}
                            {% set id =  app_navigation_sitemap_id('',rvitem.category) %}
                            <div class="item">
                                <div class="product-box">
                                    <div class="product-img">
                                        {% if rvitem.mainImage %}
                                            <img src="{{ rvitem.mainImage.thumbnail('recentlyViewedProductImage') }}" />
                                        {% else %}
                                            <img src="{{ pimcore_website_config('noImage').thumbnail('recentlyViewedProductImage') }}" />
                                        {% endif %}
                                    </div>
                                    <div class="pro-btn-dv">
                                        <a onclick='return sitemenuValueStore({{id}})' href="{{app_navigation_product_details(rvitem)}}" class="product-btn btn">{{ rvitem.productName }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
    {% endif %}
       <!--End OUR FAVORITE FINDS -->    


{% endblock %}

