{%  if(values is not empty and values|length > 0) %}
    {% set translatedValues = app_general_filter_translate(values) %}
    {% set sortedValues = app_general_filter_sort(translatedValues, 'translated')  %}
    {% set tmyt = 'two-item'  %}
   {% if fieldname == 'priceLevel' %} {% set tmyt = '' %} {% endif %}

    <div class="block">
        <div class="block-title">{{ label }}</div>
        <div class="block-content {{ tmyt }}">

                {% for value in sortedValues %}
                    {% if(value['value'] is not empty) %}

                        {% set checked = (value['value'] in currentValue) %}

                            <label class="container">
                                <input type="checkbox" class="fltr-chkbox" id="{{ fieldname ~ value['value'] }}" name="{{  fieldname }}[]" value="{{ value['value'] }}" {{ checked ? 'checked="checked"' : ''  }}>
                                {% set getValueStr = app_general_filter_value_string(fieldname, value['value'])  %}
                                {% if label == 'Shipping' %}
                                    {% if getValueStr == 'Both' %}
                                        <span class="checkmark"> FCL/LCL </span>
                                    {% else %}
                                        <span class="checkmark"> {{ getValueStr }} </span>
                                    {% endif %}
                                {% else %}
                                    <span class="checkmark"> {{ getValueStr }} </span>
                                {% endif %}
                            </label>

                    {%  endif %}
                {% endfor %}
        </div>
    </div>
{% endif %}