{%  if(values is not empty and values|length > 0) %}

    <div class="block">
        <div class="block-title">{{ label }}</div>
        <div class="block-content two-item">
            {% for value in values %}
                {% set checked = currentValue == value['from'] ~ '-' ~ value['to'] %}
                    <label class="container">
                        <input type="radio" class="fltr-chkbox" id="{{ fieldname ~ value['from'] ~ '-' ~ value['to']  }}" name="{{  fieldname }}" value="{{ value['from'] ~ '-' ~ value['to'] }}" {{ checked ? 'checked="checked"' : ''  }} >
                        <span class="checkmark"> {{ value['label'] }} </span>
                    </label>
            {% endfor %}
        </div>
    </div>


{% endif %}