<footer class="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="f-txt-content pr-5">
                            <h3>{{ pimcore_input("landing_aboutus") }}</h3>
                            <p>{{ pimcore_input("landing_aboutusline1") }} </p>
                            <p> {{ pimcore_input("landing_aboutusline2") }}</p>
                            <p><a href="#">{{ pimcore_input("landing_learnmore") }}</a></p>
                            <p><a href="#">{{ pimcore_input("landing_termcondition") }}</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="f-txt-content">
                            <h3>{{ pimcore_input("landing_joinourjourney") }}</h3>
                            <ul class="footer-social-links">
                                <li><a href="https://www.linkedin.com/company/nu-find-official" title="LinkedIn" target="_blank"><img src="bundles/global/images/linked-din.svg" alt="social icon"></a></li>
                                <li style="display:none;"><a href="https://www.facebook.com/jordan.g.357/" title="Facebook" target="_blank"><img src="bundles/global/images/fb-icon.svg" alt="social icon"></a></li>
                                <li><a href="https://www.instagram.com/nufindofficial/" title="Instagram" target="_blank"><img src="bundles/global/images/instagram-icon.svg" alt="social icon"></a></li>
                                <li style="display:none;"><a href="https://in.pinterest.com/misourceofficial/_saved/" title="Pinterest" target="_blank"><img src="bundles/global/images/pinterest.svg" alt="social icon"></a></li>
                                <li style="display:none;"><a href="https://www.youtube.com/channel/UCOLQ9slWi7Z9I6WBRGL_8nQ" title="Youtube" target="_blank"><img src="bundles/global/images/youtube-icon.svg" alt="social icon"></a></li>
                                <li style="display:none;"><a href="https://twitter.com/Misourceoffici1" title="Twitter" target="_blank"><img src="bundles/global/images/twitter.svg" alt="social icon"></a></li>
                                <li><a href="https://wa.me/message/EZJHLRSETWDRL1" title="Whatsapp" target="_blank"><img src="bundles/global/images/whatsapp.svg" alt="social icon"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="f-txt-content border-right-0">
                            <h3>{{ pimcore_input("landing_wanttolearnmore") }}</h3>
                            <div class="footer-form">
                            
                            <div id="contact_success"  style="display:none" class=" success alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Thanks!!</strong>
</div>
                  <div id="contact_error" style="display:none"  class="error alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!!</strong>
</div>
									<div id="contact_error" class="error" style="display:none">Error!!</div>
                                <form name="frmContactUs" id="frmContactUs" class="application-form" method="POST" >
                                    <div class="form-group">
                                        <label for="contactMessage" class="d-none">Example textarea</label>
                                        <textarea class="form-control" id="contactMessage" name="contactMessage" style="overflow:auto;resize:none"  rows="3"
                                            placeholder="What’s on your mind?"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactName" class="d-none">Email address</label>
                                        <input type="text" class="form-control" id="contactName" name="contactName"
                                            placeholder="Name*">
                                    </div>
                                    <div class="form-group">
                                        <label for="contactEmail" class="d-none">Email address</label>
                                        <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Email*">
                                    </div>

                                    <div class="form-group">
                                        <label for="contactInquiryType" class="d-none">Example select</label>
                                        <select class="form-control select-auto" id="contactInquiryType" name="contactInquiryType">
                                            <option value=""></option>
                                            <option value="General">General</option>
                                            <option value="Customer Service">Customer Service</option>
                                            <option value="Login Problems">Login Problems</option>
                                            <option value="Complaint">Complaint</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit_contactus" class="btn btn-send">Send</button>
									</div>
									
                                </form>                            
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="copyright-text">
			©Copyright 2021 All rights reserved.
		</div>

    </footer>
