<!-- header -->
<header class="bg-dark-green header">
    <div class="top-nav">
        <div class="container-fluid">
            <ul>
                {#<li><a href="#">3S</a></li>
                <li><a class="active" href="#">NuFIIND</a></li>
                <li><a href="#">Mi.Project</a></li>#}
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg main-nav navbar-dark">
        <a class="navbar-brand m-auto" href="/">
            <img alt="Brand" src="bundles/global/images/NuFind_logo.png">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </nav>
</header>
