<!DOCTYPE html>
<html lang="en">

<head>

{% set siteBaseUrl = app.request.getSchemeAndHttpHost() %}
    {% if not document is defined or not document %}
        {% set document = pimcore_document(1) %}
    {% endif %}

    {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
        {# @var document \Pimcore\Model\Document\Link #}
        {% set document = document.getObject() %}
    {% endif %}
    {% if document.getTitle() is not empty %}
        {% do pimcore_head_title().set(document.getTitle()) %}
    {% endif %}

    {% if document.getDescription() is not empty %}
        {% do pimcore_head_meta().appendName('description',document.getDescription()) %}
    {% endif %}
    {% do pimcore_head_title().append('NuFIND') %}
    {% do pimcore_head_title().setSeparator(' | ') %}
    {% set isPortal = ((isPortal is defined) and isPortal) %}
    {# we're using the deferred extension here to make sure this block is rendered after all helper calls #}
    {% block layout_head_meta deferred %}
    {{ pimcore_head_title() }}
    {{ pimcore_head_meta() }}

    {% if pimcore_placeholder('canonical').count() %}
        <link rel="canonical" href="{{ pimcore_placeholder('canonical') }}"/>
    {% endif %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff">
<meta name="google-site-verification" content="bjVTynmWfYEeEhLpJnmA2nTJ7wnuwPy2mcJrRQEAIcc" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K9C40MC8FB"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-K9C40MC8FB');
</script>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="bundles/global/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="bundles/global/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="bundles/global/images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="bundles/global/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    <title>NuFIND</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="bundles/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="bundles/global/css/font-awesome.min.css">
    <link rel="stylesheet" href="bundles/global/css/owl.carousel.min.css">
    <link rel="stylesheet" href="bundles/global/css/lightbox.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="bundles/global/css/style.css">
    <link rel="stylesheet" href="bundles/global/css/responsive.css">
	
    <script src="bundles/global/js/jquery.min.js"></script>
    <script type="text/javascript" src="/bundles/global/js/jquery.validate.min.js"></script>
    <!--[if lt IE 10]>
        <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css">
        <link href="css/ie.css" rel=stylesheet type=text/css>
    <![endif]-->
</head>

<body>
    
    {{ include('layout/header.html.twig') }}	
    
    <main>

        {{ block('content') }}
    </main>
     <!-- The Modal Large -->
	 
    {{ include('layout/popup.html.twig') }}	
    {{ include('layout/footer.html.twig') }}	
    

    <!--<div class="bs-loader">
        <div class="bs-loader-inner d-flex justify-content-center align-items-center position-fixed w-100 h-100 text-white">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div> -->

    {{ include('layout/scripts.html.twig') }}
    
</body>

</html>