<div class="modal book-a-demo fade" id="bookAdemo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <button type="button" id="close-btn" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal body -->
                <div class="modal-body" id="bookAdemo_normal">
                    <h2>{{ pimcore_input("landing_bookademo_title") }}</h2>
                    <p>{{ pimcore_input("landing_bookademo_desc") }}</p>

                    <div class="book-demo-form form-commom-design">
                        <form name="frmBookDemo" id="frmBookDemo" class="application-form" method="POST" >
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName" class="d-none">First Name</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="lastName" class="d-none">Last Name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="jobRole" class="d-none">Job Role</label>
                                    <select class="form-control select-job-role" id="jobRole" name="jobRole">
                                        <option value="">Job Role</option>
                                        <option>Owner/CEO</option>
                                        <option>Management</option>
                                        <option>Buyer</option>
                                        <option>Designer</option>
                                        <option>Developer</option>
                                        <option>Marketing</option>
                                        <option>Sales</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyType" class="d-none">Type Of Company</label>
                                    <select class="form-control type-of-company" id="companyType" name="companyType">
                                        <option value="">Type Of Company</option>
                                        <option>DIY/Garden Centre</option>
                                        <option>MAss Merchant/Warehouse</option>
                                        <option>Supermarket</option>
                                        <option>Department Store</option>
                                        <option>Commercial Interior</option>
                                        <option>Homeware/Interior Designer</option>
                                        <option>HoReCa</option>
                                        <option>Individual</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companySize" class="d-none">Company Size</label>
                                    <select class="form-control company-size" id="companySize" name="companySize">
                                        <option value="">Company Size</option>
                                        <option>1-10</option>
                                        <option>11-100</option>
                                        <option>101-250</option>
                                        <option>251-500</option>
                                        <option>501-1000</option>
                                        <option>1001+</option>                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyName" class="d-none">Company Name</label>
                                    <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email" class="d-none">Email</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" name="submit_bookdemo" class="btn btn-send">{{ pimcore_input("landing_bookademo_btnsend") }}</button>
                                </div>
                            </div>
                        </div>
                        </form>
						<div class="col-md-12" id="bookAdemo_error" style="display:none">Error!!</div>

                    </div>
                </div>
				<div class="modal-body" id="bookAdemo_success" style="display:none">
                    <h2>THANKS!</h2>
                    <p>Once we’ve reviewed your company we’ll be in touch.</p>

                    <div class="book-demo-form form-commom-design border-0">
                        <form>
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="thanks-icon">
                                    <img src="bundles/global/images/book-de,mo-thanks-icon.svg" alt="Thanks Icon">
                                </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
