<!-- scripts -->
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="bundles/global/js/popper.min.js"></script>
    <script src="bundles/global/js/bootstrap.min.js"></script>
    <script src="bundles/global/js/lighbox.js"></script>
    <script src="bundles/global/js/functions.js"></script>
    <script src="bundles/global/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<script type="text/javascript">

		window.history.replaceState(null, null, window.location.pathname);
		var validationRules = {
			// Specify validation rules
			errorElement: 'span',
			errorClass:'error-msg',

			rules: {
				firstName: {
					required: true,
                                        noSpace: true
				},
				lastName: {
					required: true,
                                        noSpace: true
				},
				email: {
					required: true,
					ValidEmail: true,
					email: true,
                                        noSpace: true
				},
				jobRole: {
					required: true,
					//minlength : 3,
				},
				companyType: {
					required: true,
					//minlength : 3,
				},
				companySize: {
					required: true,
					//minlength : 3,
				},
				companyName: {
					required: true,
                                        noSpace: true
				},				
				
			},
			// Specify validation error messages
			messages: {
				firstName:{
					required:'Required',
					maxlength : "Max 50",
                                        noSpace:'Required'
				},
				lastName: {
					required:'Required',
					maxlength : "Max 50",
                                        noSpace:'Required'
				},
				email: {
					required:'Required',
					email:'Not valid',
					ValidEmail: 'Not valid`',
                    noSpace:'Required'
				},
				jobRole: {
					required:'Required',
				},
				companyType: {
					required:'Required',
				},
				companySize: {
					required:'Required',
				},
				companyName: {
					required:'Required',
                    noSpace:'Required'
				},
			},
			errorPlacement: function(error, element) {
				error.insertAfter(element);
			}
		};

		$('#pimcore_editable_landing_bookdemo').click(function(e) {
			$('select').prop('selectedIndex',0).change();
			$("#email-error, #companySize-error, #lastName-error,#firstName-error,#companyType-error,#jobRole-error,#companyName-error").html("");

			}); 
		
		$('#close-btn').click(function(e) {  

		
		$("#frmBookDemo").get(0).reset();
		$('select').prop('selectedIndex',0).change();
		$('#companyType').prop('selectedIndex',0);
		$("#bookAdemo_success").hide();
		$("#bookAdemo_normal").show();
		$('#frmBookDemo').validate(validationRules).reset();
		$("#email-error, #companySize-error, #lastName-error,#firstName-error,#companyType-error,#jobRole-error,#companyName-error").html("");
		
});
	
		var validationRulesContact = {
			// Specify validation rules
			errorElement: 'span',
			errorClass:'error-msg',

			rules: {
				contactName: {
					required: true,
                                        noSpace: true
				},
				contactEmail: {
					required: true,
					ValidEmail: true,
					email: true,
                                        noSpace: true
				}
			},
			// Specify validation error messages
			messages: {				
				contactName: {
					required:'Required',
                    noSpace:'Required',
					maxlength : "Max 50",
				},
				contactEmail: {
					required:'Required',
					email: "Not valid",
					ValidEmail: 'Not valid'
				}				
			},
			errorPlacement: function(error, element) {
				error.insertAfter(element);
			}
		};

		$(function () {
			//alert('test');
			jQuery.validator.addMethod("ValidEmail", function(value, element) {
				var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
				return regex.test(value);
			});
                        
                        jQuery.validator.addMethod("noSpace", function(value, element) { 
                            return value.indexOf(" ") < 0 && value != ""; 
                        });
                        
			$('#frmBookDemo').validate(validationRules);
			//alert('before submit');
			
			
			$('#frmBookDemo').submit(function(event) {
				
				//submit form with ajax - start
				var firstName = $("#firstName").val();
				var lastName = $("#lastName").val();
				var email = $("#email").val();
				var jobRole = $("#jobRole").val();
				var companyType = $("#companyType").val();
				var companySize = $("#companySize").val();
				var companyName = $("#companyName").val();
				
				
				

				// stop the form from submitting the normal way and refreshing the page
				event.preventDefault();
				
				//console.log('1111');
				
				
				
				
				if($('#frmBookDemo').valid()){
					//console.log('2222');
					
					$.ajax({   
					  type: "POST",
					  url: "/booking",					  
					  data: "firstName=" + firstName +"&lastName=" +lastName+"&email=" +email+"&jobRole=" +jobRole+"&companyType=" +companyType+"&companySize=" +companySize+"&companyName=" +companyName+"&submitAction=bookAdemo",
					  success: function(data) {
					  //alert(data);
						if(data == 'success'){							
							$("#bookAdemo_success").show();		
							$("#bookAdemo_normal").hide();	
						}else{
							$("#bookAdemo_error").show();	
						}
					  }
					  });
					  //alert('ajax end');
					
				}
			});
			
			
			
			
			$('#frmContactUs').validate(validationRulesContact);
			//alert('before submit');
			
			$('#frmContactUs').submit(function(event) {

				//submit form with ajax - start
				var contactName = $("#contactName").val();
				var contactMessage = $("#contactMessage").val();
				var contactEmail = $("#contactEmail").val();
				var contactInquiryType = $("#contactInquiryType").val();
				

				// stop the form from submitting the normal way and refreshing the page
				event.preventDefault();
				
				//console.log('1111');
				
				

				
				if($('#frmContactUs').valid()){
					//alert('validated');
					//console.log('2222');
					//return true;
					
					//alert('ajax start');
					//alert("name=" + contactName +"&message=" +contactMessage+"&email=" +contactEmail+"&inquiryType=" +contactInquiryType+"&submitAction=contactUs");
					
					$.ajax({   
					  type: "POST",
					  url: "/contact",
					  data: "name=" + contactName +"&message=" +contactMessage+"&email=" +contactEmail+"&inquiryType=" +contactInquiryType+"&submitAction=contactUs",
					  success: function(data) {
					
						if(data == 'success'){		

				

		
		$("#frmContactUs").get(0).reset();
		$('select').prop('selectedIndex',0).change();
												
							$("#contact_success").show();							
						}else{
							$("#contact_error").show();	
						}
					  }
					  });
					  //alert('ajax end');
					
				}
			});
			
		});
	</script>
	
