<!-- BECOME A 3S SUPPLIER Modal -->
    <div class="modal two-col-modal become-3s-supplyer-modal p20 fade" id="become3Ssupplyer">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="{{asset('bundles/website/assets/images/close-svg-icon.svg')}}"alt="Close Image">
                </button>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-row">
                        <div class="modal-col-left" id="becomeSupplierForm_form">
                            <h2>BECOME A 3S SUPPLIER</h2>
                            <p class="title-small-text">Fill in the details and please have a portfolio ready.</p>

                            <div class="book-demo-form form-commom-design">
                               <form action="{{path('website_become_supplier')}}" method="post" name="becomeSupplierForm" id="becomeSupplierForm" enctype="multipart/form-data">
                                    <div class="row no-gutters">
                                        <div class="form-group col-md-12">
                                            <span class="field-title-lable">Details</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="display:none;">
                                                <label for="buildingNumber" class="d-none">Building Number*</label>
                                                <input type="text" class="form-control" id="supplierBuildingNumber"  name="supplierBuildingNumber"
                                                    placeholder="Building Number*">
                                                <span class="error-msg d-none" id="error_supplierBuildingNumber">*Required</span>
                                            </div>
                                            <div class="form-group" style="display:none;">
                                                <label for="villageName" class="d-none">VIA Name</label>
                                                <input type="text" class="form-control" id="supplierVillageName"  name="supplierVillageName"
                                                    placeholder="VIA Name">
                                               
                                            </div>
                                            <div class="form-group" style="display:none;">
                                                <label for="postName" class="d-none">Post Name</label>
                                                <input type="text" class="form-control" id="supplierPostName"  name="supplierPostName"
                                                    placeholder="Post Name">
                                                
                                            </div>
                                            <div class="form-group" style="display:none;">
                                                <label for="talukaName" class="d-none">Taluk Name</label>
                                                <input type="text" class="form-control" id="supplierTalukaName"  name="supplierTalukaName"
                                                    placeholder="Taluk Name">
                                                
                                            </div>  
                                            <div class="form-group" style="display:none;">
                                                <label for="localityNeighbourhood" class="d-none">Locality/Neighbourhood</label>
                                                <input type="text" class="form-control" id="supplierLocalityNeighbourhood"  name="supplierLocalityNeighbourhood"
                                                    placeholder="Locality/Neighbourhood">
                                                
                                            </div>  
                                            <div class="form-group" style="display:none;">
                                                <label for="cpCode" class="d-none">City/Postal Code (PIN)*</label>
                                                <input type="text" class="form-control" id="supplierCpCode"  name="supplierCpCode"
                                                    placeholder="City/Postal Code (PIN)*">
                                                <span class="error-msg d-none" id="error_supplierCpCode">*Required</span>
                                            </div>  
                                            <div class="form-group" style="display:none;">
                                                <label for="districtName" class="d-none">District Name*</label>
                                                <input type="text" class="form-control" id="supplierDistrictName"  name="supplierDistrictName"
                                                    placeholder="District Name*">
                                                <span class="error-msg d-none" id="error_supplierDistrictName">*Required</span>
                                            </div>  
                                            <div class="form-group" style="display:none;">
                                                <label for="State" class="d-none">State*</label>
                                                <input type="text" class="form-control" id="supplierState"  name="supplierState"
                                                    placeholder="State*">
                                                <span class="error-msg d-none" id="error_supplierState">*Required</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="companyName" class="d-none">Company Name*</label>
                                                <input type="text" class="form-control" id="supplierCompanyName" name="supplierCompanyName"  placeholder="Company Name*">
                                                <span class="error-msg d-none" id="error_supplierCompanyName">*Required</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="CompanyWebsite" class="d-none">Company Website</label>
                                                <input type="text" class="form-control" id="supplierCompanyWebsite" placeholder="Company Website"  name="supplierCompanyWebsite">
                                                <span class="error-msg d-none" id="error_supplierCompanyWebsite">*Required</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="supplierFistName" class="d-none">Full Name*</label>
                                                <input type="text" class="form-control" id="supplierFirstName" placeholder="Full Name*"  name="supplierFirstName">
                                                <span class="error-msg d-none" id="error_supplierFirstName">*Required</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="suppllierJobTitle" class="d-none">Job Title*</label>
                                                <input type="text" class="form-control" id="suppllierJobTitle" placeholder="Job Title*"  name="suppllierJobTitle">
                                                <span class="error-msg d-none" id="error_suppllierJobTitle">*Required</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="emAdd" class="d-none">Email Address*</label>
                                                <input type="email" class="form-control" id="supplierEmailAddress" placeholder="Email Address*"  name="supplierEmailAddress">
                                                <span class="error-msg d-none" id="error_supplierEmailAddress">*Required</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="tel/moble" class="d-none">Tel/Mobile*</label>
                                                <input type="text" class="form-control" id="supplierTelephoneMobile" placeholder="Tel/Mobile*"  name="supplierTelephoneMobile">
                                                <span class="error-msg d-none" id="error_supplierTelephoneMobile">*Required</span>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group" style="display:none;">
                                                <span class="field-title-lable">Your Details</span>
                                            </div>
                                            <div class="form-group" style="display:none;">
                                                <label for="Title1" class="d-none">Title</label>
                                                <input type="text" class="form-control" id="supplierTitle" placeholder="Title"  name="supplierTitle">
                                            </div>

                                            <div class="form-group" style="display:none;">
                                                <label for="supplierFistName" class="d-none">Last Name*</label>
                                                <input type="text" class="form-control" id="supplierLastName" placeholder="Last Name*"  name="supplierLastName">
                                                <span class="error-msg d-none" id="error_supplierLastName">*Required</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="supplierAddress" class="d-none">Address*</label>
                                                <textarea class="form-control" id="supplierAddress" placeholder="Address*"  name="supplierAddress" style="min-height: 116px;"></textarea>
                                                <span class="error-msg d-none" id="error_supplierAddress">*Required</span>
                                            </div>
											
											<div class="form-group">
                                                <label for="supplierUpload" class="d-none">Upload Resume*</label>
                                                <input class="form-control" type="file" id="supplierUpload" name="supplierUpload" style="padding: 0;height: 100%;">
												<span class="error-msg d-none" id="error_supplierUpload">*Required</span>
                                            </div>


                                            <div class="form-group btn-send-dv">
                                                <button type="submit" class="btn btn-send">GET IN TOUCH</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-col-left" id="becomeSupplierForm_msg" style="display:none">
                            <h2>THANKS!</h2>
                            <p class="title-small-text">Once we’ve reviewed your company we’ll be in touch.</p>

                            <div class="book-demo-form form-commom-design border-0">
                                <form>
                                    <div class="row no-gutters">
                                        <div class="col-md-12">
                                            <div class="thanks-icon">
                                                <img src="{{asset('bundles/website/assets/images/suplyer-thanks-icon.svg')}}" alt="Thanks Icon">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-col-right">
                            <p class="mb-4 f30-text">We empower brands across the world to tap into skilled Indian manufacturing. </p>
                            <p class="f25-text">Join our network of reliable suppliers and see your products on the shelves of market leaders.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
</div>
<!-- BECOME A 3S SUPPLIER Modal Popup-->
