<!-- The Book A Meeting Popup -->
<div class="modal two-col-modal bookMeeting-modal fade" id="bookMeeting">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
                <img src="{{asset('bundles/website/assets/images/close-svg-icon.svg')}}"alt="Close Image">
            </button>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-row">
                    <div class="modal-col-left" id="bookMeetingForm_form">

                        <h2>BOOK A MEETING</h2>
                        <p class="title-small-text">What’s on your mind?</p>

                        <div class="book-demo-form form-commom-design">
                            <form action="{{path('website_book_meeting')}}" method="post" name="bookMeetingForm" id="bookMeetingForm">
                                <div class="row no-gutters">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="meetingAgenda" class="d-none">Exampletextarea</label>
                                            <textarea name="meetingAgenda" class="form-control" id="meetingAgenda" rows="3" placeholder="Tell us a bit about yourself and your challenges*" ></textarea>
                                            <span class="error-msg d-none" id="error_meetingAgenda">*Sorry, we need these details to complete your request</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="fname" class="d-none">Name</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Name*">
                                            <span class="error-msg d-none" id="error_firstName" >*Opps, you need fill in this box</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="Email" class="d-none">Email</label>
                                            <input type="text" class="form-control" id="email" name="email" placeholder="Email*">
                                            <span class="error-msg d-none" id="error_email" >*Opps, you need fill in this box</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-send">Book</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-col-left" id="bookMeetingForm_msg" style="display:none">
                        <h2>THANKS!</h2>
                        <p class="title-small-text">Someone will be in touch soon to book a date.</p>

                        <div class="book-demo-form form-commom-design border-0">
                            <form>
                                <div class="row no-gutters">
                                    <div class="col-md-12">
                                        <div class="thanks-icon">
                                            <img src="{{asset('bundles/website/assets/images/book-meeting-thanks-icon.svg')}}" alt="Thanks Icon">
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-col-right">
                        <p class="mb-4 f30-text">We empower brands across the world to tap into skilled Indian
                            manufacturing.</p>
                        <bt />
                        <p class="f25-text">With over 200+ audited factory partners, we use smart technologies for
                            proactive product sourcing, design, development and delivery.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- The End  The Book A Meeting Popup-->

