{# empty Twig template #}
<!-- The  Career Modal -->
<div class="modal two-col-modal career-modal p20 fade" id="careerWith3s">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
                <img src="{{asset('bundles/website/assets/images/close-svg-icon.svg')}}"alt="Close Image">
            </button>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-row">
                    <div class="modal-col-left" id="careerWithUsForm_form">
                        <h2>CAREERS WITH 3S</h2>
                        <p class="title-small-text">Fill in the details and please have a portfolio ready.</p>

                        <div class="book-demo-form form-commom-design">
                            <form action="{{path('website_become_career_with_us')}}" method="post" name="careerWithUsForm" id="careerWithUsForm" enctype="multipart/form-data">
                                <div class="row no-gutters">
									<div class="form-group col-md-12">
                                            <span class="field-title-lable">Your Detail</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="display:none;">
                                            <label for="Title" class="d-none">Title</label>
                                            <input type="text" class="form-control" id="title" name="title"  placeholder="Title">
                                        </div>
                                        <div class="form-group">
                                            <label for="cfirstName" class="d-none">Full Name*</label>
                                            <input type="text" class="form-control" id="cfirstName"  name="cfirstName"
                                                   placeholder="Full Name*">
                                            <span class="error-msg d-none" id="error_cfirstName">*Required</span>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <label for="lastName" class="d-none">Last Name*</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                   placeholder="Last Name*">
                                            <span class="error-msg d-none" id="error_lastName">*Required</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailAddress" class="d-none">Email Address*</label>
                                            <input type="email" class="form-control" id="emailAddress" name="emailAddress"
                                                   placeholder="Email Address*">
                                            <span class="error-msg d-none" id="error_emailAddress">*Required</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="telphoneMobile" class="d-none">Tel/Mobile*</label>
                                            <input type="text" class="form-control" id="telphoneMobile" name="telphoneMobile"
                                                   placeholder="Tel/Mobile*">
                                            <span class="error-msg d-none" id="error_telphoneMobile">*Required</span>
                                        </div>
										<div class="form-group">
                                            <label for="linkedInUrl" class="d-none">Your LinkedIn URL</label>
                                            <input type="text" class="form-control" id="linkedInUrl" name="linkedInUrl"
                                                   placeholder="Your LinkedIn URL">
                                            <span class="error-msg d-none" id="error_linkedInUrl"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
										<div class="form-group" style="display:none;">
                                            <label for="highestQualification" class="d-none">Highest Qualification*</label>
                                            <input type="text" class="form-control" id="highestQualification" name="highestQualification" placeholder="Highest Qualification*">
                                            <span class="error-msg d-none" id="error_highestQualification">*Required</span>
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <label for="currentPosition" class="d-none">Current Position (If Applicable)</label>
                                            <input type="text" class="form-control" id="currentPosition" name="currentPosition" placeholder="Current Position (If Applicable)" >
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <label for="currentEmployer" class="d-none">Current Employer (If Applicable)</label>
                                            <input type="text" class="form-control" id="currentEmployer" name=currentEmployer" placeholder="Current Employer (If Applicable)">
                                        </div>
                                        <div class="form-group">
                                            <label for="carrerUpload" class="d-none">Upload Resume*</label>
                                            <input class="form-control" type="file" id="carrerUpload" name="carrerUpload" style="padding: 0;height: 100%;">
                                            <span class="error-msg d-none" id="error_carrerUpload">*Required</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="postAppliedFor" class="d-none">Position Applying For*</label>
                                            <input type="text" class="form-control" id="postAppliedFor"  name="postAppliedFor" placeholder="Position Applying For*">
                                            <span class="error-msg d-none" id="error_postAppliedFor">*Required</span>
                                        </div>
                                        <div class="form-group btn-send-dv">
                                            <button type="submit" class="btn btn-send" style="height: 79px;">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-col-left" id="careerWithUsForm_msg" style="display:none">
                        <h2>THANKS!</h2>
                        <p class="title-small-text">Thank You for showing interest in 3S. Our recruitment team will review your profile & get in touch. Good Luck!</p>

                        <div class="book-demo-form form-commom-design border-0">
                            <form>
                                <div class="row no-gutters">
                                    <div class="col-md-12">
                                        <div class="thanks-icon">
                                            <img src="{{asset('bundles/website/assets/images/career-thanks-icon.svg')}}" alt="Thanks Icon">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-col-right">
                        <p class="mb-4 f30-text">We empower brands across the world to tap into skilled Indian
                            manufacturing.</p>
                        <bt />
                        <p class="f25-text">If you’ve got what it takes to deliver to international standards,
                            please get in touch.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- The End  Career Modal Popup-->
