<!-- Our Work Popup -->
<div class="modal  our-work-modal fade" id="ourWorkPopup">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><img src="{{asset('bundles/website/assets/images/close-svg-icon.svg')}}"
                    alt="Close Image">
            </button>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-bg-img">
                    {#<img src="{{asset('bundles/website/assets/images/work-popup-bg.jpg')}}"  alt="popup background">#}
                    <img src="{{ caseStudy.image.thumbnail('CaseStudyPopup') }}"  alt="popup background">
                </div>
                <div class="work-content-wrapper">
                   <span class="topic-title">{{caseStudy.tags}} </span>
                   
                   <h2 class="case-study-title">{{caseStudy.title}}</h2>
                   <h3 class="case-study-sub-title">{{caseStudy.summary}}</h3>
                   {#{{caseStudy.desc}}#}
                   {{ caseStudy.desc | raw }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The End  Our Work Popup-->

