{% extends 'GlobalBundle:layouts:layout.html.twig' %}

{% block content %}

    <!-- 1. Home section -->
        <section class="bread-info">
			 <div class="container-fluid">
                 <section class="breadcrumb">
                     <ul>
                         <li><a href="{{app.request.schemeAndHttpHost }}">Misource</a></li>
                         {% set breadcrumbs =  app_navigation_enrich_breadcrumbs() %}

                         {% if breadcrumbs|length > 0 %}
                             {% for list in breadcrumbs %}
                         <li>
                             {% if list.url is defined %}
                                 {% set x = list.url %}
                             {% else %}
                                 {% set x = '' %}
                             {% endif %}
                             <a onclick='return sitemenuValueStore({{list.id}})' href="{{x}} ">
                                 {{ list.name }}
                             </a>
                         </li>
                             {% endfor %}
                         <li>
                             {{ product.productName }}
                         </li>
                         {% endif %}
						{#Mi.Source > Furniture > Living Room > Coffee Tables > Coffee Table 3#}
                     </ul>
                 </section>
			 </div>
        </section>

    <section id="shop-page">
			 <div class="container-fluid">
				 <div class="row">
                     <div class="col-lg-6 col-md-12 col-12">
                         <div class="vehicle-detail-banner banner-content clearfix">
                             <div class="banner-slider">
                                 <div class="slider slider-nav thumb-image">
                                     {% if(product.mainImage) %}
                                         <div class="thumbnail-image">
                                             <div class="thumbImg">
                                                 <img src="{{ product.mainImage.thumbnail('productDetailThumbnailImage') }}" alt="">
                                                 {#<img src="{{ product.mainImage }}" alt="" />#}
                                             </div>
                                         </div>
                                     {% endif %}

                                     {% if(MembershipType == 'Essential') %}
                                         {% if(product.essentialGallery) %}
                                             {% for key, esimage in product.essentialGallery %}
                                                 <div class="thumbnail-image">
                                                     <div class="thumbImg">
                                                         {#<img src="{{ esimage }}" alt="" />#}
                                                         <img src="{{ esimage.thumbnail('productDetailThumbnailImage') }}" alt="">
                                                     </div>
                                                 </div>
                                             {% endfor %}
                                         {% endif %}
                                     {% endif %}

                                     {% if(MembershipType == 'Curate') %}
                                         {% if(product.curateGallery) %}
                                             {% for key, cuimage in product.curateGallery %}
                                                 <div class="thumbnail-image">
                                                     <div class="thumbImg">
                                                         {#<img src="{{ cuimage }}" alt="" />#}
                                                         <img src="{{ cuimage.thumbnail('productDetailThumbnailImage') }}" alt="">
                                                     </div>
                                                 </div>
                                             {% endfor %}
                                         {% endif %}
                                     {% endif %}

                                     {% if(MembershipType == 'Signature') %}
                                         {% if(product.signatureGallery) %}
                                             {% for key, sigimage in product.signatureGallery %}
                                                 <div class="thumbnail-image">
                                                     <div class="thumbImg">
                                                         {#<img src="{{ sigimage }}" alt="" />#}
                                                         <img src="{{ sigimage.thumbnail('productDetailThumbnailImage') }}" alt="">
                                                     </div>
                                                 </div>
                                             {% endfor %}
                                         {% endif %}
                                     {% endif %}

                                 </div>

                                 <div class="slider slider-for">
                                     {% if(product.mainImage) %}
                                         <div class="slider-banner-image">
                                             {#<img src="{{ product.mainImage }}" alt="" />#}
                                             <img src="{{ product.mainImage.thumbnail('productDetailMainImage') }}" alt="">
                                         </div>
                                     {% endif %}

                                     {% if(MembershipType == 'Essential') %}
                                         {% if(product.essentialGallery) %}
                                             {% for key, esimage in product.essentialGallery %}
                                                 <div class="slider-banner-image">
                                                     {#<img src="{{ esimage }}" alt="" />#}
                                                     <img src="{{ esimage.thumbnail('productDetailMainImage') }}" alt="">
                                                 </div>
                                             {% endfor %}
                                        {% endif %}
                                     {% endif %}

                                     {% if(MembershipType == 'Curate') %}
                                         {% if(product.curateGallery) %}
                                             {% for key, cuimage in product.curateGallery %}
                                                 <div class="slider-banner-image">
                                                     {#<img src="{{ cuimage }}" alt="" />#}
                                                     <img src="{{ cuimage.thumbnail('productDetailMainImage') }}" alt="">
                                                 </div>
                                             {% endfor %}
                                         {% endif %}
                                     {% endif %}
                                     {% if(MembershipType == 'Signature') %}
                                         {% if(product.signatureGallery) %}
                                             {% for key, sigimage in product.signatureGallery %}
                                                 <div class="slider-banner-image">
                                                     {#<img src="{{ sigimage }}" alt="" />#}
                                                     <img src="{{ sigimage.thumbnail('productDetailMainImage') }}" alt="">
                                                 </div>
                                             {% endfor %}
                                         {% endif %}
                                     {% endif %}

                                 </div>
                             </div>
                         </div>
                     </div>

                     <div class="col-lg-6 flush col-md-12 col-12">
						{% if product.agenda|length > 0 %}
                         <div class="col-lg-12 col-md-12 col-12">
							<div class="col-lg-12 text-right labels col-md-12 col-12">
                                {% set agendas = app_product_materials(product.agenda, 'agenda')|trim(', ')|split(',') %}
                                {% for agenda in agendas %}
                                    <a>{{ agenda }}</a>
                                {% endfor %}
							</div>
                         </div>
                        {% endif %}
						<div class="col-lg-12 col-md-12 col-12">
							<h6><u>Factory Code: {{ product.factoryItemNo }}</u> • Product Code: {{ product.productCode }}</h6>
                            <h2>{{ product.productName }}<br/>
                            {% set materials = app_product_materials(product.material, 'material')|trim(', ')|split(',') %}
                            {% for material in materials %}
                                <span> {{ material }} </span>
                            {% endfor %}
                            </h2>
							<p>{{ product.productDescription | raw }} </p>
						</div>
						 <div class="col-lg-12 col-md-12 col-12">
							<div class="accordion" id="accordionExample">
                                {% if product.supplier is defined %}
                                    {% if product.supplier.remarks|length > 0 %}
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        DETAILS
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="row inf fts">
                                                        <div class="col-lg-12 bg col-md-12 col-12">
                                                            <p>{{  product.supplier.remarks }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {#  ------ Variant Data ------ #}
                                <div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												CUSTOMIZATION
											</button>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
                                            {#{% set materials = app_product_materials(product.material, 'material')|trim(', ') %}#}
                                            {% if productVariant|length > 0 %}
                                                 {% set materials = app_product_materials(product.material, 'material')|trim(', ') %}
                                                 {% if materials|length > 0 %}
                                                    <div class="row inf">
                                                        <div class="col-lg-12 bg col-md-12 col-12">
                                                            <div class="row">
                                                                <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                    <h3>Material</h3>
                                                                </div>
                                                                <div class="col-lg-9 rd-imgs stt col-md-9 col-12">
                                                                    <div class="bgs">

                                                                        {% if productVariant.material|length > 0 %}
                                                                            {% for materialList in productVariant.material %}
                                                                                {% set checked = '' %}
                                                                                {% if materialList['material-name'] == materials %}
                                                                                    {% set checked = 'checked=checked' %}
                                                                                {% endif %}
                                                                                <label class="rad"><input type="radio" name="material" {{ checked }} value="{{ materialList['pId'] }}" class="rdb-material rdb-mtrl-{{ materialList['pId'] }}" data-name="{{ materialList['material-name'] }}" data-value="{{ materialList['pId'] }}" style="background:url('{{ materialList['material-image'] }}') 50% 50% no-repeat; background-size:cover;"></label>
                                                                            {% endfor %}
                                                                        {% endif %}

                                                                        <div class="materialText"> {{ materials }} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 {% endif %}
                                                {% set color = app_product_materials(product.color, 'color') %}
                                                {% if color|length > 0 %}
                                                    <div class="row inf">
                                                        <div class="col-lg-12 bg col-md-12 col-12">
                                                            <div class="row">
                                                                <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                    <h3>Color</h3>
                                                                </div>
                                                                <div class="col-lg-9 rd-imgs stt col-md-9 col-12">
                                                                    <div class="bgs">
                                                                        {% set color = app_product_materials(product.color, 'color') %}
                                                                        {% if productVariant.material|length > 0 %}
                                                                            {% for materialList in productVariant.material %}
                                                                                {% for colorList in materialList.color %}
                                                                                    {% set checked = '' %}
                                                                                    {% if product.id in colorList['prodIds'] %}
                                                                                        {% set checked = 'checked' %}
                                                                                    {% endif %}
                                                                                    {% if product.id in materialList['prodIds'] %}
                                                                                        {% if colorList['color-image'] %}
                                                                                            <label class="rad chkColor colors-{{ materialList['pId'] }}"><input type="radio" name="color1" {{ checked }} class="rdb-colors rdb-clr-{{ colorList['pId'] }}" value="{{ colorList['pId'] }}" data-name="{{ colorList['color-name'] }}" data-value="{{ colorList['pId'] }}" style="background:url('{{ colorList['color-image'] }}') 50% 50% no-repeat; background-size:cover;"></label>
                                                                                        {% else %}
                                                                                            <label class="rad chkColor colors-{{ materialList['pId'] }}"><input type="radio" name="color1" {{ checked }} class="rdb-colors rdb-clr-{{ colorList['pId'] }}" value="{{ colorList['pId'] }}" data-name="{{ colorList['color-name'] }}" data-value="{{ colorList['pId'] }}" style="background-color:{{ colorList['color-code'] }};"></label>
                                                                                        {% endif %}
                                                                                    {% else %}
                                                                                        {% if colorList['color-image'] %}
                                                                                            <label class="rad chkColor colors-{{ materialList['pId'] }}" style="display: none"><input type="radio" name="color1" {{ checked }} class="rdb-colors rdb-clr-{{ colorList['pId'] }}" value="{{ colorList['pId'] }}" data-name="{{ colorList['color-name'] }}" data-value="{{ colorList['pId'] }}" style="background:url('{{ colorList['color-image'] }}') 50% 50% no-repeat; background-size:cover;"></label>
                                                                                        {% else %}
                                                                                            <label class="rad chkColor colors-{{ materialList['pId'] }}" style="display: none"><input type="radio" name="color1" {{ checked }} class="rdb-colors rdb-clr-{{ colorList['pId'] }}" value="{{ colorList['pId'] }}" data-name="{{ colorList['color-name'] }}" data-value="{{ colorList['pId'] }}" style="background-color:{{ colorList['color-code'] }};"></label>
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {%  endfor %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {% set color = app_product_materials(product.color, 'color') %}
                                                                        <div class="colorText"> {{  color[0].name }} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% set finish = app_product_materials(product.finish, 'finish')|trim(', ') %}
                                                {% if finish|length > 0 %}
                                                    <div class="row inf">
                                                        <div class="col-lg-12 bg col-md-12 col-12">
                                                            <div class="row">
                                                                <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                    <h3>Finish</h3>
                                                                </div>
                                                                <div class="col-lg-9 rd-imgs stt col-md-9 col-12">
                                                                    <div class="bgs">
                                                                        <div class="col-lg-12 sp-none col-md-12 col-12">
                                                                            {% if productVariant.material|length > 0 %}
                                                                                {% for materialList in productVariant.material %}
                                                                                    {% if product.id in materialList['prodIds'] %}
                                                                                        {% for colorListFinish in materialList.color %}
                                                                                            {% for finishList in colorListFinish.finish %}
                                                                                                {% if(finishList['pId'] == product.id) %}
                                                                                                    {% set checked = 'checked' %}
                                                                                                {% else %}
                                                                                                    {% set checked = '' %}
                                                                                                {% endif %}
                                                                                                {% if product.id in colorListFinish['prodIds'] %}
                                                                                                    {#<a href="{{ finishList['productUrl'] }}" prodId="{{ finishList['pId'] }}" class="rdb-finish finish-{{ colorListFinish['pId'] }}" finish-name = "{{ finishList['finish-name'] }}"><img src="{{ finishList['finish-image'] }}" alt="" /></a>#}
                                                                                                    <input data-href="{{ finishList['productUrl'] }}" {{ checked }} type="radio" name="finish" class="rdb-finish finish-{{ colorListFinish['pId'] }}" prodId="{{ finishList['pId'] }}" value="{{ finishList['pId'] }}" finish-name = "{{ finishList['finish-name'] }}" style="background:url('{{ finishList['finish-image'] }}') 50% 50% no-repeat; background-size:cover;">
                                                                                                {% else %}
                                                                                                    {#<a style="display:none;" href="{{ finishList['productUrl'] }}" class="rdb-finish finish-{{ colorListFinish['pId'] }}" finish-name = "{{ finishList['finish-name'] }}"><img src="{{ finishList['finish-image'] }}" alt="" /></a>#}
                                                                                                    <input data-href="{{ finishList['productUrl'] }}" {{ checked }} type="radio" name="finish" class="rdb-finish finish-{{ colorListFinish['pId'] }}" prodId="{{ finishList['pId'] }}" value="{{  finishList['pId'] }}" finish-name = "{{ finishList['finish-name'] }}" style="background:url('{{ finishList['finish-image'] }}') 50% 50% no-repeat; background-size:cover;display:none;">
                                                                                                {% endif %}

                                                                                            {% endfor %}
                                                                                        {%  endfor %}
                                                                                    {% else %}
                                                                                        {% for colorListFinish in materialList.color %}
                                                                                            {% for finishList in colorListFinish.finish %}
                                                                                                {% if(finishList['pId'] == product.id) %}
                                                                                                    {% set checked = 'checked' %}
                                                                                                {% else %}
                                                                                                    {% set checked = '' %}
                                                                                                {% endif %}
                                                                                                {#<a href="{{ finishList['productUrl'] }}" class="rdb-finish finish-{{ colorListFinish['pId'] }}" style="display: none" finish-name = "{{ finishList['finish-name'] }}"><img src="{{ finishList['finish-image'] }}" alt="" /></a>#}
                                                                                                <input data-href="{{ finishList['productUrl'] }}" type="radio" {{ checked }} name="finish" class="rdb-finish finish-{{ colorListFinish['pId'] }}" prodId="{{ finishList['pId'] }}" value="{{ finishList['pId'] }}" finish-name = "{{ finishList['finish-name'] }}" style="background:url('{{ finishList['finish-image'] }}') 50% 50% no-repeat; background-size:cover;display:none;">
                                                                                            {%  endfor %}
                                                                                        {%  endfor %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                            {% set finish = app_product_materials(product.finish, 'finish')|trim(', ') %}
                                                                            <div class="finishText">{{ finish }}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                {% set materials = app_product_materials(product.material, 'material')|trim(', ') %}
                                                {% if materials|length > 0 %}
											        <div class="row inf">
                                                        <div class="col-lg-12 bg col-md-12 col-12">
                                                            <div class="row">
                                                                <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                    <h3>Material</h3>
                                                                </div>
                                                                <div class="col-lg-9 rd-imgs stt col-md-9 col-12">
                                                                    <div class="bgs">
                                                                        {% if product.material|length > 0 %}
                                                                            {% for materialList in product.material %}
                                                                                {% set materialsData = app_product_materials([materialList], 'material')|trim(', ') %}
                                                                                {% set checked = '' %}
                                                                                {% if materialsData == materials %}
                                                                                    {% set checked = 'checked=checked' %}
                                                                                {% endif %}
                                                                                <label class="rad"><input type="radio" name="matrial" {{ checked }} value="{{ materialsData }}" style="background:url('{{ app_product_materials_image([materialList], 'material')|trim(', ') }}') 50% 50% no-repeat; background-size:cover;"></label>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {% set materials = app_product_materials(product.material, 'material')|trim(', ') %}
                                                                        <div class="materialText"> {{ materials }} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% set color = app_product_materials(product.color, 'color') %}
                                                {% if color|length > 0  %}
                                                <div class="row inf">
                                                    <div class="col-lg-12 bg col-md-12 col-12">
                                                        <div class="row">
                                                            <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                <h3>Color</h3>
                                                            </div>
                                                            <div class="col-lg-9 rd-imgs stt col-md-9 col-12">
                                                                <div class="bgs">
                                                                    {% if product.color|length > 0 %}
                                                                        {% for colorList in product.color %}
                                                                            {% set colorData = app_product_materials_image([colorList], 'color') %}
                                                                            {% set checked = '' %}
                                                                            {% if colorData[0].name == color[0].name %}
                                                                                {% set checked = 'checked' %}
                                                                            {% endif %}
                                                                            {% if colorData[0].image|length > 0 %}
                                                                                <label class="rad"><input type="radio" {{ checked }} name="color1" style="background:url('{{ colorData[0].image }}') 50% 50% no-repeat; background-size:cover;"></label>
                                                                            {% else %}
                                                                                <label class="rad"><input type="radio" {{ checked }} name="color1" style="background-color:{{ colorData[0].code }}; background-size:cover;"></label>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    <div class="colorText"> {{  color[0].name }} </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% set finish = app_product_materials(product.finish, 'finish')|trim(', ') %}
                                                {% if finish|length > 0 %}
                                                <div class="row inf">
                                                    <div class="col-lg-12 bg col-md-12 col-12">
                                                        <div class="row">
                                                            <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                <h3>Finish</h3>
                                                            </div>
                                                            <div class="col-lg-9 rd-imgs stt col-md-9 col-12">
                                                                <div class="bgs">
                                                                    <div class="col-lg-12 sp-none col-md-12 col-12">
                                                                        {% if product.finish|length > 0 %}
                                                                            {% for finishList in product.finish %}

                                                                                {% set finishData = app_product_materials([finishList], 'finish')|trim(', ') %}
                                                                                {% set checked = '' %}
                                                                                {% if finishData == finish %}
                                                                                    {% set checked = 'checked=checked' %}
                                                                                {% endif %}

                                                                                {% set finishData = app_product_materials_image([finishList], 'finish') %}
                                                                                <label class="rad"><input type="radio" {{ checked }} name="color3" style="background:url('{{ finishData|trim(', ') }}') 50% 50% no-repeat; background-size:cover;"></label>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        <div class="finishText">{{ finish }}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endif %}
                                            {#  ------ Variant End ------ #}
                                                <div class="row inf">
                                                    <div class="col-lg-12 bg col-md-12 col-12">
                                                        <div class="row">
                                                            <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                <h3>Dimensions</h3>
                                                            </div>
                                                            <div class="col-lg-9 dime stt col-md-9 col-12">
                                                                <div class="bgs">
                                                                    {% if product.specification|length > 0 %}
                                                                        <div class="col-lg-12 sp-none col-md-12 col-12">
                                                                            {% for specificationData in product.specification %}
                                                                                <p>W{{ specificationData.width.value }}{{ specificationData.width.unit.abbreviation }} * H{{ specificationData.height.value }}{{ specificationData.height.unit.abbreviation }} * D{{ specificationData.length.value }}{{ specificationData.length.unit.abbreviation }}</p>
                                                                            {% endfor %}
                                                                        </div>
                                                                    {% endif %}
                                                                    <div class="col-lg-12 sp-none col-md-12 col-12">
                                                                        <em class="cst">Custom : </em>
                                                                        <span>
																		<label>W</label>
																		<input type="text" placeholder="SIZE" />
																	</span>
                                                                        <span>
																		<label>W</label>
																		<input type="text" placeholder="SIZE" />
																	</span>
                                                                        <span>
																		<label>W</label>
																		<input type="text" placeholder="SIZE" />
																	</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row inf">
                                                    <div class="col-lg-12 bg col-md-12 col-12">
                                                        <div class="row">
                                                            <div class="col-lg-3 stt text-center col-md-3 col-12">
                                                                <h3>Notes</h3>
                                                            </div>
                                                            <div class="col-lg-9 noti stt col-md-9 col-12">
                                                                <div class="bgs">
                                                                    <div class="col-lg-12 sp-none col-md-12 col-12">
                                                                        {#<p>Looking for something extra special ? Write down or attach your requests and well find a way to make it happen.</p>#}
                                                                        <textarea class="form-control" placeholder="Looking for something extra special ? Write down or attach your requests and well find a way to make it happen."></textarea>
                                                                    </div>
                                                                    <div class="form-group sp-none col-sm-12">
                                                                        <input type="file" id="portfolio-upload" class="file-upload">
                                                                        <label for="file" class="file-upload-label form-control">Please attach your portfolio</label>
                                                                        <span class="remove-file"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row bt inf">
                                                    <div class="col-lg-12 bg col-md-12 col-12">
                                                        <div class="row">
                                                            <div class="col-lg-12 stt  findi col-md-12 col-12">
                                                                <h3>Cant find what you're looking for? <span>Place a request:</span>  <a  data-toggle="modal" data-target="#myModal-wish-3">Request An Item</a></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

										</div>
									</div>
								</div>


                                <div class="card">
									<div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												SHIPMENT
											</button>
										</h5>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">

                                            {% if product.isFCL == 'FCL' or product.isFCL == 'Both' %}
											<div class="row inf">
												<div class="col-lg-12 bg col-md-12 col-12">
													<div class="row">
														<div class="col-lg-3 stt text-center col-md-3 col-12">
															<h3>FCL Only</h3>
														</div>
														<div class="col-lg-9 stt col-md-9 col-12">
															<div class="bgs">
																<span>
																	<label>QTY</label>
																	<input type="text" placeholder="20’" />
																</span>
																<span>
																	<label>QTY</label>
																	<input type="text" placeholder="40’" />
																</span>
																<span>
																	<label>QTY</label>
																	<input class="lt" type="text" placeholder="40’ HC" />
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row inf">
												<div class="col-lg-12 bg col-md-12 col-12">
													<div class="row">
														<div class="col-lg-3 stt text-center col-md-3 col-12">
															<h3>Order Quantity</h3>
														</div>
														<div class="col-lg-9 stt col-md-9 col-12">
															<div class="bgs">
																<h4><input type="text" placeholder="0" /> We’ll automatically calculate how many items will fill your container load.</h4>
															</div>
														</div>
													</div>
												</div>
											</div>
                                            {% endif %}

                                            {% if product.isFCL == 'LCL' or product.isFCL == 'Both' %}
											<div class="row inf">
												<div class="col-lg-12 bg col-md-12 col-12">
													<div class="row">
														<div class="col-lg-3 stt text-center col-md-3 col-12">
															<h3>Quantity</h3>
														</div>
														<div class="col-lg-9 stt col-md-9 col-12">
															<div class="bgs">
																<div class="infin">
																	<input type="text" placeholder="Quantity" />
																	MOQ : {{ product.moq }}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row inf">
												<div class="col-lg-12 bg col-md-12 col-12">
													<div class="row">
														<div class="col-lg-3 stt text-center col-md-3 col-12">
															<h3>Containers</h3>
														</div>
														<div class="col-lg-9 ttd stt col-md-9 col-12">
															<div class="bgs">
																<div class="col-lg-12 sp-none col-md-12 col-12">
																	<h5>LCL Consolidated Shipment :</h5>
																	<p>
																		<em>
																			<span class="progress">
																				<span class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></span>
																			</span> 100% of 40’
																		</em>
																		<em>
																			<span class="progress">
																				<span class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></span>
																			</span>
																			75% of 20’
																		</em>
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
                                            {% endif %}
                                            {% if sameFactoryProducts|length > 1 %}
											<div class="row inf">
												<div class="col-lg-12 sp-none text-center col-md-12 col-12">
													<a class="link" href="{{hostURL}}{{'/shop/factory~f'}}{{product.factoryItemNo}}">
                                                        <img class="lts" src="{{asset('/bundles/global/images/bag.png')}}" alt="" />
                                                        MORE PRODUCTS FROM THIS FACTORY
                                                        <img class="rts" src="{{asset('/bundles/global/images/arrow-right.svg')}}" alt="" />
                                                    </a>
												</div>
											</div>
                                            {% endif %}
										</div>
									</div>
								</div>
								<div class="card" style="display: none;">
									<div class="card-header" id="heading4">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
												Resource & Care
											</button>
										</h5>
									</div>
									<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
										<div class="card-body">
											<div class="row inf">
												<div class="col-lg-12 bg col-md-12 col-12">
													<div class="row">
														<div class="col-lg-3 stt text-center col-md-3 col-12">
															<h3>FCL Only</h3>
														</div>
														<div class="col-lg-9 stt col-md-9 col-12">
															<div class="bgs">
																<span>
																	<label>QTY</label>
																	<input type="text" placeholder="20’" />
																</span>
																<span>
																	<label>QTY</label>
																	<input type="text" placeholder="40’" />
																</span>
																<span>
																	<label>QTY</label>
																	<input class="lt" type="text" placeholder="40’ HC" />
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row inf">
												<div class="col-lg-12 bg col-md-12 col-12">
													<div class="row">
														<div class="col-lg-3 stt text-center col-md-3 col-12">
															<h3>Order Quantity</h3>
														</div>
														<div class="col-lg-9 stt col-md-9 col-12">
															<div class="bgs">
																<h4><input type="text" placeholder="0" /> We’ll automatically calculate how many items will fill your container load.</h4>
															</div>
														</div>
													</div>
												</div>
											</div>
                                            {% if sameFactoryProducts|length > 1 %}
											<div class="row inf">
												<div class="col-lg-12 sp-none text-center col-md-12 col-12">
													<a class="link" href="{{hostURL}}{{'/shop/factory~f'}}{{product.factoryItemNo}}">
														<img class="lts" src="{{asset('/bundles/global/images/bag.png')}}" alt="" />
														MORE PRODUCTS FROM THIS FACTORY
														<img class="rts" src="{{asset('/bundles/global/images/arrow-right.svg')}}" alt="" />
													</a>
												</div>
											</div>
                                            {% endif %}
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="heading5">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
												
												Sample Request
											</button>
										</h5>
									</div>
									<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
										<div class="card-body">
											<div class="row inf">
												<div class="col-lg-12 bg last col-md-12 col-12">
													<div class="row">
														<div class="col-lg-3 stt text-center col-md-3 col-12">
															<h3>Quantity</h3>
														</div>
														<div class="col-lg-9 stt col-md-9 col-12">
															<div class="bgs">
																<span>
																	{#<label>QTY</label>#}
                                                                    <input type="text" placeholder="QTY" />
                                                                    <label class="lt">For Approval</label>
																</span>
																<span>
																	{#<label>QTY</label>#}
                                                                    <input type="text" placeholder="QTY" />
																	<label class="lt">For Photoshoot</label>
																</span>
																<span>
																	{#<label>QTY</label>#}
                                                                    <input type="text" placeholder="QTY" />
																	<label class="lt">For Testing</label>
																</span>
																<span>
																	{#<label>QTY</label>#}
                                                                    <input type="text" placeholder="QTY" />
																	<label class="lt">For Other</label>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
                         <div class="col-lg-12 btns col-md-12 col-12">
                             {% set productUrl =  app_navigation_product_details(product) %}
                             <a class="add-cart" href="#">ADD TO CART</a>
                             <a href="mailto:?body=I want to recommend this product at Nufind
%0A%0A{{ product.productName|replace({'&': '%26'}) }}%3A%0A{{hostURL}}{{productUrl}}&subject=Check this out at Nufind"><img src="{{asset('/bundles/global/images/cart-1.png')}}" alt="" /></a>
                             {% set wislistStatus =  app_navigation_product_in_wishlist(product) %}
                             <a {% if wislistStatus == false %} data-toggle="modal" data-target="#myModal-wish"  {% else %}  onclick="wishlist('{{product.id}}','{{wislistStatus}}')" {% endif %}  ><img src="{{asset('/bundles/global/images/cart-2.png')}}" alt="" /></a>
                         </div>
					</div>
				 </div>
			 </div>
        </section>
        {% if sameFactoryProducts|length > 1 %}
        <section class="section text-center favrite-find-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>MORE PRODUCTS FROM THE SAME FACTORY</h2>
                        </div>
                    </div>
                </div>
                <div class="our-favorite-finds mt-70">
                    <div class="favorite-finds-slider owl-padding owl-carousel owl-theme">
                        {% if sameFactoryProducts|length > 0 %}
                            {%  for item in sameFactoryProducts %}
                              {% if item.id != product.id %}
                                  {% set id =  app_navigation_sitemap_id('',item.category) %}
                                  <div class="item">
                                    <div class="product-box">
                                        <div class="product-img">
                                            {% if item.mainImage %}
                                                <img src="{{ item.mainImage }}" />
                                            {% else %}
                                                <img src="{{ pimcore_website_config('noImage') }}" />
                                            {% endif %}
                                        </div>
                                        <div class="pro-btn-dv">
                                            <a onclick='return sitemenuValueStore({{id}})' href="{{app_navigation_product_details(item)}}" class="product-btn btn">{{ item.productName }}</a>
                                        </div>
                                    </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% if sameFactoryProducts|length > 1 %}
                    <a href="{{hostURL}}{{'/shop/factory~f'}}{{product.factoryItemNo}}" class="btn more-factory">SEE MORE FROM THIS FACTORY <i class="fa fa-angle-right"></i></a>
                {% endif %}
            </div>
        </section>
        {% else %}
        <section class="section text-center favrite-find-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>MORE PRODUCTS FROM THE SAME FACTORY</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2><b>Not Available Any Product</b></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    {% if(MembershipType == 'Curate') %}
        <section id="part-info">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1 col-md-6 col-12">
                        <div class="col-lg-12 text-center bg col-md-12 col-12">
                            <h6>PART OF OUR</h6>
                            <h2>BOUTIQUE<br/><span>CURATION <em>28/40</em></span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                            <a class="l-btn" href="#">EXPLORE THE CURATION</a>
                        </div>
                    </div>
                    <div class="col-lg-6 img col-md-6 col-12">
                        <img src="{{asset('/bundles/global/images/items.png')}}" alt="" />
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section text-center favrite-find-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>{{ pimcore_input("mihome_txt1",{"placeholder": "OUR FAVORITE FINDS"}) }} </h2>
                    </div>
                </div>
            </div>
            <div class="our-favorite-finds mt-70">
                <div class="favorite-finds-slider owl-padding owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-box">
                            <div class="product-img">
                                <img src="/bundles/global/images/product-image/storage-basket.png" alt="Storage Basket">
                            </div>
                            <div class="pro-btn-dv">
                                <a href="#" class="product-btn btn">Storage Basket</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-box">
                            <div class="product-img">
                                <img src="/bundles/global/images/product-image/just-rug.png" alt="Just Rug">
                            </div>
                            <div class="pro-btn-dv">
                                <a href="#" class="product-btn btn">Just Rug</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-box">
                            <div class="product-img">
                                <img src="/bundles/global/images/product-image/ceramik-mug.png" alt="Just Rug">
                            </div>
                            <div class="pro-btn-dv">
                                <a href="#" class="product-btn btn">Ceramic Mug</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-box">
                            <div class="product-img">
                                <img src="/bundles/global/images/product-image/Groupe-987.png" alt="Just Rug">
                            </div>
                            <div class="pro-btn-dv">
                                <a href="#" class="product-btn btn">Rattan Coffee Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if(recentlyViewedProducts|length > 0) %}
    <section class="section text-center recently-viewed-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>RECENTLY VIEWED </h2>
                    </div>
                </div>
            </div>
            <div class="recently-viewed mt-70">
                <div class="recently-viewed-slider owl-padding owl-carousel owl-theme">
                        {%  for rvitem in recentlyViewedProducts %}
                            {% set id =  app_navigation_sitemap_id('',rvitem.category) %}
                            <div class="item">
                                <div class="product-box">
                                    <div class="product-img">
                                        {% if rvitem.mainImage %}
                                            <img src="{{ rvitem.mainImage.thumbnail('recentlyViewedProductImage') }}" />
                                        {% else %}
                                            <img src="{{ pimcore_website_config('noImage').thumbnail('recentlyViewedProductImage') }}" />
                                        {% endif %}
                                    </div>
                                    <div class="pro-btn-dv">
                                        <a onclick='return sitemenuValueStore({{id}})' href="{{app_navigation_product_details(rvitem)}}" class="product-btn btn">{{ rvitem.productName }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    {% endif %}


    <!-- Button to Open the Modal
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-wish-3">
    Open modal
    </button>-->
    <!-- The Modal -->
    <div class="modal edit-modal wish-modal req-modal" id="myModal-wish-3">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center col-md-12 col-12">
                            <h4 class="modal-title">REQUEST AN ITEM</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <div class="col-lg-12 sps col-md-12 col-12">
                        <div class="row">
                            <div class="col-lg-12 text-right w-input col-md-12 col-12">
                                <textarea placeholder="Looking for something extra special? Write down or attach your requests and well find a way to make it happen." ></textarea>
                                <span class="numi">
                                <em>0/100</em>
                                <a class="paper" href="#"><img src="images/icon-paper.png" alt=""></a>
                            </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center col-md-12 col-12">
                                <a class="conf" data-toggle="modal" data-target="#myModal-wish-4" data-dismiss="modal">CREATE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Button to Open the Modal
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-wish-4">
    Open modal
    </button>-->
    <!-- The Modal -->
    <div class="modal edit-modal wish-modal thank-" id="myModal-wish-4">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center col-md-12 col-12">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <div class="col-lg-12 sps text-center col-md-12 col-12">
                        <h3>Thanks! We’ll review your request and get back to you in 7 days</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Button to Open the Modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-wish">
Open modal
</button>-->
<!-- The Modal -->
<div class="modal edit-modal wish-modal" id="myModal-wish">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 text-center col-md-12 col-12">
						<h4 class="modal-title">SELECT A WISH LIST</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="col-lg-12 sps col-md-12 col-12">
					<div class="row">
                        {% if wishlist|length > 0 %}
                             {% for value in wishlist %}
                                <div class="col-lg-12 linki col-md-12 col-12">
                                    <a class="active" onclick="wishlist('{{product.id}}','{{value.lable}}')">{{value.lable}} ({{value.productCount}})</a>
                                    <span class="active">
                                        <a class="fill " href="#"><img src="images/heart-fill.png" alt="" /></a>
                                        <a class="" href="#"><img src="images/icon-heart.png" alt="" /></a>
                                    </span>
                                </div>
                             {% endfor %}
                        {% endif %}     
					</div>
					<div class="row">
						<div class="col-lg-12 text-center col-md-12 col-12">
							<a class="conf"  data-toggle="modal" data-target="#myModal-wish-2" data-dismiss="modal"><img src="images/icon-plus-small.png" alt="" /> CREATE A WISH LIST</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Button to Open the Modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-wish-2">
Open modal
</button>-->
<!-- The Modal -->
<div class="modal edit-modal wish-modal" id="myModal-wish-2">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 text-center col-md-12 col-12">
						<h4 class="modal-title">SELECT A WISH LIST</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="col-lg-12 sps col-md-12 col-12">
					<div class="row">
						{% if wishlist|length > 0 %}
                             {% for value in wishlist %}
                                <div class="col-lg-12 linki col-md-12 col-12">
                                    <a class="active" href="#">{{value.lable}} ({{value.productCount}})</a>
                                    <span class="active">
                                        <a class="fill " href="#"><img src="images/heart-fill.png" alt="" /></a>
                                        <a class="" href="#"><img src="images/icon-heart.png" alt="" /></a>
                                    </span>
                                </div>
                             {% endfor %}
                        {% endif %}  
						<div class="col-lg-12 text-right w-input col-md-12 col-12">
                        <input type="hidden" id="productId" value="{{product.id}}"/>
							<input type="text" maxlength='32' name="addWishlist" value="" id="addWishlist" onkeyup="countChar(this)" placeholder="Wish list name" />
							<span class="nu">0/32</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 text-center col-md-12 col-12">
							<a class="conf" id="saveWishlist" >CREATE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%  endblock %}