{# @var productListing \Pimcore\Bundle\EcommerceFrameworkBundle\IndexService\ProductList\ProductListInterface #}
{# @var result \Zend\Paginator\Paginator #}
{# @var item \AppBundle\Model\Product\Car #}
{# @var filterService \Pimcore\Bundle\EcommerceFrameworkBundle\FilterService\FilterService #}
{# @var filterDefinition \Pimcore\Model\DataObject\FilterDefinition #}
<main id="product-infos">

	<div class="container-fluid">
        <div class="row">
        
            <div class="container-fluid">
                <section class="breadcrumb">
                    <ul>
                        <li><a href="{{app.request.schemeAndHttpHost }}">Misource</a></li>
                        {% set sitemenuId = "" %}
                        {% if term is defined %}
                            {% if term != null %}
                                <li>Search value for {{term}}</li>
                            {% else %}
                                <li>Same factory</li>    
                            {% endif %}    
                        {% else %}
                            {% set breadcrumbs =  app_navigation_enrich_breadcrumbs() %}
                            {% if breadcrumbs|length > 0 %}
                                {% for value in breadcrumbs %}
                                    <li>
                                        {% if (value.url is defined) and (value.url != app.request.requestUri) %}
                                            <a onclick='return sitemenuValueStore({{value.id}})' href="{{value.url}}">
                                                {{value.name}}
                                            </a>
                                        {% else %}
                                        {% set sitemenuId =  value.id %}
                                            {{value.name}}
                                        {% endif %}
                                    </li>
                                    
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        
                    </ul>
                </section>
            </div>
            <div class="col-lg-6 col-lg-6 col-md-6 col-12">
            {% if category  %}
                <section class="page-title">{{ category|title }}</section>
            {% endif %}
            </div>
            <div class="col-lg-6 bree text-right col-md-6 col-lg-6 col-12">
                {% set sortVal = app.request.get('sort')  %}

                <p>{{ currentItemCount }} of {{ totalCount }} Items
                    <span class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sort By
							</button>
							<span class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                {% set sort = pimcore_pagination_url('sort','') %}
								<a class="dropdown-item {% if sortVal == 'creationDate' %} {{ 'active' }} {% endif %}" href="{{ sort }}{{ "creationDate" }}">NEWEST</a>
                                <a class="dropdown-item {% if sortVal == 'bestSelling' %} {{ 'active' }} {% endif %}" href="{{ sort }}{{ "bestSelling" }}">BEST SELLING</a>
                                <a class="dropdown-item {% if sortVal == 'trending' %} {{ 'active' }} {% endif %}" href="{{ sort }}{{ "trending" }}">TRENDING</a>
							</span>
						</span>
                    </p>
            </div>
        
        </div>
    </div>
    <div class="container-fluid">
        <section class="col2-left-layout">
        {% if(results|length > 0) %}
            <div class="row">
                {% if(filterDefinition|length > 0) %}
                    <div class="col-left col-lg-3 col-12 sidebar col-md-4">
                        <h5>Filters</h5>
                        <form id="js_filterfield">
                                {% if(filterDefinition.filters|length > 0) %}
                                    {% set filterBySupplier =  app_product_filter_subscription(filterDefinition.filters) %}
                                    {% if(filterBySupplier|length > 0) %}
                                        {% for filter in filterBySupplier %}
                                            
                                            {% set filterMarkup = filterService.filterFrontend(filter, productListing, currentFilter) %}
                                            
                                            {{ filterMarkup | raw  }}
                                        
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                        </form>
                    </div>
                {% endif %}
                <div class="col-main col-lg-9 col-md-8 col-12">
                    <div class="row">
                    
                        {%  for item in results %}
                            <div class="col-lg-4 col-sm-6 col-md-6 mb-5">
                                {% include 'GlobalBundle:product:product_teaser.html.twig' with {'product': item} %}
                            </div>
                        {% endfor %}
                   
                    </div>
                    <div class="row">
                        <div class="col-sm-12 pagi col-12 text-right">
                            <ul>
                                {% include 'GlobalBundle:product/includes:pagination.html.twig' %}
                            </ul>
                        </div>
                    </div>

              </div>
            </div>
            {% else %}
            <div><h4>This category related product is currently unavailable.</h4></div>
        {% endif %}
        </section>
    </div>
</main>

{% if(recentlyViewedProducts|length > 0) %}
<section class="section text-center recently-viewed-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>RECENTLY VIEWED </h2>
                </div>
            </div>
        </div>
        <div class="recently-viewed mt-70">
            <div class="recently-viewed-slider owl-padding owl-carousel owl-theme">

                
                    {%  for rvitem in recentlyViewedProducts %}
                        {% set id =  app_navigation_sitemap_id('',rvitem.category) %}
                        <div class="item">
                            <div class="product-box">
                                <div class="product-img">
                                    {% if rvitem.mainImage %}
                                        <img src="{{ rvitem.mainImage.thumbnail('recentlyViewedProductImage') }}" />
                                    {% else %}
                                        <img src="{{ pimcore_website_config('noImage').thumbnail('recentlyViewedProductImage') }}" />
                                    {% endif %}
                                </div>
                                <div class="pro-btn-dv">
                                    <a onclick='return sitemenuValueStore({{id}})' href="{{app_navigation_product_details(rvitem)}}" class="product-btn btn">{{ rvitem.productName }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                
            </div>
        </div>
    </div>
</section>
{% endif %}