{% set productUrl =  app_navigation_product_details(product) %}
 
{% set id =  app_navigation_sitemap_id(sitemenuId,product.category) %} 
<a onclick='return sitemenuValueStore({{id}})' href="{{productUrl}}" class="product-item" > 
{# <a  class="product-item"> #}
    <div class="product-img">
        <span class="new-product">NEW</span>
        {% if product.agenda|length > 0 %}
            {%  for agenda in product.agenda %}
                {% set agendaString = app_product_materials([agenda], 'agenda') %}
                <div class="agei-posi"><span class="agenda">{{ agendaString|trim(', ') }}</span></div>
            {% endfor %}
        {% endif %}
        
        <span class="wishlist" onclick="wishlist('{{product.id}}','customerName')"></span>
        <span href-data="mailto:?body=I want to recommend this product at Nufind
%0A%0A{{ product.productName|replace({'&': '%26'}) }}%3A%0A{{hostURL}}{{productUrl}}&subject=Check this out at Nufind" class="socio-share"></span>

        {% if product.mainImage %}
            <img src="{{ product.mainImage.thumbnail('productListImage') }}" />
        {% else %}
            <img src="{{ pimcore_website_config('noImage') }}" />
        {% endif %}

    </div>
    <div class="product-desc">
        <h6>{{ product.productName }}</h6>
		{% if product.material|length > 0 %}
			<p class="material">{{ app_product_materials(product.material, 'material')|trim(', ') }}</p>
		{% endif %}

		{% if product.finish|length > 0 %}
			<p class="prod-gist">Available in {{ product.finish|length }} finishes</p>
		{% endif %}

		{% if product.color|length > 0 %}
			<ul class="shades">
				{%  for colorIds in product.color %}
					{% set colorsObj = app_product_materials([colorIds], 'color') %}

					{% if colorsObj[0].image %}
						<li><img src="{{ colorsObj[0].image }}" /></li>
					{% else %}
						<li><span class="colorCode" style="background-color:{{ colorsObj[0].code }};height: 35px;width: 35px;display: block;border-radius: inherit;" ></span></li>
					{% endif %}

				{% endfor %}
			</ul>
		{% endif %}
    </div>
</a>


