
{% extends 'GlobalBundle:layouts:layout.html.twig' %}

{% block content %}

   
    <main id="product-infos" class="my-team favourite">

        <div class="container-fluid">
            <section class="breadcrumb">
                <ul>
                    <li><a href="#">Mi.Source</a></li>
                    <li>Favorites</li>
                </ul>
            </section>
		</div>
        <div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-lg-6 col-md-6 col-12">
					<section class="page-title">Favorites</section>
				</div>
				<div class="col-lg-6 bree text-right col-md-6 col-lg-6 col-12">
					<p>12 of 22 Items 
						<span class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sort By
							</button>
							<span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">NEWEST</a>
								<a class="dropdown-item" href="#">BEST SELLING</a>
								<a class="dropdown-item active" href="#">TRENDING</a>
							</span>
						</span>

					</p>
				</div>
			</div>
			
		</div>
        <div class="container-fluid">
            <section class="col2-left-layout">
                <div class="row">
                    <div class="col-left col-lg-3 col-12 sidebar col-md-4">
                        <h5>My Wish Lists</h5>
                        <div class="block">
							<div class="icon-oth">
								<div class="col-lg-12 flush col-sm-12 col-md-12">
									<a class="active" href="#">Home (6)</a>
									<span class="soci">
										<a href="#"><img src="images/icon-bar.png" alt="" /></a>
										<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										<a href="#"><img src="images/img-pencil.png" alt="" /></a>
										<a href="#"><img src="images/icon-delete-sm.png" alt="" /></a>
									</span>
								</div>
								<div class="col-lg-12 flush col-sm-12 col-md-12">
									<a href="#">Lifestyle (3)</a>
									<span class="soci">
										<a href="#"><img src="images/icon-bar.png" alt="" /></a>
										<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										<a href="#"><img src="images/img-pencil.png" alt="" /></a>
										<a href="#"><img src="images/icon-delete-sm.png" alt="" /></a>
									</span>
								</div>
								<div class="col-lg-12 flush col-sm-12 col-md-12">
									<a class="cre"  data-toggle="modal" data-target="#myModal-wish-2"><img src="images/icon-plus-black.png" alt="" /> CREATE A WISH LIST</a>
								</div>
							</div>
                        </div>
                    </div>

                    <div class="col-main col-lg-9 col-md-8 col-12">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-md-6 mb-5">
                                <div class="product-item">
                                    <div class="product-img">
                                        <img src="images/Products/Groupe 998.png" />
                                        <div class="agei-posi">
											<span class="agenda">Hand Made</span>
										</div>
										<div class="line-info-close">
											<a href="#"><img src="images/icon-close-black.png" alt="" /></a>
										</div>
										<div class="cart-info">
											<a class="c-fill" href="#"><img src="images/icon-cart-fill.png" alt="" /></a>
											<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										</div>
                                    </div>
                                    <div class="product-desc">
                                        <h6>Coffee Table 1</h6>
                                        <p class="material">Aluminium</p>
                                        <p class="prod-gist">Mix natural rat</p>
                                        <ul class="shades">
                                            <li><img src="images/shade-1.png" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-md-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <img src="images/Products/Groupe 997.png" />
                                        <div class="agei-posi">
											<span class="agenda">Ethical</span>
										</div>
										<div class="line-info-close">
											<a href="#"><img src="images/icon-close-black.png" alt="" /></a>
										</div>
										<div class="cart-info active">
											<a class="c-fill" href="#"><img src="images/icon-cart-fill.png" alt="" /></a>
											<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										</div>
                                    </div>
                                    <div class="product-desc">
                                        <h6>Coffee Table 1</h6>
                                        <p class="material">Wooven</p>
                                        <p class="prod-gist"> Mix natural rat tan with any color</p>
                                        <ul class="shades">
                                            <li><img src="images/shade-1.png" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-md-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <img src="images/Products/Groupe 996.png" />
                                        <div class="agei-posi">
											<span class="agenda">Sustainable</span>
											<span class="agenda">Hand Made</span>
										</div>
										<div class="line-info-close">
											<a href="#"><img src="images/icon-close-black.png" alt="" /></a>
										</div>
										<div class="cart-info">
											<a class="c-fill" href="#"><img src="images/icon-cart-fill.png" alt="" /></a>
											<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										</div>
                                    </div>
                                    <div class="product-desc">
                                        <h6>Coffee Table 1</h6>
                                        <p class="material">Rattan</p>
                                        <p class="prod-gist">&nbsp;</p>
                                        <ul class="shades">
                                            <li><img src="images/shade-2.svg" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
								<!-- -->
                            <div class="col-lg-4 col-sm-6 col-md-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <div class="agei-posi">
                                        <span class="agenda">Hand Made</span></div>
                                        <img src="images/Products/Groupe 999.png" />
										<div class="line-info-close">
											<a href="#"><img src="images/icon-close-black.png" alt="" /></a>
										</div>
										<div class="cart-info">
											<a class="c-fill" href="#"><img src="images/icon-cart-fill.png" alt="" /></a>
											<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										</div>
                                    </div>
                                    <div class="product-desc">
                                        <h6>Coffee Table 5</h6>
                                        <p class="material">Aluminium</p>
                                        <p class="prod-gist">Avialable in 8 finishes</p>
                                        <ul class="shades">
                                            <li><img src="images/shade-1.png" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-md-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <div class="agei-posi">
                                        <span class="agenda">Ethical</span></div>
                                        <img src="images/Products/Groupe 1000.png" />
										<div class="line-info-close">
											<a href="#"><img src="images/icon-close-black.png" alt="" /></a>
										</div>
										<div class="cart-info">
											<a class="c-fill" href="#"><img src="images/icon-cart-fill.png" alt="" /></a>
											<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										</div>
                                    </div>
                                    <div class="product-desc">
                                        <h6>Coffee Table 1</h6>
                                        <p class="material">Wood and Aluminium</p>
                                        <p class="prod-gist"> Mix natural rat tan with any color</p>
                                        <ul class="shades">
                                            <li><img src="images/shade-2.svg" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-md-6">
                                <div class="product-item">
                                    <div class="product-img">
                                        <div class="agei-posi">
                                        <span class="agenda">Sustainable</span>
                                        <span class="agenda">Hand Made</span></div>
                                        <img src="images/Products/Groupe 1001.png" />
										<div class="line-info-close">
											<a href="#"><img src="images/icon-close-black.png" alt="" /></a>
										</div>
										<div class="cart-info">
											<a class="c-fill" href="#"><img src="images/icon-cart-fill.png" alt="" /></a>
											<a href="#"><img src="images/icon-cart.png" alt="" /></a>
										</div>
                                    </div>
                                    <div class="product-desc">
                                        <h6>Coffee Table 1</h6>
                                        <p class="material">Rattan</p>
                                        <p class="prod-gist">&nbsp;</p>
                                        <ul class="shades">
                                            <li><img src="images/shade-2.svg" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
    </main>

        <!-- RECENTLY VIEWED -->
        <section class="section text-center recently-viewed-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                           <h2>RECENTLY VIEWED </h2>
                       </div>
                   </div>
                </div>
                <div class="recently-viewed mt-70">
                    <div class="recently-viewed-slider owl-padding owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-box">
                            <div class="product-img">
                                <img src="./images/product-image/Groupe-994.png" alt="Storage Basket">
                           </div>
                           <div class="pro-btn-dv">
                               <a href="#" class="product-btn btn">Storage Basket</a>
                           </div>
                       </div>
                   </div>
                   <div class="item">
                       <div class="product-box">
                           <div class="product-img">
                               <img src="./images/product-image/Groupe-993.png" alt="Just Rug">
                          </div>
                          <div class="pro-btn-dv">
                              <a href="#" class="product-btn btn">Just Rug</a>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                   <div class="product-box">
                       <div class="product-img">
                           <img src="./images/product-image/Groupe-992.png" alt="Just Rug">
                      </div>
                      <div class="pro-btn-dv">
                          <a href="#" class="product-btn btn">Ceramic Mug</a>
                      </div>
                  </div>
              </div>
              <div class="item">
               <div class="product-box">
                   <div class="product-img">
                       <img src="./images/product-image/Groupe-991.png" alt="Just Rug">
                  </div>
                  <div class="pro-btn-dv">
                      <a href="#" class="product-btn btn">Rattan Coffee Table</a>
                  </div>
              </div>
              </div>
          </div>
               </div>
           </div>
           </section>

{%  endblock %}
