{# layout/layout.html.twig #}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ include('@Website/includes/head.html.twig') }}
    </head>
    <body class="{{ editmode ? 'editmode-view' : '' }}">
        {% if not document is defined or not document %}
            {% set document = pimcore_document_by_path('/3SWebsite') %}
        {% endif %}
        {{ pimcore_inc(document.getProperty('header')) }}
        
        {# content placeholdet #}
        {% block content %}{% endblock %}   
        {# /content placeholdet #}
        
        {#common popups and #}
        {% block popup %}
        {{ include('@Website/popups/becomeASupplier.html.twig') }}
        {{ include('@Website/popups/bookAMeeting.html.twig') }}
        {{ include('@Website/popups/careerWithUs.html.twig') }}
        {% endblock %}   
        {#/common popups and #}
        
        {{ pimcore_inc(document.getProperty('footer')) }}
        
        {{ include('@Website/includes/scripts.html.twig') }}
        
        {#onpage scripts #}
        {% block onpagescripts %}{% endblock %} 
        {#/onpage scripts #}
    </body>
</html>
