{% extends '@Website/layout/layout.html.twig' %}
{% block content %}
    <div class="wide-content-wrapper">
            <!-- top section 01-->
            <section class="about-page-top-section">
                <div class="container-fluid p-0">
                    <div class="rw">
                        <div class="cl-left">
                            <div class="our-story-block" data-aos="fade-up" data-aos-delay="30" data-aos-duration="5000">
                                <span class="our-story-text">{{ pimcore_input("about_1",{"placeholder": "Enter Text Here"}) }}</span>
                                <h1>{{ pimcore_input("about_2",{"placeholder": "Enter Text Here"}) }}</h1>
                                <p>{{  pimcore_wysiwyg("about_3", {
                                        "height": 200
                                    })  }}</p>
                            </div>
                            <div class="made-in-india-logo" data-aos="zoom-in-up" data-aos-delay="40" data-aos-duration="1000">
                                
                                {% if editmode %}
                                {{ pimcore_image("about_img_4", {
                                    "title": "Source to Shelf icon",
                                    "uploadPath": website_aboutus_path
                                }) }}
                                {% else %}
                                    {% set thumbnail = pimcore_image("about_img_4") %}
                                    {% if thumbnail is empty %}
                                         <img src="{{asset('bundles/website/assets/images/about-made-in-india-logo.svg')}}" alt="">
                                    {% else %}
                                        <img src="{{ thumbnail.getSrc() }}" alt="India logo">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="cl-right">
                            <div class="hand-image" data-aos="fade-left" data-aos-delay="50"
                            data-aos-duration="1000">
                                {% if editmode %}
                                {{ pimcore_image("about_img_3", {
                                    "title": "Source to Shelf icon",
                                    "uploadPath": website_aboutus_path
                                }) }}
                                {% else %}
                                    {% set thumbnail = pimcore_image("about_img_3") %}
                                    {% if thumbnail is empty %}
                                         <img src="{{asset('bundles/website/assets/images/hand-image.jpg')}}" alt="Hand Image">
                                    {% else %}
                                        <img src="{{ thumbnail.getSrc() }}" alt="Hand Image">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>


                </div>
            </section>
            <!-- service level 01 section-->
            <section class="latest-tech-section">
                <div class="container-fluid">

                    <div class="plain-content-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="5000">
                        <p class="p1">
                        {# {{  pimcore_wysiwyg("about_4", {
                                        "height": 200
                                    })  }} #}
                                    {{ pimcore_input("about_221",{"placeholder": "Enter Text Here"}) }}</p>
                        <p class="p2">
                        {# {{  pimcore_wysiwyg("about_5", {
                                        "height": 200
                                    })  }} #}
                                    {{ pimcore_input("about_223",{"placeholder": "Enter Text Here"}) }}</p>
                    </div>
                    <div class="smart-sourc-sol-logo"  data-aos="fade-left" data-aos-delay="30" data-aos-duration="5000">
                        {% if editmode %}
                                {{ pimcore_image("about_img_smart_source", {
                                    "title": "Source to Shelf icon",
                                    "uploadPath": website_aboutus_path
                                }) }}
                            {% else %}
                                {% set thumbnail = pimcore_image("about_img_smart_source") %}
                                {% if thumbnail is empty %}
                                   <img src="{{asset('bundles/website/assets/images/smart-sourcing-large-white.svg')}}" alt="Smart Sourcing Logo">
                                {% else %}
                                    <img src="{{ thumbnail.getSrc() }}" alt="Smart Sourcing Logo">
                                {% endif %}
                            {% endif %}
                    </div>
                </div>
            </section>

            <!-- ship image section-->
            <section class="big-ship-image-section">
                <div class="container-fluid p-0">
                    <div class="rw">
                        <div class="cl-left">
                            <div class="lf-content" data-aos="fade-right" data-aos-delay="50"
                            data-aos-duration="1000">
                                <p>{{  pimcore_wysiwyg("about_6", {
                                        "height": 200
                                    })  }}</p>
                            </div>
                        </div>
                        <div class="cl-right">
                            <div class="big-ship-image">
                            {% if editmode %}
                                {{ pimcore_image("about_img_ship", {
                                    "title": "Source to Shelf icon",
                                    "uploadPath": website_aboutus_path
                                }) }}
                                
                            {% else %}
                                {% set thumbnail = pimcore_image("about_img_ship") %}
                                {% if thumbnail is empty %}
                                <img src="{{asset('bundles/website/assets/images/big-ship-image.jpg')}}" alt="Ship Image">
                                {% else %}
                                    <img src="{{ thumbnail.getSrc() }}" alt="Ship Image">
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Working with India section-->
            <section class="working-with-inida-sec">
                <div class="wwi-content" data-aos="fade-up" data-aos-delay="10"
                data-aos-duration="1000">
                    <h2>{{ pimcore_input("services_lavel_7",{"placeholder": "Enter Text Here"}) }}</h2>
                    <p>{{  pimcore_wysiwyg("about_8", {
                                        "height": 200
                                    })  }}</p>
                </div>
            </section>

            <!-- our commitments section-->
            <section class="big-ship-image-section our-commitments-section">
                <div class="container-fluid p-0">
                    <div class="rw">
                        <div class="cl-left">
                            <div class="lf-content" data-aos="fade-right" data-aos-delay="10"
                            data-aos-duration="1000">
                                <h3>{{ pimcore_input("services_lavel_9",{"placeholder": "Enter Text Here"}) }}</h3>
                                <p class="big-text">
                                {# {{  pimcore_wysiwyg("about_10", {
                                        "height": 200
                                    })  }} #}
                                    {{ pimcore_input("about_10",{"placeholder": "Enter Text Here"}) }}
                                    </p>
                                <p> 
                                {# {{  pimcore_wysiwyg("about_11", {
                                        "height": 200
                                    })  }} #}
                                    {{ pimcore_input("about_11",{"placeholder": "Enter Text Here"}) }}
                                    </p>
                            </div>
                        </div>
                        <div class="cl-right">
                            <div class="our-guide-content" data-aos="fade-left" data-aos-delay="10"
                            data-aos-duration="1000">
                                <spna class="our-guide-title">{{ pimcore_input("services_lavel_12",{"placeholder": "Enter Text Here"}) }}</span>
                                    <h2>{{ pimcore_input("services_lavel_13",{"placeholder": "Enter Text Here"}) }}</h2>
                                    <ul class="care-guide-list">
                                        <li>
                                            <div class="guide-no">{{ pimcore_input("services_lavel_14",{"placeholder": "Enter Text Here"}) }}</div>
                                            <div class="guide-txt">
                                                <p><strong>{{ pimcore_input("services_lavel_15",{"placeholder": "Enter Text Here"}) }}</strong></p>
                                                <p>{{  pimcore_wysiwyg("about_16", {
                                                        "height": 200
                                                    })  }}
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="guide-no">{{ pimcore_input("services_lavel_17",{"placeholder": "Enter Text Here"}) }}</div>
                                            <div class="guide-txt">
                                                <p><strong>{{ pimcore_input("services_lavel_18",{"placeholder": "Enter Text Here"}) }}</strong></p>
                                                <p>{{  pimcore_wysiwyg("about_19", {
                                                    "height": 200
                                                })  }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="guide-no">{{ pimcore_input("services_lavel_20",{"placeholder": "Enter Text Here"}) }}</div>
                                            <div class="guide-txt">
                                                <p><strong>{{ pimcore_input("services_lavel_21",{"placeholder": "Enter Text Here"}) }}</strong></p>
                                                <p>{{  pimcore_wysiwyg("about_22", {
                                                        "height": 200
                                                    })  }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="guide-no">{{ pimcore_input("services_lavel_23",{"placeholder": "Enter Text Here"}) }}</div>
                                            <div class="guide-txt">
                                                <p><strong>{{ pimcore_input("services_lavel_24",{"placeholder": "Enter Text Here"}) }} </strong></p>
                                                <p>{{  pimcore_wysiwyg("about_25", {
                                                        "height": 200
                                                    })  }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="guide-no">{{ pimcore_input("services_lavel_26",{"placeholder": "Enter Text Here"}) }}</div>
                                            <div class="guide-txt">
                                                <p><strong>{{ pimcore_input("services_lavel_27",{"placeholder": "Enter Text Here"}) }}</strong></p>
                                                <p>{{  pimcore_wysiwyg("about_28", {
                                                        "height": 200
                                                    })  }}</p>
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- our commitments section-->
            <!-- Our Leader ship section -->
            <section class="our-learship-section">
                <div class="container" data-aos="fade-up" data-aos-delay="10" data-aos-duration="1000">
                    <h2 class="big-thin-title">{{ pimcore_input("services_lavel_29",{"placeholder": "Enter Text Here"}) }}</h2>
                    <ul class="leader-list">
                        {% for key, leadership in leadershipArray %}
                        <li class="lead-box">
                            <div class="lead-thumb-img">
                                
                                <img src="{{ leadership.image.thumbnail('leadership') }}" alt="{{leadership.name}}">
                            </div>
                            <div class="lead-info">
                                <h3 class="lead-name">{{leadership.name}}</h3>
                                <span class="lead-position">{{leadership.position}}</span>
                            </div>
                            <div class="hover-box d-none">
                                <p>{{leadership.description}}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <!--End Our Leader ship section -->

            <!-- Our Team section -->
            <section class="our-learship-section our-team-section border-top-0 pt-0">
                <div class="container" data-aos="fade-up" data-aos-delay="10" data-aos-duration="1000">
                    <h2 class="big-thin-title">{{ pimcore_input("services_lavel_30",{"placeholder": "Enter Text Here"}) }}</h2>
                    <p class="team-member-text">{{ pimcore_input("services_lavel_31",{"placeholder": "Enter Text Here"}) }}</p>
                    <ul class="leader-list">
                     {% for key, team in teamArray %}
                    
                        <li class="lead-box {{team.bgColor}}-bg">

                            <div class="lead-thumb-img">
                                <img src="{{ team.image.thumbnail('leadership') }}" alt="{{team.name}}">
                            </div>
                            <div class="lead-info">
                                <h3 class="lead-name">{{team.name}}</h3>
                            </div>
                        </li>
                    {% endfor %}
                        <li class="lead-box last-lead">
                            <p>Plus, Over 40 Additional Members Located Throughout the World.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <!--End Our Team ship section -->


        <!-- Our Team section -->
        <section class="our-headquaters-section pt-0">
            <h2 class="big-thin-title">{{ pimcore_input("services_lavel_32",{"placeholder": "Enter Text Here"}) }}</h2>
            {% set selectStore = [] %}
            {% for i in 2..29 %}
                {% set selectStore = selectStore|merge([i]) %}
            {% endfor %}

            {% set slidesSelect = pimcore_select('slides', {
                store: selectStore,
                reload: true,
                width: 70,
                class: 'align-middle'
            }) %}

            {% set id = 'gallery-carousel-123' %}
            {% set slides = slidesSelect.getData()|default(2) %}

            {% if editmode %}
                <div class="alert alert-secondary col-xs-12" style="height: 75px">
                    <div class="col-xs-6 d-inline mx-auto">
                        <span class="editmode-label align-middle">How many images you want to show?</span>
                        {{ slidesSelect|raw }}
                    </div>
                </div>
            {% endif %}

            
            <div class="head-quater-carousel">
                <div {% if editmode %}{% else %}class="owl-carousel headquart-carousel owl-theme"{% endif %}>
                    {% for i in 0..(slides-1) %}
                        <div class="item">
                            {% if editmode %}
                                {{
                                    pimcore_image('image_' ~ i, {
                                        hidetext: true,
                                        dropClass: id ~ '-' ~ i
                                    })
                                }}
                            {% else %}
                                {% set thumbnail_b1 = pimcore_image('image_' ~ i, {
                                        hidetext: true,
                                        dropClass: id ~ '-' ~ i
                                    }) %}
                                {% if thumbnail_b1 is not empty %}
                                    <img src="{{ thumbnail_b1.getSrc() }}" alt="Banner">
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--End Our Team ship section -->





        </div>
{% endblock %}
