{% extends '@Website/layout/layout.html.twig' %}
{% block content %}
 <main>
         <!-- 1. Home section -->
        {# {{ pimcore_areablock("myAreablock") }} #}
        <section class="home-section">
            <div {% if editmode %}{% else %}class="owl-carousel banner-carousel owl-theme"{% endif %}>
                    {% set selectStore = [] %}
                    {% for i in 2..29 %}
                        {% set selectStore = selectStore|merge([i]) %}
                    {% endfor %}

                    {% set slidesSelect = pimcore_select('slides', {
                        store: selectStore,
                        reload: true,
                        width: 70,
                        class: 'align-middle'
                    }) %}

                    {% set id = 'gallery-carousel-123' %}
                    {% set slides = slidesSelect.getData()|default(2) %}

                    {% if editmode %}
                        <div class="alert alert-secondary col-xs-12" style="height: 75px">
                            <div class="col-xs-3 col-md-3">
                                <span class="editmode-label align-middle">How many images you want to show?</span>
                                {{ slidesSelect|raw }}
                            </div>
                        </div>
                    {% endif %}
                    {% for i in 0..(slides-1) %}
                        <div class="item">
                            {% if editmode %}
                                {{
                                    pimcore_image('image_' ~ i, {
                                        hidetext: true,
                                        dropClass: id ~ '-' ~ i,
                                        "uploadPath": website_index_path
                                    })
                                }}

                            {% else %}
                                {% set thumbnail_b1 = pimcore_image('image_' ~ i, {
                                        hidetext: true,
                                        dropClass: id ~ '-' ~ i
                                    }) %}
                                {% if thumbnail_b1 is empty %}
                                    <img src="{{asset('bundles/website/assets/images/home-banner-new-1.png')}}" alt="Home Banner 1">
                                {% else %}
                                    <img src="{{ thumbnail_b1.getSrc() }}" alt="Banner">
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {# <div class="item">
                    <video loop id="banner-video-1"> <source src="/3S Website Data/Index/Videos/map_video.mp4" type="video/mp4"></video> 
                </div> #}
            </div>
            <div class="home-banner-caption" data-aos="fade-down" data-aos-delay="30" data-aos-duration="1000">
                <div class="caption-text">
                    <span class="small-text your-part-text">
                        {# Your Partner In India #}
                        {{ pimcore_input("index_banner_txt_1",{"placeholder": "Enter Text Here"}) }}
                    </span>
                    <h1>
                    {# For Home & Lifestyle #}
                    {{ pimcore_input("index_banner_txt_2",{"placeholder": "Enter Text Here"}) }}
                    </h1>
                    <span class="small-text">
                        {# Supply Solutions #}
                        {{ pimcore_input("index_banner_txt_3",{"placeholder": "Enter Text Here"}) }}
                    </span>
                </div>
                <div class="smart-sol-banner-logo" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1000">
                    <img src="{{asset('bundles/website/assets/images/smart-sourcing-logo-dark.svg')}}" alt="Smart Solution Login">
                </div>
                <a  data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000" href="" class="btn-book-meeting" data-toggle="modal" data-target="#bookMeeting">
                Book a Meeting
                {# {{ pimcore_input("index_banner_btn_1",{"placeholder": "Enter Text Here"}) }}  #}
                </a>
            </div>
        </section>
                
        <!-- 2. content section -->
        <section class="section text-center what-we-do-sec">
            <div class="container" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
                <span class="what-we-do-text">{{ pimcore_input("whatWeDo_span_Text1",{"placeholder": "Enter Text Here"}) }}</span>
                <h2 class="main-title text-center">{{ pimcore_input("whatWeDo_h2_Text2",{"placeholder": "Enter Text Here"}) }}</h2>
                <p>
                    {{  pimcore_wysiwyg("whatWeDo_Content", {
                            "height": 200
                        }) 
                    }}
                </p>
            </div>
            <div class="home-made-in-india-logo" data-aos="fade-up" data-aos-delay="20" data-aos-duration="1500">
                <img src="{{asset('bundles/website/assets/images/made-in-india-image.svg')}}" alt="Made In India Logo">
            </div>
        </section>
        

        <!-- 3. End to End Section -->
        <section class="section end-to-end-sec">
            <div class="container-fluid">
                <div class="box-content">
                    <h2 class="main-title text-center title-text-green">{{ pimcore_input("endToEnd_Text2",{"placeholder": "Enter Text Here"}) }}</h2>
                    <div class="end-to-end-box">
                        <ul class="end-to-end-list">
                            <li>
                                <div class="end-to-end-dv">
                                    <div class="icon-box">
                                        {% if editmode %}
                                        {{ pimcore_image("index_e2e_img_1", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_e2e_img_1") %}
                                            {% if thumbnail is empty %}
                                            <img src="{{asset('bundles/website/assets/images/discover-icon.svg')}}" alt="Discover">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Discover">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <h3>{{ pimcore_input("endToEnd_heading_Text1",{"placeholder": "Enter Text Here"}) }}</h3>
                                    <p> {{ pimcore_input("endToEnd_para_Text1",{"placeholder": "Enter Text Here"}) }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="end-to-end-dv">
                                    <div class="icon-box">
                                        {% if editmode %}
                                        {{ pimcore_image("index_e2e_img_2", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_e2e_img_2") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/design-icon.svg')}}" alt="Design">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Discover">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <h3>{{ pimcore_input("endToEnd_heading_Text2",{"placeholder": "Enter Text Here"}) }}</h3>
                                    <p> {{ pimcore_input("endToEnd_para_Text2",{"placeholder": "Enter Text Here"}) }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="end-to-end-dv">
                                    <div class="icon-box">
                                        {% if editmode %}
                                        {{ pimcore_image("index_e2e_img_3", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_e2e_img_3") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/develop-icon.svg')}}" alt="Develop">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Discover">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <h3>{{ pimcore_input("endToEnd_heading_Text3",{"placeholder": "Enter Text Here"}) }}</h3>
                                    <p> {{ pimcore_input("endToEnd_para_Text3",{"placeholder": "Enter Text Here"}) }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="end-to-end-dv">
                                    <div class="icon-box">
                                        {% if editmode %}
                                        {{ pimcore_image("index_e2e_img_4", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_e2e_img_4") %}
                                            {% if thumbnail is empty %}
                                            <img src="{{asset('bundles/website/assets/images/deliver-icon.svg')}}" alt="Deliver">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Discover">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <h3>{{ pimcore_input("endToEnd_heading_Text4",{"placeholder": "Enter Text Here"}) }}</h3>
                                    <p> {{ pimcore_input("endToEnd_para_Text4",{"placeholder": "Enter Text Here"}) }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="view-all-service">
                        <a href="{{path('website_services')}}" class="view-all-service-btn">
                        View our essential services
                        {# {{ pimcore_input("index_view_btn_txt_2",{"placeholder": "Enter Text Here"}) }} #}
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- 4. Home Category Slider -->
        <section class="home-category-sec">
            <div class="home-category-wrap">
                <div class="owl-carousel home-category-carousel owl-theme">
                    {% for key, caseStudy in caseStudies %}
                        <div class="item">
                            <div class="home-category-caption">
                                <div class="category-cap-text" data-aos="fade-left" data-aos-delay="40" data-aos-duration="1400">
                                    <span class="ct-title">{{ pimcore_get_object_tags('object',caseStudy.getId()) }}</span>
                                    <h2>{{caseStudy.getTitle()}}</h2>
                                    <a href="#" class="learn-more-link ourWorkPopup" data-toggle="modal" data-target="#ourWorkPopup"  data-url="{{ path('website_ourwork',{'id':caseStudy.getId()}) }}">
                                    Learn More
                                    </a>
                                </div>
                            </div>
							<img src="{{ caseStudy.getImage().thumbnail('CaseStudySlider') }}" alt="Banner">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Our Product Categories -->
        <section class="our-product-categ-sec">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-5">
                        <div class="left-side-cnt">
                            <h2 class="main-title">{{ pimcore_input("productCategory_H2_Text1",{"placeholder": "Enter Text Here"}) }}</h2>
                            <p>
                                {{  pimcore_wysiwyg("landPageProdCat_Content", {
                                        "height": 200
                                    }) 
                                }}
                            </p>
                            <a href="{{path('website_ourwork')}}" class="see-our-project-link">
                            See Our Projects
                            {# {{ pimcore_input("index_see_pro_btn_txt_1",{"placeholder": "Enter Text Here"}) }} #}
                            </a>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="right-side-cnt">
                            <ul class="product-category-list">
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_1", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_1") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/furniture-icon.svg')}}" alt="Furniture Icon">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text1",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_2", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_2") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/flor-cover.svg')}}" alt="Floor Covering">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text2",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_3", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_3") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/home-accents.svg')}}" alt="Home Accents">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text3",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_4", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_4") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/bed-bath.svg')}}" alt="Bed & Bath">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text4",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_5", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_5") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/cook-dine.svg')}}" alt="Cook & Dine">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text5",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_6", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_6") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/kids.svg')}}" alt="Kids">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text6",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_7", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_7") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/gardning.svg')}}" alt="Gardening">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text7",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_8", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_8") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/pets.svg')}}" alt="Pets">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text8",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_9", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_9") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/life-style.svg')}}" alt="Lifestyle">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text9",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-cate">
                                        {% if editmode %}
                                        {{ pimcore_image("index_pro_img_10", {
                                            "title": "Source to Shelf icon",
                                            "uploadPath": website_index_path
                                        }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("index_pro_img_10") %}
                                            {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/holiday-gift.svg')}}" alt="Holidays & Gifts">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="Icon">
                                            {% endif %}
                                        {% endif %}
                                        <span class="pro-categ-title">{{ pimcore_input("productCategory_Title_Text10",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>


                </div>
            </div>
        </section>
        <!-- Access to the whole of india from one platform -->
        <section class="section pink-bg-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <div class="info-main-box">
                            <div class="company-info-box">
                                <div class="numb-box">
                                    <span>{{ pimcore_input("companyInfo_Number_Text1",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                                <div class="info-content">
                                    <span>{{ pimcore_input("companyInfo_Content_Text1",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                            </div>
                            <div class="company-info-box">
                                 <div class="numb-box">
                                    <span>{{ pimcore_input("companyInfo_Number_Text2",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                                <div class="info-content">
                                    <span>{{ pimcore_input("companyInfo_Content_Text2",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                            </div>
                            <div class="company-info-box">
                                 <div class="numb-box">
                                    <span>{{ pimcore_input("companyInfo_Number_Text3",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                                <div class="info-content">
                                    <span>{{ pimcore_input("companyInfo_Content_Text3",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <div class="info-main-box">
                            <div class="company-info-box">
                                <div class="numb-box">
                                    <span>{{ pimcore_input("companyInfo_Number_Text4",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                                <div class="info-content">
                                    <span>{{ pimcore_input("companyInfo_Content_Text4",{"placeholder": "Enter Text Here"}) }}</span>
                                    <span class="sm-text">{{ pimcore_input("companyInfo_Content_Text4_Cities",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                            </div>
                            <div class="company-info-box">
                                <div class="numb-box">
                                    <span>{{ pimcore_input("companyInfo_Number_Text5",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                                <div class="info-content">
                                    <span>{{ pimcore_input("companyInfo_Content_Text5",{"placeholder": "Enter Text Here"}) }}</span>
                                    <span class="sm-text">{{ pimcore_input("companyInfo_Content_Text5_Cities_Global",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                            </div>
                            <div class="company-info-box">
                                <div class="numb-box">
                                   <span>{{ pimcore_input("companyInfo_Number_Text6",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                                <div class="info-content">
                                    <span>{{ pimcore_input("companyInfo_Content_Text6",{"placeholder": "Enter Text Here"}) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /*One Plateform India section*/ -->
        <section class="section access-ind-1-plateform">
            <div class="container-fluid">
                <div class="box-content" data-aos="fade-up" data-aos-delay="40" data-aos-duration="1400">
                    <h2>{{ pimcore_input("platform_H2_Text1",{"placeholder": "Enter Text Here"}) }}</h2>
                    <div class="map-col-wrap">
                        <div class="cols-8">
                            <div class="col-box border-right-0">
                                <div class="wrd-map-image">
                                {% if editmode %}
                                {{ pimcore_image("index_plat_indea_img_1", {
                                    "title": "Source to Shelf icon",
                                    "uploadPath": website_index_path
                                }) }}
                                {% else %}
                                    {% set thumbnail = pimcore_image("index_plat_indea_img_1") %}
                                    {% if thumbnail is empty %}
                                    <img src="{{asset('bundles/website/assets/images/word-map-image.png')}}" alt="Map Image">
                                    {% else %}
                                        <img src="{{ thumbnail.getSrc() }}" alt="Map Image">
                                    {% endif %}
                                {% endif %}
                                </div>
                                {# <div class="map-smart-sol-logo" data-aos="fade-right" data-aos-delay="40" data-aos-duration="1400">
                                {% if editmode %}
                                {{ pimcore_image("index_plat_indea_img_2", {
                                    "title": "Source to Shelf icon",
                                    "uploadPath": website_index_path
                                }) }}
                                {% else %}
                                    {% set thumbnail = pimcore_image("index_plat_indea_img_2") %}
                                    {% if thumbnail is empty %}
                                    <img src="{{asset('bundles/website/assets/images/smart-sourcing-logo-dark.svg')}}" alt="Smart Solution Logo">
                                    {% else %}
                                        {{ pimcore_image("index_plat_indea_img_2") }}
                                    {% endif %}
                                {% endif %}
                                </div> #}
                            </div>
                        </div>
                        <div class="cols-4">
                            <div class="col-box">
                                <div class="map-image">
                                {% if editmode %}
                                {{ pimcore_image("index_india_map_img_1", {
                                    "title": "Source to Shelf icon",
                                    "uploadPath": website_index_path
                                }) }}
                                {% else %}
                                    {% set thumbnail = pimcore_image("index_india_map_img_1") %}
                                    {% if thumbnail is empty %}
                                    <img src="{{asset('bundles/website/assets/images/india-map-image.png')}}" alt="Map Image">
                                    {% else %}
                                        <img src="{{ thumbnail.getSrc() }}" alt="Map Image">
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
        </section>
       
        <!-- /*End  One Plateform India section*/ -->
    </main>
{% endblock %}
