{% extends '@Website/layout/layout.html.twig' %}
{% block content %}
    <main>
        <div class="inr-page-content-wrapper">
            <div class="inner-page-title green-underline">
                <h1>{{ pimcore_input("newsAndResources_Title1",{"placeholder": "Enter Text Here"}) }}</h1>
            </div>
            <div class="inner-page-content">
                <div class="container-fluid">
                    <div class="row card-row">
                        <div class="col-lg-4 col-md-6 col-sm-6 card-wrap">
                            <div class="card news-card">
                                <div class="card-header">
                                    <h2>TOPIC ILLUSTRATION</h2>
                                </div>
                                <div class="card-body">
                                    <span class="card-smll-title">Topic</span>
                                    <h3>NEWS TITLE</h3>
                                    <p>Lorem ipsum dolor sit amet, conse cetuer adiou piscing elit, sed diam nonumy nibh
                                        eusmod ti</p>
                                    <a href="#" class="learn-more-link" data-toggle="modal" data-target="#ourWorkPopup">Learn More</a>
                                </div>
                                <a href="#" class="box-link" data-toggle="modal" data-target="#ourWorkPopup"><span class="d-none">Learn More</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 card-wrap">
                            <div class="card news-card">
                                <div class="card-header">
                                    <h2>TOPIC ILLUSTRATION</h2>
                                </div>
                                <div class="card-body">
                                    <span class="card-smll-title">Topic</span>
                                    <h3>NEWS TITLE</h3>
                                    <p>Lorem ipsum dolor sit amet, conse cetuer adiou piscing elit, sed diam nonumy nibh
                                        eusmod ti</p>
                                    <a href="#" class="learn-more-link" data-toggle="modal" data-target="#ourWorkPopup">Learn More</a>
                                </div>
                                <a href="#" class="box-link" data-toggle="modal" data-target="#ourWorkPopup"><span class="d-none">Learn More</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 card-wrap">
                            <div class="card resource-card">
                                <div class="card-header">
                                    <h2>TOPIC ILLUSTRATION </h2>
                                </div>
                                <div class="card-body">
                                    <span class="card-smll-title">Resources</span>
                                    <h3>WHITE PAPERS</h3>
                                    <p>Lorem ipsum dolor sit amet, conse cetuer adiou piscing elit, sed diam nonumy nibh
                                        eusmod ti</p>
                                    <a href="#" class="learn-more-link" data-toggle="modal" data-target="#ourWorkPopup">Learn More</a>
                                </div>
                                <a href="#" class="box-link" data-toggle="modal" data-target="#ourWorkPopup"><span class="d-none">Learn More</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 card-wrap">
                            <div class="card news-card">
                                <div class="card-header">
                                    <h2>TOPIC ILLUSTRATION</h2>
                                </div>
                                <div class="card-body">
                                    <span class="card-smll-title">Topic</span>
                                    <h3>NEWS TITLE</h3>
                                    <p>Lorem ipsum dolor sit amet, conse cetuer adiou piscing elit, sed diam nonumy nibh
                                        eusmod ti</p>
                                    <a href="#" class="learn-more-link" data-toggle="modal" data-target="#ourWorkPopup">Learn More</a>
                                </div>
                                <a href="#" class="box-link" data-toggle="modal" data-target="#ourWorkPopup"><span class="d-none">Learn More</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 card-wrap">
                            <div class="card news-card">
                                <div class="card-header">
                                    <h2>TOPIC ILLUSTRATION</h2>
                                </div>
                                <div class="card-body">
                                    <span class="card-smll-title">Topic</span>
                                    <h3>NEWS TITLE</h3>
                                    <p>Lorem ipsum dolor sit amet, conse cetuer adiou piscing elit, sed diam nonumy nibh
                                        eusmod ti</p>
                                    <a href="#" class="learn-more-link" data-toggle="modal" data-target="#ourWorkPopup">Learn More</a>
                                </div>
                                <a href="#" class="box-link" data-toggle="modal" data-target="#ourWorkPopup"><span class="d-none">Learn More</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 card-wrap">
                            <div class="card resource-card">
                                <div class="card-header">
                                    <h2>TOPIC ILLUSTRATION </h2>
                                </div>
                                <div class="card-body">
                                    <span class="card-smll-title">Resources</span>
                                    <h3>WHITE PAPERS</h3>
                                    <p>Lorem ipsum dolor sit amet, conse cetuer adiou piscing elit, sed diam nonumy nibh
                                        eusmod ti</p>
                                    <a href="#" class="learn-more-link" data-toggle="modal" data-target="#ourWorkPopup">Learn More</a>
                                </div>
                                <a href="#" class="box-link" data-toggle="modal" data-target="#ourWorkPopup"><span class="d-none">Learn More</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="pagination-row">
                        <ul class="pagination">
                            <li><span>Page</span></li>
                            <li><a href="#" class="page-active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </main> 
{% endblock %}
