{% extends '@Website/layout/layout.html.twig' %}
{% block content %}
<main>
    <div class="inr-page-content-wrapper">
        <div class="inner-page-title">
            <h1>Case Studies</h1>
        </div>
        <div class="inner-page-content">
            <div class="container-fluid">
                <div class="row card-row">
                        {% for key, caseStudy in caseStudies %}
                        <div class="col-lg-4 col-md-6 col-sm-6 card-wrap">
                            <div class="card">
                                <div class="card-header">                              
                                     <img src="{{ caseStudy.getImage().thumbnail('CaseStudyBlocks') }}" alt="Case Study Thumb Image'">
                                    
                                </div>
                                <div class="card-body">
                                    <span class="card-smll-title">{{ pimcore_get_object_tags('object',caseStudy.getId()) }}</span>
                                    <h3>{{caseStudy.getTitle()}}</h3>
                                    <p>{{caseStudy.getSummary()}}</p>
                                    <a href="#" class="learn-more-link ourWorkPopup" data-toggle="modal" data-target="#ourWorkPopup"  data-url="{{ path('website_ourwork',{'id':caseStudy.getId()}) }}">Learn More</a>
                                </div>
                                <a href="#" class="box-link ourWorkPopup" data-toggle="modal" data-target="#ourWorkPopup"  data-url="{{ path('website_ourwork',{'id':caseStudy.getId()}) }}"><span class="d-none">Learn More</span></a>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                
                <!-- Pagination -->
                {% if caseStudies|length > 6  %}
                <div class="pagination-row">
                    <ul class="pagination">
                        <li><span>Page</span></li>
                       
                        {%  for page in paginator.pagesInRange %}
                            {%  if(paginator.current == page) %}
                                <li><a href="#" class="page-active">{{ page }}</a></li>
                            {%  else %}
                                <li><a href="{{  pimcore_url({'page': page}) }}">{{page}}</a></li>
                            {%  endif %}
                        {% endfor %}
                      
                    </ul>
                </div>  
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}


