{% extends '@Website/layout/layout.html.twig' %}
{% block content %}
    <div class="wide-content-wrapper">
        <!-- top section 01-->
        <section class="service-page-top-section">
            <div class="container-fluid">
                <h1 class="section-title" data-aos="fade-up" data-aoservice-page-top-sections-delay="30" data-aos-duration="1000">{{ pimcore_input("services_main_header",{"placeholder": "Enter Text Here"}) }}</h1>
                <div class="four-level-services">
                    <div class="service-menu col-lg-4 col-xs-12" data-aos="fade-up" data-aos-delay="10" data-aos-duration="800">
                        {% if editmode %}
                            {{ pimcore_image("services_main_img_1", {
                                "title": "Source to Shelf icon",
                                "uploadPath": website_service_path,
                                "thumbnail": 'serviceImage'
                            }) }}

                        {% else %}
                            {% set thumbnail = pimcore_image("services_main_img_1") %}
                            {% if thumbnail is empty %}
                                <img src="{{asset('bundles/website/assets/images/3s-quality-icon.svg')}}" alt="icon">
                            {% else %}
                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                            {% endif %}
                        {% endif %}
                        <h2>{{ pimcore_input("services_menu_qua",{"placeholder": "Enter Text Here"}) }}</h2>
                        {% if editmode %}
                            {# <a  class="box-link"><span class="d-none">3S QUALITYS</span></a> #}
                        {% else %}
                            <a href="#sLevel01" class="box-link"><span class="d-none">3S QUALITYS</span></a>
                        {% endif %}
                    </div>
                    <div class="service-menu" data-aos="fade-up" data-aos-delay="20" data-aos-duration="1000" style="display: none;">
                        {% if editmode %}
                            {{ pimcore_image("services_main_img_2", {
                                "title": "Source to Shelf icon",
                                "uploadPath": website_service_path,
                                "thumbnail": 'serviceImage'
                            }) }}

                        {% else %}
                            {% set thumbnail = pimcore_image("services_main_img_2") %}
                            {% if thumbnail is empty %}
                                <img src="{{asset('bundles/website/assets/images/3s-sources.svg')}}" alt="icon">
                            {% else %}
                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                            {% endif %}
                        {% endif %}
                        <h2>{{ pimcore_input("services_menu_sou",{"placeholder": "Enter Text Here"}) }}</h2>
                        {% if editmode %}
                        {% else %}
                            <a href="#sLevel02" class="box-link"><span class="d-none">3S QUALITY</span></a>
                        {% endif %}
                    </div>
                    <div class="service-menu col-lg-4 col-xs-12" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1200">
                        {% if editmode %}
                            {{ pimcore_image("services_main_img_3", {
                                "title": "Source to Shelf icon",
                                "uploadPath": website_service_path,
                                "thumbnail": 'serviceImage'
                            }) }}

                        {% else %}
                            {% set thumbnail = pimcore_image("services_main_img_3") %}
                            {% if thumbnail is empty %}
                                <img src="{{asset('bundles/website/assets/images/3s-curate.svg')}}" alt="icon">
                            {% else %}
                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                            {% endif %}
                        {% endif %}
                        <h2>{{ pimcore_input("services_menu_cur",{"placeholder": "Enter Text Here"}) }}</h2>
                        {% if editmode %}
                        {% else %}
                            <a href="#sLevel03" class="box-link"><span class="d-none">3S QUALITY</span></a>
                        {% endif %}
                    </div>
                    <div class="service-menu col-lg-4 col-xs-12" data-aos="fade-up" data-aos-delay="40" data-aos-duration="1500">
                        {% if editmode %}
                            {{ pimcore_image("services_main_img_4", {
                                "title": "Source to Shelf icon",
                                "uploadPath": website_service_path,
                                "thumbnail": 'serviceImage'
                            }) }}

                        {% else %}
                            {% set thumbnail = pimcore_image("services_main_img_4") %}
                            {% if thumbnail is empty %}
                                <img src="{{asset('bundles/website/assets/images/3s-content.svg')}}" alt="icon">
                            {% else %}
                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                            {% endif %}
                        {% endif %}
                        <h2>{{ pimcore_input("services_menu_con",{"placeholder": "Enter Text Here"}) }}</h2>
                        {% if editmode %}
                        {% else %}
                            <a href="#sLevel04" class="box-link"><span class="d-none">3S QUALITY</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- service level 01 section-->
        <section  id="sLevel01" class="service-level-section">
            <div class="container-fluid">
                <div class="custom-row">
                    <div class="cols-left level-left-cnt noPadding"  data-aos="fade-right" data-aos-delay="30" data-aos-duration="1200">
                        <div class="boxed">
                            <span class="levl-text">{{ pimcore_input("services_lavel_1",{"placeholder": "Enter Text Here"}) }}</span>
                            <h2 class="level-main-title">{{ pimcore_input("services_label_desc_1",{"placeholder": "Enter Text Here"}) }}</h2>
                        </div>
                        <p class="larz-text">
                            {{  pimcore_wysiwyg("services_desc_1", {
                                "height": 200
                            })  }}
                        </p>
                        <p>
                            {{  pimcore_wysiwyg("services_desc_2", {
                                "height": 200
                            })
                            }}
                        </p>
                    </div>
                    <div class="cols-right level-right-cnt"  data-aos="fade-left" data-aos-delay="30" data-aos-duration="1200">
                        <div class="div-table">

                            <div class="table-header">
                                {{ pimcore_input("services_lavel_1_table",{"placeholder": "Enter Text Here"}) }}
                            </div>
                            <ul class="s-feture-list">
                                <li class="list-view">
                                    <div class="list-dv">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_1",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_2",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_3",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_4",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="border-bottom: 0;">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_5",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_6",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="display: none;">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_7",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_8",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="display: none;">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_9",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_10",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li class="icon-view">
                                    <div class="service-feture-icon">
                                        {% if editmode %}
                                            {{ pimcore_image("service2", {
                                                "title": "Source to Shelf icon",
                                                "uploadPath": website_service_path
                                            }) }}

                                        {% else %}
                                            {% set thumbnail = pimcore_image("service2") %}
                                            {% if thumbnail is empty %}
                                                <img src="{{asset('bundles/website/assets/images/service-fetur-levl-1-icon.svg')}}" alt="icon">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!-- service level 02 section-->
        <section id="sLevel02" class="service-level-section s-level-2 dark-gold-bg border-top-0" style="display: none;">
            <div class="container-fluid">
                <div class="custom-row">
                    <div class="cols-left level-left-cnt noPadding" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1200">
                        <div class="boxed">
                            <span class="levl-text">{{ pimcore_input("ser_main_level_2",{"placeholder": "Enter Text Here"}) }}</span>
                            <h2 class="level-main-title">{{ pimcore_input("ser_main_level_3",{"placeholder": "Enter Text Here"}) }}</h2>
                        </div>
                        <p class="larz-text">
                            {{  pimcore_wysiwyg("services_desc_21", {
                                "height": 200
                            })
                            }}
                        </p>
                        <p>    {{  pimcore_wysiwyg("services_desc_22", {
                                "height": 200
                            })
                            }}
                        </p>
                    </div>
                    <div class="cols-right level-right-cnt" data-aos="fade-left" data-aos-delay="30" data-aos-duration="1200">
                        <div class="div-table">
                            <div class="table-header">
                                {{ pimcore_input("ser_table_header_2",{"placeholder": "Enter Text Here"}) }}
                            </div>
                            <ul class="s-feture-list">
                                <li class="list-view">
                                    <div class="list-dv">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_21",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_22",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_23",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_24",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_25",{"placeholder": "Enter Text Here"}) }}</span> #}

                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_26",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_27",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_28",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_29",{"placeholder": "Enter Text Here"}) }}</span> #}

                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_30",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li class="icon-view">
                                    <div class="service-feture-icon">
                                        {% if editmode %}
                                            {{ pimcore_image("service31", {
                                                "title": "Source to Shelf icon",
                                                "uploadPath": website_service_path
                                            }) }}

                                        {% else %}
                                            {% set thumbnail = pimcore_image("service31") %}
                                            {% if thumbnail is empty %}
                                                <img src="{{asset('bundles/website/assets/images/service-fetur-levl-2-icon.svg')}}" alt="icon">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <!-- service level 03 section-->
        <section id="sLevel03" class="service-level-section s-level-2 dark-gold-bg border-top-0">
            <div class="container-fluid">
                <div class="custom-row">
                    <div class="cols-left level-left-cnt noPadding" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1200">
                    <div class="boxed">
                            <span class="levl-text">
                            {{ pimcore_input("services_header_main_3",{"placeholder": "Enter Text Here"}) }}
                            </span>
                        <h2 class="level-main-title">{{ pimcore_input("services_header_sub_3",{"placeholder": "Enter Text Here"}) }}</h2>
                    </div>
                        <p class="larz-text">
                            {{  pimcore_wysiwyg("services_desc_31", {
                                "height": 200
                            })
                            }}
                        </p>
                        <p >
                            {{  pimcore_wysiwyg("services_desc_32", {
                                "height": 200
                            })
                            }}
                        </p>
                    </div>
                    <div class="cols-right level-right-cnt" data-aos="fade-left" data-aos-delay="30" data-aos-duration="1200">
                        <div class="div-table">
                            <div class="table-header">
                                {{ pimcore_input("services_table_header_3",{"placeholder": "Enter Text Here"}) }}
                            </div>
                            <ul class="s-feture-list">
                                <li class="list-view">
                                    <div class="list-dv">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_31",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_32",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_33",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_34",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="border-bottom: 0;">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_35",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_36",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="display: none;">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_37",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_38",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="display: none;">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_39",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_40",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li class="icon-view">
                                    <div class="service-feture-icon">
                                        {% if editmode %}
                                            {{ pimcore_image("service9", {
                                                "title": "Source to Shelf icon",
                                                "uploadPath": website_service_path
                                            }) }}

                                        {% else %}
                                            {% set thumbnail = pimcore_image("service9") %}
                                            {% if thumbnail is empty %}
                                                <img src="{{asset('bundles/website/assets/images/service-fetur-levl-3-icon.svg')}}" alt="icon">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!-- service level 04 section-->
        <section id="sLevel04" class="service-level-section s-level-2 border-top-0">
            <div class="container-fluid">
                <div class="custom-row">
                    <div class="cols-left level-left-cnt noPadding" data-aos="fade-right" data-aos-delay="30" data-aos-duration="1200">
                        <div class="boxed">
                            <span class="levl-text">{{ pimcore_input("services_header_main_4",{"placeholder": "Enter Text Here"}) }}</span>
                            <h2 class="level-main-title">{{ pimcore_input("services_header_sub_4",{"placeholder": "Enter Text Here"}) }}</h2>
                        </div>
                        <p class="larz-text">
                            {{  pimcore_wysiwyg("services_desc_41", {
                                "height": 200
                            })
                            }}
                        </p>
                        <p >
                            {{  pimcore_wysiwyg("services_desc_42", {
                                "height": 200
                            })
                            }}
                        </p>
                    </div>
                    <div class="cols-right level-right-cnt" data-aos="fade-left" data-aos-delay="30" data-aos-duration="1200">
                        <div class="div-table">
                            <div class="table-header">
                                {{ pimcore_input("services_table_header_4",{"placeholder": "Enter Text Here"}) }}
                            </div>
                            <ul class="s-feture-list">
                                <li class="list-view">
                                    <div class="list-dv">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_41",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_42",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_43",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_44",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="border-bottom: 0;">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_45",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_46",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="display: none;">
                                        {#<span class="check-span">{{ pimcore_input("services_main_table_desc_47",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_48",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                    <div class="list-dv" style="display: none;">
                                        {# <span class="check-span">{{ pimcore_input("services_main_table_desc_49",{"placeholder": "Enter Text Here"}) }}</span> #}
                                        <span class="check-span">
                                                <?xml version="1.0" ?>
                                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/>
                                                    <path d="M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82" data-name="&lt;Compound Path&gt;" id="_Compound_Path_"/>
                                                </svg>
                                            </span>
                                        <span class="text-span">{{ pimcore_input("services_main_table_desc_50",{"placeholder": "Enter Text Here"}) }}</span>
                                    </div>
                                </li>
                                <li class="icon-view">
                                    <div class="service-feture-icon">
                                        {% if editmode %}
                                            {{ pimcore_image("service3", {
                                                "title": "Source to Shelf icon",
                                                "uploadPath": website_service_path
                                            }) }}
                                        {% else %}
                                            {% set thumbnail = pimcore_image("service3") %}
                                            {% if thumbnail is empty %}
                                                <img src="{{asset('bundles/website/assets/images/service-fetur-levl-4-icon.svg')}}" alt="icon" style="max-height: 150px;">
                                            {% else %}
                                                <img src="{{ thumbnail.getSrc() }}" alt="icon">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </section>






        <!-- Backend technology section-->
        <section class="backen-tech-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="our-back-end-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="800">
                            <span class="bk-small-text">{{ pimcore_input("services_final_header_5",{"placeholder": "Enter Text Here"}) }}</span>
                            <h2 class="tech-title">{{ pimcore_input("services_header_sub_5",{"placeholder": "Enter Text Here"}) }}</h2>
                            <p>
                                {{  pimcore_wysiwyg("services_final_desc_1", {
                                    "height": 200
                                })
                                }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="techno-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1200">
                            <div class="tech-icon">
                                {% if editmode %}
                                    {{ pimcore_image("service4", {
                                        "title": "Source to Shelf icon",
                                        "uploadPath": website_service_path
                                    }) }}
                                {% else %}
                                    {% set thumbnail = pimcore_image("service4") %}
                                    {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/mlm-supply.svg')}}" alt="Tech Icon">
                                    {% else %}
                                        <img src="{{ thumbnail.getSrc() }}" alt="icon">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="tech-discription">
                                <p>
                                    {{  pimcore_wysiwyg("services_final_desc_2", {
                                        "height": 200
                                    })
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="techno-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1300">
                            <div class="tech-icon">
                                {% if editmode %}
                                    {{ pimcore_image("service6", {
                                        "title": "Source to Shelf icon",
                                        "uploadPath": website_service_path
                                    }) }}
                                {% else %}
                                    {% set thumbnail = pimcore_image("service6") %}
                                    {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/opex-quality.svg')}}" alt="Tech Icon">
                                    {% else %}
                                        <img src="{{ thumbnail.getSrc() }}" alt="icon">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="tech-discription">
                                <p>
                                    {{  pimcore_wysiwyg("services_final_desc_3", {
                                        "height": 200
                                    })
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="techno-box" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1400">
                            <div class="tech-icon">
                                {% if editmode %}
                                    {{ pimcore_image("service5", {
                                        "title": "Source to Shelf icon",
                                        "uploadPath": website_service_path
                                    }) }}

                                {% else %}
                                    {% set thumbnail = pimcore_image("service5") %}
                                    {% if thumbnail is empty %}
                                        <img src="{{asset('bundles/website/assets/images/iso-auidt.svg')}}" alt="Tech Icon">
                                    {% else %}
                                        <img src="{{ thumbnail.getSrc() }}" alt="icon">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="tech-discription">
                                <p>
                                    {{  pimcore_wysiwyg("services_final_desc_4", {
                                        "height": 200
                                    })
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





    </div>
{% endblock %}

