
{% set paginationData = pimcore_pagination_url('page','') %}
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {%  if(paginationVariables.previous is defined) %}
            <li>
                <a class="arr-1 active" href="{{ paginationData }}{{ paginationVariables.previous }}">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {%  endif %}
        {% if(paginationVariables|length > 0) %}
            {%  for page in paginationVariables.pagesInRange %}

                {%  if(paginationVariables.current == page) %}
                    <li><a class="active" href="#">{{  page }}</a></li>
                {%  else %}
                    <li><a href="{{ paginationData }}{{ page }}">{{ page }}</a></li>
                {%  endif %}

            {% endfor %}
        {%  endif %}
        {%  if(paginationVariables.next is defined) %}
            <li>
                <a class="arr-2 active"  href="{{ paginationData }}{{  paginationVariables.next }}">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {%  endif %}
    </ul>
</nav>