/* resposive css only */
@media (max-width: 1800px){
    .menu-container{font-size:17px !important}
    .banner-slider .slider.slider-for {
        width:85%;
    }
}

@media (max-width: 1600px){
/* signup page */
.B2B-text, .MSE-text{font-size: 27px;line-height: 27px;}
.cap-text h1{font-size:55px;line-height:50px;padding:20px 0}
a.btn-book-demo{font-size: 19px;width:200px;height:50px}
.tool-kit-box .nav-tabs .nav-item .nav-link{font-size:23px;padding:21px 10px}
.menu-container{font-size:16px !important}
.souce-to-shelf-sec {padding: 126px 60px;}
ul.tool-box-list li {/*padding: 75px 50px;*/height: 100%;}
.hero-banner .tab-placeholder{ width: 640px; height: 500px; left: 10%;padding:64px}
.col-box h3 { padding: 25px 0;}
footer .row >.col, footer .row >[class*=col-] { padding-right: 10px; padding-left: 10px;}
.banner-slider .slider.slider-for {
        max-width:85%;
    }
/* Home page (after login) */
.top-nav ul li a{font-size:17px;}
.navbar-container{padding:12px 20px}
.search-box{left:20px}
.search-box button{width:30px;height:30px}
.search-box input{padding:2px 5px}
.navbar-brand img{height:20px;}
.navbar-brand span{font-size: 28px;}
.head-right-group{top:12px;right:20px}
.head-right-group ul li{width:32px}
.menu-container .nav-item{font-weight:500}
.section-title h2{font-size:35px;line-height:normal;}
.section{padding:75px 0px}
.product-btn{font-size:19px;height:45px}
.browse-categories .tl-box span{font-size:19px;}
.browse-categories{padding:120px 0}
.smart-curations{padding:100px 50px}
.smart-curations .container-fluid{padding-left:15px}
.left-curation-box{margin-top:0}
.left-curation-box h3{font-size:28px;padding:70px 40px;}
.left-curation-box h3 span{font-size:42px;}
.left-curation-box p{font-size:19px;line-height:30px;padding:70px 40px;}
.right-curation-box{margin:0}
.right-curation-box span{font-size:21px;padding:14px 28px}
.right-curation-box img{position:static;transform:scale(0.9);}
footer h3{font-size:24px;letter-spacing:2.4px;line-height:normal;margin-bottom:23px;}
.f-txt-content p{font-size:19px;}
.copyright-text{height:90px;font-size:19px;}
/* login page */
.hero-banner .nav-tabs .nav-link{font-size:17px;letter-spacing:2px;line-height:75px;height:75px;}
.hero-banner form .btn{font-size:17px;letter-spacing:2px;line-height:70px;height:75px}
/* Product listing page */
main{padding:0 20px}
.breadcrumb{padding:6px 3px}
.breadcrumb ul li{font-size: 19px;}
.page-title{font-size:34px;}
.bree p{font-size:16px;line-height: normal;}
.col2-left-layout h5{height:60px;line-height:60px;font-size:19px;font-weight:600;}
.product-img .new-product,.product-img .agenda{font-size:14px;font-weight: 600;padding: 9px 12px;}
.block-title{font-size:19px;}
.block{font-size:15px;padding:20px 24px 0}
.product-desc h6{font-size:19px}
.product-desc .material{margin-bottom:0;font-size:19px}
.product-desc .prod-gist{font-size:14px;}
.product-desc .shades li{width:28px}
.pagi ul li a{font-size: 23px;width:50px;line-height:50px;}
/* favorites */
#product-infos.my-team .icon-oth a{font-size: 20px;}
#product-infos.my-team .icon-oth a.cre{font-size:18px ;}
/* Product details */
#shop-page h2{font-size:34px;}
#shop-page h2 span{font-size:27px;}
#shop-page h6{font-size:21px;}
#shop-page p{font-size:20px}
#shop-page .card-header button{font-size:21px}
/* My Account */
#profile-info .links ul li a{font-size:20px}
#profile-info h2{font-size:32px;}
#profile-info h3{font-size:26px;}
#profile-info p{font-size:26px;}
#profile-info .btns-del{font-size:16px;}
#profile-info .select2-container--default .select2-selection--single .select2-selection__rendered{height:45px;line-height:40px;font-size:26px;}
#profile-info .select2-container--default .select2-selection--single .select2-selection__placeholder{font-size: 26px;line-height: 26px;}
/* Your smart curations (Quiz page) */
#smart-info .rt p{font-size: 35px;line-height:normal}
#smart-info .rt h3{font-size:23px;}
}
@media (max-width: 1440px){
    /* signup page */
    .tool-kit-box .nav-tabs .nav-item .nav-link{font-size:20px;}
    .menu-container{font-size:14px !important}
    .banner-caption-box {width: 578px; height: 426px; left: 10%;}
    .cap-text h1 { font-size: 35px; line-height: 40px; padding: 15px 0 15px; letter-spacing: 6.3px;}
    .cap-text { padding-top: 15px;}
    .cap-bottom-text p { font-size: 20px; padding: 20px 0 0;}    
    .souce-to-shelf-sec { padding: 76px 20px;}
    ul.tool-box-list li { padding: 0 10px; height: 323px;}
    .tl-box p { font-size: 16px; line-height: 20px; min-height: 55px;}
    .icon-box { margin-bottom: 25px;}
    .in-map-image img { width: 78%;}
    .book-a-demo .modal-body { padding: 60px 60px 25px;}   
    .footer-social-links li { margin-right: 7px;}

    .banner-slider .slider.slider-for {
        max-width:85%;
    }

    .block {
        font-size:15px;
    }

/* Home page (after login) */
.navbar-brand span{font-size: 26px;}
.top-nav ul li a{font-size:16px;}
.navbar-container{padding:10px 18px}
.search-box{left:18px}
.search-box button{width:28px;height:28px}
.search-box input{padding:1px 3px}
.navbar-brand img{height:19px;}
.head-right-group{top:10px;right:18px}
.head-right-group ul li{width:30px}
/* favorites */
#product-infos.my-team .icon-oth a{font-size:19px;}
#product-infos.my-team .icon-oth a.cre{font-size:17px ;}
}

@media (max-width: 1366px){
.header,main{padding:0}
.breadcrumb{padding:6px 3px;margin-top:70px}
/* Home page (after login) */
.navbar-brand span{font-size: 25px;margin-top:2px;}
.pagi ul{margin:75px 0}
.pagi ul li a{font-size: 20px;width:45px;height:45px;line-height: 45px;}
}

@media (max-width: 1280px){
    /* signup page */
    .hero-banner .tab-placeholder{width:550px;height:450px;padding:50px}
    .banner-caption-box::before { left: -122px;}
    .tl-box h3 { font-size: 18px;}
    .india-from-one-platform h2,.souce-to-shelf-sec h2,.subscription-section h2 { font-size: 32px; line-height: 36px;}
    .subscr-head h3, #shop-page h2 span { font-size: 26px;}
    footer h3 { font-size: 18px;}
    .souce-to-shelf-sec h2 , .india-from-one-platform h2 { padding: 20px 0; min-height: 50px;}
    .footer-social-links { flex-wrap: wrap;}
    .footer-social-links li {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #shop-page h2 {
        font-size:36px;
    }

    #shop-page .card-header button {
        font-size:21px;
    }

    #shop-page h6, #shop-page p, #shop-page .inf h3, #shop-page .inf .rd-imgs .bgs, #shop-page .inf .dime p, #shop-page .inf .dime em.cst, #shop-page .inf span label, #shop-page .inf .noti p
    , #shop-page .inf .findi h3, #shop-page .inf .findi h3 span, #shop-page .ttd .bgs h5, #shop-page .bgs .infin {
        font-size:18px;
    }

    #shop-page .labels a {
        font-size:16px;
    }

    .block {
        font-size: 13px;
    }
}

@media (max-width: 1200px){
    /* signup page */
    .hero-banner .tab-placeholder{width:500px;height:450px;padding:35px}
    .tool-kit-box .nav-tabs .nav-item .nav-link{font-size:19px;}
    .souce-to-shelf-sec,.subscription-section {padding: 50px 5px;}
    a.btn-book-demo { margin-top: 50px;}
    .smar-sol-logo { top:10px}
    .product-img .agenda, .product-img .new-product {
        font-size:15px;
    }
   
}
@media (max-width: 1169px){
    .banner-caption-box { width: 450px; height: 340px; left: 10%;}
    .cap-text h1 { font-size: 30px; line-height: 30px; padding: 10px 0 10px;}
    .B2B-text, .MSE-text { font-size: 20px; line-height: 30px;}
    .cap-text::after { bottom: -22px;}
    .cap-bottom-text p { font-size: 20px; line-height: 22px; padding: 10px 10px 0;}
    a.btn-book-demo { font-size: 18px;  width: 340px; height: 45px;}
    .tl-box h3 { font-size: 16px; line-height: 22px;}
    .icon-box { max-width: 140px; margin: 0px auto 25px;}
    .white-box { width: 890px;}
    ul.tool-box-list li { padding: 0 10px; height: 260px;}
    .banner-caption-box::before { left: -74px; background-size: cover; height: 100px; width: 100px;}
    .in-map-image::before { height: 102px; width: 100px;}
    .subscr-head .level-title { font-size: 16px; line-height: 18px;}
    .subscr-head h3 { font-size: 18px; line-height: 22px;}
    .subscr-content h4 { font-size: 18px; line-height: 22px;}
    .access-to {font-size: 14px;}
    .access-to-list li {    font-size: 16px; line-height: 18px;}
    footer h3 { font-size: 16px; line-height: 20px; min-height: 40px;}
    .f-txt-content p { font-size: 16px;}
    .copyright-text { height: 50px; font-size: 16px;}
    .subscribe-box { height: 100%; overflow: hidden;}
    .subscr-content { height: 100%; min-height: 100px;}
    .made-in-logo { left: -70px; bottom: 112px;}
    .made-in-logo img { width: 110px;}
    .smar-sol-logo img { width: 120px;}

}

@media (max-width: 991px){
    /* signup page */
    .hero-banner .tab-placeholder{left:50%;margin-left:-250px;}
    .tool-kit-box .nav-tabs .nav-item .nav-link{font-size:18px;}
    .breadcrumb{margin-top:15px}
    .navbar-container{border:0}
    .menu-container{border:0;left:0;width:100%}
    .menu-container .nav-item{border-left:0}
    .menu-container .nav-item .nav-link{padding:10px 15px;justify-content:left}
    .hero-banner {
        background: url(../images/home-top-banner.jpg);
        height: 70vh;
        background-size: cover;
        background-position: center;
    }
    .dark-pop .modal-content{padding:40px}
    .dark-pop h2{font-size: 24px;}
    .dark-pop h3{font-size: 21px;}
    .dark-pop .modal-content{font-size:17px;min-height: auto;}
    .pop-form-wrapper .form-control{font-size:16px;}
    .pop-form-wrapper button{font-size:17px;}
    .btn-previous::before{border-top: 7px solid transparent;border-bottom: 7px solid transparent;border-right: 7px solid white;margin-top: 6px;}
    .india-from-one-platform h2, .souce-to-shelf-sec h2, .subscription-section h2,.main-title { font-size: 24px; line-height: 30px;}
    .smart-way-sec { padding: 50px 0 15px;}
    .smart-way-sec p { font-size: 20px; line-height: 26px;}
    .india-from-one-platform { padding: 50px 75px;}
    .btn-white {font-size: 16px; line-height: 25px; max-width: 397px; height: 50px;}
    ul.tool-box-list li { width: 50%;}
    ul.tool-box-list li:nth-child(2), ul.tool-box-list li:nth-child(6) { border-right: 0;}
    .white-box { width: 100%;}
    .home-ware-brands-sec { padding: 50px 40px;}
    .in-map-image {padding-bottom: 20px;}
    .sub-text { font-size: 18px;}
    .subscribe-box { height: auto; margin-bottom: 25px;}
    .subscr-content { height: 100%; min-height: 370px;}
    a.btn-book-demo { margin-top: 20px; }
    .f-txt-content.pr-5 { padding-right: 15px !important;}
    .footer-top { padding: 50px 15px;}
    .col-box { border-right: 0;}
    .book-a-demo .modal-body { padding: 45px 20px 25px;}
    .book-a-demo .modal-body p { font-size: 18px; line-height: 28px;}
    .book-a-demo .modal-body h2 { font-size: 24px; margin-bottom: 15px;}
    .form-commom-design .select2-container--default .select2-selection--single .select2-selection__rendered, .form-commom-design .form-control { font-size: 16px;}
    .form-commom-design { margin: 20px 0 0;}
    .thanks-icon img { width: 180px;}


}

@media (max-width: 767px){
    .lightbox-section img{ max-width: 30.33%;}
    
    .subscription-section .container{ max-width: 100%;}
    .f-txt-content { border-right: 0; margin-bottom: 35px;}
    footer h3 { font-size: 16px; line-height: 20px; min-height: 20px; margin-bottom: 15px;}
    .footer-top { padding: 50px 15px 0;}
    .subscription-section .mt-5 { margin-top: 15px !important;}
    /* product listing */
    .col-main{margin-top:21px}
}

/************************* MEDIA CSS ****************************/

@media only screen and (max-width: 767px) {
    #profile-info .s-left {
        padding-left: 15px;
    }
    
    #profile-info .links ul li a {
        font-size: 15px;
        padding-left: 15px;
    }
    
    
    #profile-info p {
        word-break: break-all;
    }
    
    #profile-info h2 {
        font-size: 23px;
    }
    
    #profile-info h3 {
        font-size: 18px;
    }
    
    #profile-info p {
        font-size: 15px;
    }
    
    #profile-info .links ul {
        margin-bottom:40px;
    }
    
    #profile-info .members p.t-ad {
        margin-bottom:40px;
    }
    
    #profile-info .m-order .table thead th {
        font-size: 17px;
    }
    
    #profile-info .m-order .table tbody td, #profile-info .m-order .table tbody td a {
        font-size: 15px;
    }
    
    #profile-info .select2-container--default .select2-selection--single .select2-selection__rendered,
    #profile-info .select2-container--default .select2-selection--single .select2-selection__placeholder {
        font-size: 17px;
    }
    
    #profile-info .noti .switch {
        margin-right: 5px;
        vertical-align: middle;
    }
    
    #profile-info .noti h3 {
        font-size: 15px;
    }
    
    .smart-curations .container-fluid {
        padding-left: 15px;
    }
    
    .left-curation-box h3 {
        font-size: 20px;
        letter-spacing: 3.6px;
        padding: 82px 20px;
    }
    
    .left-curation-box p {
        font-size: 17px;
        letter-spacing: 2px;
        line-height: 1.6;
        padding: 60px 40px;
    }
    
    .right-curation-box {
        margin-left:0;
        margin-bottom:-71px;
        border:none;
    }
    
    .right-curation-box span {
        font-size: 20px;
        width:100%;
    }
    
    .navbar-container {
        padding: 16px 0px;
    }
    
    .search-box {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        margin-bottom:10px;
    }
    
    .head-right-group {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        position: relative;
        right: 0;
        margin-top:15px;
    }
    
    .head-right-group ul {
        padding:0;
    }
    
    .navbar-dark .navbar-toggler {
        top:auto;
        bottom: 18px;
        right: 32px;
    }
    
    .hero-banner {
        height: inherit;
    }
    
    .owl-carousel .owl-dots {
        bottom: 15px;
    }
    
    .owl-carousel .owl-dots .owl-dot {
        margin: 0 5px;
        padding: 0px;
        width: 10px;
        height: 10px;
    }
    
    .section-title h2 {
        font-size: 20px;
        line-height: 34px;
    }
    
    .pro-btn-dv .product-btn {
        margin-top:20px;
    }
    
    .browse-categories {
        padding: 70px 0 70px 0;
    }
    
    .left-curation-box h3 span {
        font-size: 21px;
    }
    
    .right-curation-box img {
        position: relative;
        transform: scale(1.11);
        left: 0px;
        top: 0px;
    }
    
    main, .footer {
        overflow: hidden;
    }
    
    .page-title {
        font-size: 28px;
    }
    
    #profile-info .btns-del {
        line-height: 52px;
        min-width: 145px;
        font-size: 13px;
    }
    
    .breadcrumb ul li {
        font-size: 14px;
    }
    
    label.container {
        min-width: 82px;
    }
    
    #part-info .bg {
        padding: 50px 20px;
        padding-top: 40px;
    }
    
    .none-small {
        padding:0;
    }
    
    #shop-page .card-header button {
        font-size: 14px !important;
    }
    
    #shop-page .inf span label {
        width: auto;
        min-width: 32px;
        padding: 0 5px;
        float: left;
        font-size: 14px !important;
    }
    
    
    #shop-page .inf span input {
        line-height: 34px;
        width: 46px;
        font-size: 14px;
    }
    
    #shop-page h4 input {
        width: 100%;
        margin-bottom:10px;
    }
    
    #shop-page .inf .rd-imgs .bgs img {
        width: 24px;
        height: 34px;
    }
    
    #shop-page .inf .dime em.cst {
        margin-right: 0px;
        width: 100%;
        margin-bottom:10px;
    }
    
    #shop-page .link {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    #shop-page .btns a.add-cart {
        font-size: 16px;
    }
    
    #shop-page .product-item {
        margin-top:40px;
    }
    
    .header, .navbar-expand-lg {
        padding: 0 0px;
    }
    
    .navbar-container {
        padding-bottom: 0px;
    }
    
    .main-sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
    }
    
    .main-sub-menu .sub-row {
        padding: 35px 15px;
    }
    
    .main-sub-menu .menu-column {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding-right: 0%;
        text-align:center;
    }
    
    .main-sub-menu .menu-column .menu-img {
        display: inline-block;
    }
    .main-sub-menu .menu-column {
        margin-bottom: 20px;
    }
    
    .section {
        padding:50px 0px !important;
    }
    
    .top-nav ul li a {
        font-size: 18px;
    }
    
    .head-right-group ul li {
        margin: 0 20px;
    }
    
    .navbar-dark .navbar-toggler {
        right: 0px;
    }
    
    #smart-info .rt h3 {
        margin-top:50px;
    }
    
    #smart-info .bg-last {
        height:300px;
    }
    
    #smart-info .b-right {
        border-right: none;
    }
    
    #smart-info .bdd {
        border-bottom: 1px solid #2E3831;
    }
    
    
    #smart-info .links ul li a {
        font-size: 14px;
        padding-left: 16px;
    }
    }
    
    
    
    @media only screen and (min-width: 768px) and (max-width: 1169px) {
    #profile-info .links ul li a {
        font-size: 13px;
        padding-left: 13px;
    }
    
    #profile-info h2 {
        font-size: 30px;
    }
    
    #profile-info h3 {
        font-size: 24px;
    }
    
    #profile-info p {
        font-size: 19px;
    }
    
    #profile-info .s-left {
        padding-left: 30px;
    }
    
    #profile-info .m-order .table thead th {
        font-size: 17px;
    }
    
    #profile-info .m-order .table tbody td, #profile-info .m-order .table tbody td a {
        font-size: 15px;
    }
    
    .owl-carousel .owl-dots {
        bottom: 30px;
    }
    
    .owl-carousel .owl-dots .owl-dot {
        margin: 0 8px;
        padding: 0px;
        width: 20px;
        height: 20px;
    }
    
    .hero-banner {
        height: inherit;
    }
    
    .browse-categories ul.tool-box-list li{
        border-bottom:0;
    }
    
    ul.tool-box-list li:nth-child(2), ul.tool-box-list li:nth-child(6) {
        border-right: 2px solid #2e3831;
    }
    
    ul.tool-box-list li:nth-child(7), ul.tool-box-list li:nth-child(8) {
        border-bottom: 2px solid #2e3831;
    }
    
    main, .footer {
        overflow: hidden;
    }
    
    label.container {
        min-width: 67px;
    }
    
    .block {
        padding-left:10px;
        padding-right:10px;
    }
    
    #shop-page .labels a {
        font-size: 15px;
        min-width: 100px;
    }
    #shop-page .card-header button {
        font-size: 16px;
    }
    
    #shop-page .inf span {
        margin-bottom:5px;
    }
    
    #shop-page .btns a.add-cart {
        font-size: 18px;
    }
    
    #shop-page h6 {
        font-size: 15px;
    }
    
    #smart-info .links ul li a {
        font-size: 14px;
        padding-left: 16px;
    }
    
    #smart-info .label {
        min-width: 140px;
        font-size: 10px;
    }
    
    }
    
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
    }
    
    .main-sub-menu .sub-row {
        padding: 35px 15px;
    }
    
    .main-sub-menu .menu-column {
        width: 33%;
        display: inline-block;
        vertical-align: top;
        padding-right: 0%;
    }
    #smart-info .rt h3 {
        margin-top:50px;
    }
    
    }
    
    
    @media only screen and (min-width: 992px) and (max-width: 1169px) {
    
    
    ul.tool-box-list li:nth-child(2), ul.tool-box-list li:nth-child(6) {
        border-right: 0;
    }
    
    ul.tool-box-list li:nth-child(5), ul.tool-box-list li:nth-child(6) {
        border-bottom: 2px solid #2e3831;
    }
    
    
    #smart-info .label {
        min-width: 120px;
        font-size: 10px;
    }
    
    #info-style label {
        display:inline-block;
        width:100%;
        margin:0;
        padding:0;
    }
    
    }
    
    
    

@media (max-width: 575px){
    /* signup page */
    .hero-banner .tab-placeholder{width:92%;left:4%;margin-left:0;}
    .tool-kit-box .nav-tabs .nav-item .nav-link{font-size:15px;padding:19px 10px;border-left: 0;}
    .tool-kit-box .nav-tabs .nav-item{flex:auto;width:100%}
    .hero-banner .tab-placeholder{padding:25px}
    .hero-banner .nav-tabs .nav-item{width:100%}
    .hero-banner .nav-tabs .nav-link{font-size:14px;line-height: 50px;height: 50px;}
    .hero-banner #login input.form-control{height:50px;font-size: 15px;}
    .hero-banner form .btn{font-size:15px;line-height: 40px;height: 50px;}
    .hero-banner form input.form-control{height:50px;font-size: 15px;}
    .dark-pop .modal-content{padding:10px;}
    .pop-form-wrapper{margin:50px 0 0}
    .dark-pop h2{font-size:16px;}
    .dark-pop h3{font-size:16px;}
    .dark-pop .modal-content{font-size:14px;}
    .pop-form-wrapper .form-control{font-size:15px;}
    .pop-form-wrapper button{font-size:15px;}
    .btn-previous::before{margin-top:4px}
    /* Home page (after login) */
    .navbar-brand span{font-size: 23px;}
    .smart-curations{padding:15px}

    .navbar-dark .navbar-brand {line-height: 0;}
    .navbar-brand img { width: 122px;}
    .top-nav ul { justify-content: center;}
    .top-nav ul li a { font-size: 16px;}
    .top-nav ul li a:after { right: -10px; top:5px}
    .hero-banner { height: 70vh;}
    .banner-caption-box { width: 90%; left: 0; margin: 0 auto; text-align: center; right: 0;}
    a.btn-book-demo { width: 220px;}
    .banner-caption-box::before { left: -14px; background-size: cover; height: 60px; width: 60px;}
    .india-from-one-platform h2, .souce-to-shelf-sec h2, .subscription-section h2, .main-title { font-size: 22px; line-height: 27px; letter-spacing: normal;}
    ul.tool-box-list li { width: 100%; border-right: 0;}
    .home-ware-brands-sec { height: 500px;}
    .home-brand-typo p { font-size: 16px; line-height: 20px;}
    .home-ware-brands-sec {padding: 50px 10px;}
    .home-brand-slider.owl-carousel .owl-prev, .home-brand-slider.owl-carousel .owl-next { display: none;}
    .home-brand-typo h2 { font-size: 24px; line-height: 25px; margin: 0 0 15px;}
    .home-brand-slider li { height: 148px; padding: 25px;}
    .india-from-one-platform { padding: 30px 0; }
    .in-map-image img {  width: 97%;}
    .in-map-image::before { height: 72px; width: 70px; left: -10px;}
    .subscr-content { min-height: 270px;}
    .souce-to-shelf-sec, .subscription-section {  padding: 30px 5px;}
    a.btn-book-demo { margin-top: 5px;}
    .made-in-logo { left: -12px; bottom: 192px;}
    .made-in-logo img { width: 60px;}
    .smar-sol-logo { top: 50px; left: 10px;}
    .smar-sol-logo img { width: 60px;}
    .thanks-icon img { width: 180px;}
    .four-zero-four-page h1 { font-size: 72px; line-height: 80px;}
.four-zero-four-page p {font-size: 18px; line-height: 24px;}
a.go-to-home-btn {font-size: 16px; height: 45px; max-width: 170px;}
.four-zero-four-page { padding: 20px 0 50px;}
/* product listing */
.page-title{font-size: 24px;}
.pagi ul{margin:50px 0}
.pagi ul li{margin-left:3px;margin-bottom:5px;}
.pagi ul li a{font-size:15px;width:35px;height:35px;line-height:35px;border-left: 1px solid #2E3831;}
/* product details */
#shop-page h2{font-size:24px;}
#shop-page h2 span{font-size: 20px;}
}

@media (max-width: 360px){
    /* Home page (after login) */
    .navbar-brand span{font-size:22px;}

}







/****************** Mobile Sidebar CSS ******************/

@media only screen and (min-width: 992px) {
#sidebar-mobile {
	display:none;
}
}

@media only screen and (max-width: 991px) {

#collapsibleNavbar {
	display:none;
}

#sidebar-mobile {
	display:inline-block !important;
    width: 285px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background: #FFF;
    z-index: 40005;
    box-shadow: 0 0 15px rgb(0 0 0 / 50%);
    -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(285px);
    -moz-transform: translateX(-285px);
    -ms-transform: translateX(-285px);
    -o-transform: translateX(-285px);
    transform: translateX(-285px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#sidebar-mobile.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    overflow-x: hidden;
}

.search-box {
	display:none;
}

#sidebar-mobile .search-box {
	display:block;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 10px;
}

#sidebar-mobile .head-part {
    background: #313131;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
	padding:10px 15px;

}

#sidebar-mobile .toggle {
    display: inline-block;
    position: relative;
    position: absolute;
    top: 10px;
    right: 1px;
    width: 35px;
    height: 35px;
}

#sidebar-mobile .toggle::before, #sidebar-mobile .toggle::after {
    content: '';
    position: absolute;
    top: 20px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}


#sidebar-mobile .toggle::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 8px;
}

#sidebar-mobile .mobi-acco {
	padding:0;
}

#sidebar-mobile .toggle::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

#sidebar-mobile ul {
	list-style:none;
	display:inline-block;
	width:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#sidebar-mobile ul li .card {
	padding:0;
	margin:0;
	border:none;
	box-shadow:none;
	border-radius:0;
	background:none;
}

#sidebar-mobile ul li .card .card-header {
	padding:0;
	margin:0;
	border:none;
	box-shadow:none;
	border-radius:0;
	background:none;
}

#sidebar-mobile ul li a, #sidebar-mobile ul li .card .card-header .btn-link{
	display:inline-block;
    width: 93%;
	width:100%;
    color: #000;
    font-size: 13px;
    padding: 0 12px;
	background:none;
    border-bottom: 1px solid #eaeaea;
    line-height: 35px;
	text-align:left;
	background:none;
	text-transform:uppercase;
	position:relative;
}

#sidebar-mobile .main-sub-menu {
	display:block;
	border:none;
	border-radius:0;
}

#sidebar-mobile .card-body {
	padding:0;
	background:none;
}

#sidebar-mobile ul li .card .card-header .btn-link:after {
    content: '';
    width: 13px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 16px;
    right: 14px;
}

#sidebar-mobile ul li .card .card-header .btn-link.collapsed:before {
	content:'';
	width:1px;
	height:13px;
	background:#000;
	position:absolute;
	top:10px;
	right:20px;
}

#sidebar-mobile ul li .card .card-header .btn-link.collapsed:after {
    content: '';
    width: 13px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 16px;
    right: 14px;
}

.main-sub-menu .menu-column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-right: 0%;
	text-align:center;
}
.main-sub-menu .menu-column .menu-img {
    display: none;
}

.main-sub-menu h3 {
    text-align: left;
    padding-left: 12px;
}

.mt-70 {
    margin-top:35px;
}

.top-nav ul {
    display:flow-root;
    text-align: center;
}

.top-nav ul li {
    display:inline-flex;
}

.page-title {
    margin-top:0px;
}

#profile-info {
    padding-bottom: 0px;
}
}

