/* resposive css only */
@media (max-width: 1800px){
    .usr-logged .menu-container{font-size:17px}
}

@media (max-width: 1600px){
.usr-logged .menu-container{font-size:16px}
.souce-to-shelf-sec {padding: 126px 60px;}
ul.tool-box-list li { padding: 28px 10px; height: 100%;}
.banner-caption-box { width: 698px; height: 506px; left: 10%;}
.col-box h3 { padding: 25px 0;}
footer .row >.col, footer .row >[class*=col-] { padding-right: 10px; padding-left: 10px;}
}
@media (max-width: 1440px){
    .usr-logged .menu-container{font-size:13px}
    .banner-caption-box {width: 578px; height: 426px; left: 10%;}
    .cap-text h1 { font-size: 35px; line-height: 40px; padding: 15px 0 15px; letter-spacing: 6.3px;}
    .cap-text { padding-top: 15px;}
    .cap-bottom-text p { font-size: 20px; padding: 20px 0 0;}    
    .souce-to-shelf-sec { padding: 76px 20px;}
    ul.tool-box-list li { padding: 0 10px; height: 323px;}
    .tl-box p { font-size: 16px; line-height: 20px; min-height: 55px;}
    .icon-box { margin-bottom: 25px;}
    .in-map-image img { width: 78%;}
    .book-a-demo .modal-body { padding: 60px 60px 25px;}   
    .footer-social-links li { margin-right: 7px;}

}
@media (max-width: 1366px){
    


}
@media (max-width: 1280px){
    .banner-caption-box::before { left: -122px;}
    .tl-box h3 { font-size: 18px;}
    .india-from-one-platform h2,.souce-to-shelf-sec h2,.subscription-section h2 { font-size: 32px; line-height: 36px;}
    .subscr-head h3 { font-size: 26px;}
    footer h3 { font-size: 18px;}
    .souce-to-shelf-sec h2 , .india-from-one-platform h2 { padding: 20px 0; min-height: 50px;}
    .footer-social-links { flex-wrap: wrap;}
    .footer-social-links li {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px){
    .souce-to-shelf-sec,.subscription-section {padding: 50px 5px;}
    a.btn-book-demo { margin-top: 50px;}
    .smar-sol-logo { top:10px}
   
}
@media (max-width: 1169px){
    .banner-caption-box { width: 450px; height: 340px; left: 10%;}
    .cap-text h1 { font-size: 30px; line-height: 30px; padding: 10px 0 10px;}
    .B2B-text, .MSE-text { font-size: 20px; line-height: 30px;}
    .cap-text::after { bottom: -22px;}
    .cap-bottom-text p { font-size: 20px; line-height: 22px; padding: 10px 10px 0;}
    a.btn-book-demo { font-size: 18px;  width: 340px; height: 45px;}
    .tl-box h3 { font-size: 16px; line-height: 22px;}
    .icon-box { max-width: 140px; margin: 0px auto 25px;}
    .white-box { width: 890px;}
    ul.tool-box-list li { padding: 0 10px; height: 260px;}
    .banner-caption-box::before { left: -74px; background-size: cover; height: 100px; width: 100px;}
    .in-map-image::before { height: 102px; width: 100px;}
    .subscr-head .level-title { font-size: 16px; line-height: 18px;}
    .subscr-head h3 { font-size: 18px; line-height: 22px;}
    .subscr-content h4 { font-size: 18px; line-height: 22px;}
    .access-to {font-size: 14px;}
    .access-to-list li {    font-size: 16px; line-height: 18px;}
    footer h3 { font-size: 16px; line-height: 20px; min-height: 40px;}
    .f-txt-content p { font-size: 16px;}
    .copyright-text { height: 50px; font-size: 16px;}
    .subscribe-box { height: 100%; overflow: hidden;}
    .subscr-content { height: 100%; min-height: 100px;}
    .made-in-logo { left: -70px; bottom: 112px;}
    .made-in-logo img { width: 110px;}
    .smar-sol-logo img { width: 120px;}

}

@media (max-width: 991px){
    .navbar-container{border:0}
    .menu-container{border:0;left:0;width:100%}
    .menu-container .nav-item{border-left:0}
    .menu-container .nav-item .nav-link{padding:10px 15px;justify-content:left}
    .hero-banner {
        background: url(../images/home-top-banner.jpg);
        height: 70vh;
        background-size: cover;
        background-position: center;
    }
    
    .india-from-one-platform h2, .souce-to-shelf-sec h2, .subscription-section h2,.main-title { font-size: 24px; line-height: 30px;}
    .smart-way-sec { padding: 50px 0 15px;}
    .smart-way-sec p { font-size: 20px; line-height: 26px;}
    .india-from-one-platform { padding: 50px 75px;}
    .btn-white {font-size: 16px; line-height: 25px; max-width: 397px; height: 50px;}
    ul.tool-box-list li { width: 50%;}
    ul.tool-box-list li:nth-child(2), ul.tool-box-list li:nth-child(6) { border-right: 0;}
    .white-box { width: 100%;}
    .home-ware-brands-sec { padding: 50px 40px;}
    .in-map-image {padding-bottom: 20px;}
    .sub-text { font-size: 18px;}
    .subscribe-box { height: auto; margin-bottom: 25px;}
    .subscr-content { height: 100%; min-height: 370px;}
    a.btn-book-demo { margin-top: 20px; }
    .f-txt-content.pr-5 { padding-right: 15px !important;}
    .footer-top { padding: 50px 15px;}
    .col-box { border-right: 0;}
    .book-a-demo .modal-body { padding: 45px 20px 25px;}
    .book-a-demo .modal-body p { font-size: 18px; line-height: 28px;}
    .book-a-demo .modal-body h2 { font-size: 24px; margin-bottom: 15px;}
    .form-commom-design .select2-container--default .select2-selection--single .select2-selection__rendered, .form-commom-design .form-control { font-size: 16px;}
    .form-commom-design { margin: 20px 0 0;}
    .thanks-icon img { width: 180px;}


}

@media (max-width: 767px){
    .lightbox-section img{ max-width: 30.33%;}
    
    .subscription-section .container{ max-width: 100%;}
    .f-txt-content { border-right: 0; margin-bottom: 35px;}
    footer h3 { font-size: 16px; line-height: 20px; min-height: 20px; margin-bottom: 15px;}
    .footer-top { padding: 50px 15px 0;}
    .subscription-section .mt-5 { margin-top: 15px !important;}

}

@media (max-width: 575px){
    .navbar-dark .navbar-brand {line-height: 0;}
    .navbar-brand img { width: 122px;}
    .top-nav ul { justify-content: center;}
    .top-nav ul li a { font-size: 16px;}
    .top-nav ul li a:after { right: -10px; top:5px}
    .hero-banner { height: 70vh;}
    .banner-caption-box { width: 90%; left: 0; margin: 0 auto; text-align: center; right: 0;}
    a.btn-book-demo { width: 220px;}
    .banner-caption-box::before { left: -14px; background-size: cover; height: 60px; width: 60px;}
    .india-from-one-platform h2, .souce-to-shelf-sec h2, .subscription-section h2, .main-title { font-size: 22px; line-height: 27px; letter-spacing: normal;}
    ul.tool-box-list li { width: 100%; border-right: 0;}
    .home-ware-brands-sec { height: 600px;}
    .home-brand-typo p { font-size: 16px; line-height: 20px;}
    .home-ware-brands-sec {padding: 50px 10px;}
    .home-brand-slider.owl-carousel .owl-prev, .home-brand-slider.owl-carousel .owl-next { display: none;}
    .home-brand-typo h2 { font-size: 24px; line-height: 25px; margin: 0 0 15px;}
    .home-brand-slider li { height: 148px; padding: 25px;}
    .india-from-one-platform { padding: 30px 0; }
    .in-map-image img {  width: 97%;}
    .in-map-image::before { height: 72px; width: 70px; left: -10px;}
    .subscr-content { min-height: 270px;}
    .souce-to-shelf-sec, .subscription-section {  padding: 30px 5px;}
    a.btn-book-demo { margin-top: 5px;}
    .made-in-logo { left: -12px; bottom: 192px;}
    .made-in-logo img { width: 60px;}
    .smar-sol-logo { top: 50px; left: 10px;}
    .smar-sol-logo img { width: 60px;}
    .thanks-icon img { width: 180px;}
    .four-zero-four-page h1 { font-size: 72px; line-height: 80px;}
.four-zero-four-page p {font-size: 18px; line-height: 24px;}
a.go-to-home-btn {font-size: 16px; height: 45px; max-width: 170px;}
.four-zero-four-page { padding: 20px 0 50px;}

    
}

@media (max-width: 360px){
    
}