/*
* ----------------------------------------------------------------------------------------
Author       : Credencys
Template Name: 
Version      : 1.0                                          
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.Home CSS
* 03.Accordion CSS
* 04.Logo Slider
* ----------------------------------------------------------------------------------------
*/

/*----------01.GLOBAL CSS STYLE------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*font-family: 'Roboto', sans-serif;*/

body {
    font-weight: 400;
    font-family: 'FS Emeric';

}
a {
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #f9f9f3;
}
a:hover{
    color: #54B898;
}
a:focus,
a:active{
    outline: none;
}
.section{
    padding: 100px 0px;  
}
 
.main-title{
    margin-bottom: 20px;
}
img { max-width: 100%;}

/*Font Face*/
@font-face {
    font-family: 'FS Emeric';
    src: url('./fonts/FSEmeric.woff2') format('woff2'),
        url('./fonts/FSEmeric.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Emeric';
    src: url('./fonts/FSEmeric-Bold.woff2') format('woff2'),
        url('./fonts/FSEmeric-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Emeric';
    src: url('./fonts/FSEmeric-Heavy.woff2') format('woff2'),
        url('./fonts/FSEmeric-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Emeric';
    src: url('./fonts/FSEmeric-Light.woff2') format('woff2'),
        url('./fonts/FSEmeric-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Emeric';
    src: url('./fonts/FSEmeric-Thin.woff2') format('woff2'),
        url('./fonts/FSEmeric-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Emeric';
    src: url('./fonts/FSEmeric-Medium.woff2') format('woff2'),
        url('./fonts/FSEmeric-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Emeric';
    src: url('./fonts/FSEmeric-SemiBold.woff2') format('woff2'),
        url('./fonts/FSEmeric-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Header css */

.header{ padding: 0 20px;}
.bg-dark-green { background-color: #2E3831!important;}

.navbar-brand img{
    max-width: 164px;
    height: 22px;
}
.main-nav { padding-bottom: 0;}
.navbar-dark .navbar-brand {}
.navbar-dark .navbar-toggler{position:absolute;right:0;top:20px;border:0;outline:0}
.top-nav {padding: 10px 0 0;}
.top-nav ul { display: flex; list-style: none; margin: 0; padding: 0; flex-wrap: wrap;}
.top-nav ul li { margin-right: 20px;}
.top-nav ul li a{ display: inline-block; color: #F9F9F3; position: relative; font-size: 19px;font-style: normal;font-weight: 300;}
.top-nav ul li a.active{ text-decoration: underline;}
.top-nav ul li a:after{ position: absolute; right: -8px; top:7px; content: ""; height: 15px; width: 1px; background-color: #fff;}
.top-nav ul li:last-child a:after{ display: none;}

.navbar-expand-lg{flex-wrap:wrap}
.navbar-container{border:2px solid #F9F9F3;display:block;width:100%;text-align:center;padding:16px 24px;position:relative}
.menu-container{justify-content:end;background-color:#2E3831;position:absolute;top:100%;width:calc(100% + 4px);z-index:2;border:2px solid white;
    font-size:20px;left:-2px}
.menu-container .nav-item{border-left:2px solid white;text-align:center;font-weight:600;min-width:205px}
.menu-container .nav-item .nav-link{display:flex;height:100%;justify-content:center;align-items:center;color:white}
.menu-container .nav-item .nav-link:hover{background-color:#F9F9F3;color:#2E3831}
.menu-container .nav-item:last-child .nav-link{background-color:#54b898}
.usr-logged .menu-container .navbar-nav{width:100%}
.usr-logged .menu-container{font-size:18px}
.usr-logged .menu-container .nav-item{flex:1;min-width:auto}
.usr-logged .menu-container .nav-item:first-child{border-left:0}
.usr-logged .menu-container .nav-item:last-child, .usr-logged .menu-container .nav-item:nth-last-child(2){font-weight:300;letter-spacing:1.8px}
.usr-logged .menu-container .nav-item:nth-last-child(2) .nav-link{background-color:#54b898}

.menu-container .nav-item:hover .main-sub-menu{display:block}
.main-sub-menu{position:absolute;top:100%;left:-2px;width:calc(100% + 4px);background:#F9F9F3;color:#2E3831;border:1px solid #F9F9F3;
    text-align:left;display:none;box-shadow:0px 6px 12px 0px rgba(0, 0, 0, 0.18)}
.main-sub-menu .menu-column{width:12%;display:inline-block;vertical-align:top;padding-right:1%}
.main-sub-menu .menu-column .menu-img{width:116px;height:116px;margin-bottom:25px;margin-top:10px}
.main-sub-menu .sub-row{padding:36px}
.main-sub-menu .sub-row:nth-child(2){background-color:#ECECE5}
.main-sub-menu h3{font-size:17px;font-weight:700}
.main-sub-menu ul{padding:0}
.main-sub-menu li{list-style:none;font-size:17px;font-weight:300}
.main-sub-menu li a{color:#2E3831 !important}

.search-box{position:absolute;left:24px;top:16px}
.search-box button{width:36px;height:36px;display:inline-block;background-image: url(../images/search-icon.svg);background-size:100%;
    border:0;background-color:transparent;cursor:pointer;vertical-align:bottom;}
.search-box input{border:0;background:transparent;border-bottom:1px solid #fff;outline:0;color:white;font-family:'FS Emeric';font-size:16px;
    font-weight:300;text-align:center;padding:6px 3px}
.head-right-group{position:absolute;right:24px;top:16px}
.head-right-group ul li{list-style:none;display:inline-block;margin-right:10px}
.browse-categories{background:#F9F9F3;padding:162px 0}
.browse-categories .container-fluid{max-width:1376px}
.browse-categories .icon-box{margin-bottom:25px}
.browse-categories .tool-box-list{border:0}
.browse-categories .tl-box span{color:white;background:#2E3831;font-size:20px;font-weight:300;width:186px;height:50px;text-align:center;
    line-height:50px;display:inline-block;transition:background-color .15s ease-in-out}
.browse-categories .tool-box-list li a{display:block;width:100%;height:100%;text-decoration:none}
.browse-categories .tool-box-list li a:hover span{background:#54b898}
.browse-categories ul.tool-box-list li{border:2px solid #2e3831;border-right:0;height:328px}
.browse-categories ul.tool-box-list li:nth-child(4), .browse-categories ul.tool-box-list li:last-child{border-right:2px solid #2e3831}
.smart-curations{background:#ECECE5;padding:131px 0}
.smart-curations .container-fluid{max-width:1707px;padding-left:50px}
.left-curation-box{background-color:#2e3831;color:#F9F9F3;margin-top:-60px;z-index:2;padding:0}
.right-curation-box{background-color:white;margin-bottom:-100px;margin-left:-60px;z-index:1;border:2px solid #2e3831;position:relative}
.right-curation-box span{text-transform:uppercase;position:absolute;bottom:0;right:0;font-size:25px;letter-spacing:3px;color:#F9F9F3;
    background-color:#2e3831;font-weight:600;padding:19px 32px}
.right-curation-box span i{font-size:33px;vertical-align:top}
.right-curation-box img{position:absolute;transform: scale(1.11);left: -21px;top: -46px;}
.left-curation-box h3{text-transform:uppercase;font-size:30px;letter-spacing:3.6px;font-weight:300;text-align:center;padding:82px 40px;
    border-bottom:2px solid #F9F9F3}
.left-curation-box h3 span{font-size:45px;letter-spacing:5.4px;display:block;width:100%;font-weight:600}
.left-curation-box p{font-size:20px;letter-spacing:2px;line-height:40px;padding:100px 40px}

@media (max-width: 991px){}
/*Modal common css*/
@media (min-width: 992px){
.modal-lg {
    max-width: 859px;
}
}
.modal-content {
    background-color: #F9F9F3;
    background-clip: padding-box;
    border: 2px solid #2e3831;
    border-radius: 0;
    outline: 0;
}
.book-a-demo .modal-body h2 { font-size: 30px; color: #2e3831; font-weight: 700; text-transform: uppercase; margin-bottom: 25px;}
.book-a-demo .modal-body p {
    font-size: 30px;
    color: #2e3831;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.5px;
    }
.book-a-demo .modal-body {
    padding:150px 124px 66px;
}

/*End Modal common css*/

/*----------02. Home CSS------------*/

.hero-banner {position: relative;}
.hero-banner img{ width: 100%;}
.banner-caption-box {
    position: absolute;
    top: 50%;
    width: 758px;
    border: 2px solid #2E3831;
    background-color: #F9F9F3;
    height: 536px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) !important;
    left: 12%;
}
/* .banner-caption-box::before {
    position: absolute;
    content: "";
    background: url(../images/made-in-india.svg);
    height: 171px;
    width: 171px;
    top: 55%;
    left: -129px;
    transform: translateY(-55%);
} */
.made-in-logo {
    position: absolute;
    left: -130px;
    bottom: 162px;
}

.banner-caption-box a.btn-book-demo { margin:25px 0 0 0;}
.main-title {
    margin-bottom: 60px;
    font-size: 30px;
    color: #F9F9F3;
    font-weight: 700;
    line-height: 37px;
    position: relative;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.cap-text {
    padding-top: 30px;
    position: relative;
}
.cap-text::after{
    background: #54B898;
    width: 162px;
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -36px;
}

.cap-bottom-text {
    border-top: 2px solid #2E3831;
    width: 100%;
}
.B2B-text, .MSE-text {
    display: block;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #2E3831E0;
    line-height: 37px;
    letter-spacing: 3.3px;
    font-weight: 300;
}
.cap-text h1 {
    margin: 0;
    color: #2E3831E0;
    font-size: 51px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 60px;
    padding: 22px 0 24px;
    letter-spacing: 6.3px;
}
.cap-bottom-text p {
    margin-bottom: 0;
    display: block;
    height: 100%;
    padding: 25px 0 0;
    text-align: center;
    font-size: 27px;
    letter-spacing: 0.33px;
    font-family: 'FS Emeric';
    font-weight: 300;
}

.main-title:after {
    background: #EF9217;
    width: 162px;
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -36px;
}
.smart-way-sec p {
    color: #F9F9F3;
    font-weight: 300;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 40px;
}
.btn-white {
    background: #ECECE5;
    color: #2E3831;
    font-size: 20px;
    line-height: 25px;
    border-radius: 0;
    font-weight: 700;
    max-width: 457px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
}
.btn-white:hover{
    background: #2E3831;
    color: #ECECE5;
    border: 2px solid #ECECE5;
}
.smart-way-sec { background-color: #2E3831; padding: 120px 0 40px;}
.smart-way-sec p strong{font-weight:700}

/*Source to shelf sction css*/
.souce-to-shelf-sec { background-color: #F9F9F3; padding: 126px 124px;}
.souce-to-shelf-sec h2 {
    color: #2E3831;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 49px;
    border: 2px solid #2E3831;
    margin-bottom: 0;
    border-bottom: 0;
    padding: 30px 0;
    letter-spacing: 4px;
}
 
    .tool-box-list {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        border: 2px solid #2e3831;
        border-bottom: 0 none;
    }

ul.tool-box-list li {
    width: 25%;
    height: 400px;
    border-right: 2px solid #2e3831;
    border-bottom: 2px solid #2e3831;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.tool-box-list li:nth-child(4), ul.tool-box-list li:last-child {
    border-right: 0;
}


.tl-box {
    text-align: center;
}
.tl-box h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #2E3831;
    text-transform: uppercase;
    margin-bottom: 0;
}
.icon-box {
    margin-bottom: 76px;
}
.tl-box p { font-size: 16px; line-height: 25px; color: #626D64; margin-bottom: 0;}
/*Source to shelf sction css*/

/*home ware brands css*/
.home-ware-brands-sec {
     background-image: url(../images/home-ware-brand-bg.png);
     background-size: cover;
     height: 1080px;
     display: flex;
     align-items: center;
     background-attachment: fixed;
}
.white-box {
    width: 949px;
    margin: 0 auto;
    background: #F9F9F3;
    border: 0.72px solid #2E3831;
}
.home-brand-typo{ text-align: center; padding: 40px 0 20px;}
.home-brand-typo p { color: #2E3831; font-size: 20px; line-height: 30px; letter-spacing: 2.4px; text-transform: uppercase; font-weight: 700;}
.home-brand-typo h2{ font-size: 40px; line-height: 30px; letter-spacing: 4.8px; color: #2E3831; text-transform: uppercase; font-weight: 200; margin: 0 0 22px;}

.home-brand-slider { display: flex; flex-wrap: wrap; margin: 0; padding: 0; border-top: 1px solid #2E3831;}
.home-brand-slider li { width: auto; height: 208px; display: flex; align-items: center; justify-content: center; border-right: 1px solid #2E3831;}
.home-brand-slider.owl-carousel .owl-item img { width: auto;}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    outline: 0 none;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    color: #F9F9F3;
}
.owl-carousel .owl-nav button.owl-prev .fa-angle-left:before {
    background-image: url(../images/pre-pro-arrow.svg);
    content: " ";
    position: absolute;
    top: 5px;
    left: -4px;
    height: 38px;
    width: 18px;
    background-repeat: no-repeat;
}
.owl-carousel .owl-nav button.owl-prev:hover .fa-angle-left:before, .recently-viewed-sec .owl-carousel .owl-nav button.owl-prev:hover .fa-angle-left:before {
    background-image: url(../images/pre-pro-arrow-hover.svg);
}
.owl-carousel .owl-nav button.owl-next .fa-angle-right::before {
    background-image: url(../images/next-pro-arrow.svg);
    content: " ";
    position: absolute;
    top: 5px;
    right: -4px;
    height: 38px;
    width: 18px;
    background-repeat: no-repeat;
}
.owl-carousel .owl-nav button.owl-next:hover .fa-angle-right::before, .recently-viewed-sec .owl-carousel .owl-nav button.owl-next:hover .fa-angle-right::before{
    background-image: url(../images/next-pro-arrow-hover.svg);
}

.recently-viewed-sec .owl-carousel .owl-nav button.owl-prev .fa-angle-left:before {
    background-image: url(../images/pre-pro-arrow-white.svg);
}
.recently-viewed-sec .owl-carousel .owl-nav button.owl-next .fa-angle-right::before {
    background-image: url(../images/next-pro-arrow-white.svg);
 }
.home-brand-slider.owl-carousel .owl-prev,.home-brand-slider.owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    
}
.home-brand-slider.owl-carousel .owl-prev {
    left: -35px;
   
}
.home-brand-slider.owl-carousel .owl-next { 
    right: -35px;
}
    .home-brand-slider.owl-carousel .owl-nav .fa {
        font-size: 40px;
        font-weight: 300;
    }
/*End home ware brands css*/

/*map section*/
.india-from-one-platform {
    background-color: #2E3831;
    padding: 100px 75px;
}
.india-from-one-platform h2{
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 49px;
    border: 2px solid #fff;
    margin-bottom: 0;
    border-bottom: 0;
    padding: 10px 0;
    letter-spacing: 4px;
    min-height: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-col-box {    
    border: 2px solid #fff;
    border-bottom: 0 none;}
.col-box {
    height: 100%;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    
}

.col-box h3 {
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    padding: 60px 0;
    text-transform: uppercase;
}
/* .in-map-image::before {
    position: absolute;
    content: "";
    background: url(../images/smart-sourcing-logo.svg);
    height: 184px;
    width: 180px;
    top: 24%;
    left: -70px;
    transform: translateY(-55%);
    background-size: cover;
} */
.smar-sol-logo {
    position: absolute;
    left: -70px;
    top: 100px;
}
.in-map-image , .map-image{ text-align: center;}
.map-image img {width: 100%;}
/*end map*/

/*subscription*/
.subscription-section {
    background: #F9F9F3;
    padding: 100px 0;
}
.subscription-section h2 {
    font-size: 40px;
    color: #2E3831;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 16px;
}
.subscribe-box{ border: 2px solid #2E3831;}
.subscribe-box .subscr-head{ text-align: center;     border-bottom: 2px solid #2E3831;
    padding: 20px 0;
    background-color: #E1DFD8;
}
.subscr-content h4 {
    font-size: 26px;
    line-height: 32px;
    color: #2E3831;
    letter-spacing: 1.3px;
    margin: 18px 0 30px;
    font-weight: 400;
}
.subscr-content {
    padding: 20px 10px 10px 20px;
    min-height: 477px;
    background: #fff;
}
.sub-text { font-size: 30px; font-weight: 300; text-align: center; color: #2E3831;}

.subscr-head .level-title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-bottom: 7px;
    letter-spacing: 1px;
}
.subscr-head h3{ letter-spacing: 1.5px; color: #2E3831; line-height: 37px; font-size: 30px; text-transform: uppercase; font-weight: 700; margin-bottom: 0;}
.subscr-head h3 span { display: inline-block; font-weight: 400;}
.access-to-list{ margin: 0; padding: 0; list-style: none;}
.access-to-list li { font-size: 20px; line-height: 25px;color: #2E3831; margin-bottom: 8px; position: relative; padding-left: 18px;}
.access-to-list li strong { color: #2E3831;}
.access-to {
    margin: 5px 0 8px;
    font-size: 20px;
    font-weight: 400;
}
.access-to-list li:after{ position: absolute; content: "✓"; left: 0; top: 0; font-weight: 700;} 
a.btn-book-demo {
    background: #54B898;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
a.btn-book-demo:hover{
    background-color:#2E3831;
    text-decoration: none;
}
.thanks-icon { text-align: right;}
@media (min-width: 1200px){
.subscription-section .container {
    max-width: 1362px;
}
}
/*end subscription*/


/*---------- Footer------------*/
.footer-top{
    background-color: #2e3831;
    padding: 50px 40px;
}
footer h3{ font-size: 25px; letter-spacing: 2.5px; line-height: 30px; color: #F9F9F3; text-transform: uppercase; font-weight: 900; margin-bottom: 25px;}
.f-txt-content p { color: #F9F9F3; font-size: 20px; font-weight: 300;}
.footer-social-links { display: flex; margin: 0; padding: 0; list-style: none;}
.footer-social-links  li{ margin-right: 20px;}
.footer-social-links  li a img { width: 34px;}
.f-txt-content {
    border-right: 2px solid #F9F9F3;
    height: 100%;
}
.f-txt-content a { color: #F9F9F3;}
.f-txt-content a:hover {
    opacity: 0.7;
}

.footer-form .form-group { margin-bottom: 0;}
.footer-form .form-control { border-radius: 0; background-color: transparent; border-color: #F9F9F3; color: #F9F9F3;}
.footer-form .form-control option { color: #2e3831;}
.btn-send {
    border-radius: 0;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #f9f9f3;
}
.btn-send:hover{
    background-color: #54B898;
    color: #fff;
}

footer .row >.col, footer .row >[class*=col-] {
    padding-right: 20px;
    padding-left: 20px;
}
.copyright-text {
    background: #000000;
    color: #F9F9F3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 110px;
}
/*select 2 css*/
.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 34px;
}
span.select2-selection.select2-selection--single {
    outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #F9F9F3 transparent transparent transparent;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    position: absolute;
    top: 1px;
    right: 10px;
    width: 25px;
}
 
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #F9F9F3 transparent;
    border-width: 0 6px 8px 6px;
}
/*End select 2 css*/

/*Common form design*/
.form-commom-design { border: 1px solid #2e3831; margin: 50px 0;}
.form-commom-design .form-group { margin-bottom: 0;}
.form-commom-design .form-control { border-radius: 0; background-color: #fff; border:1px solid #2e3831; color: #2e3831; font-size: 20px; }
.form-commom-design .form-control option { color: #2e3831;}
.form-commom-design .btn-send {
    border-radius: 0;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid #2e3831;
    background-color: #2e3831;
    color: #fff !important;
}
.form-commom-design .btn-send:hover{
    background-color: #54B898;
    color: #fff;
}
button.close {
    background: #2e3831;
    color: #fff;
    font-weight: 300;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 41px;
    height: 25px;
    opacity: 1;
    z-index: 1;
    line-height: 21px;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #fff;
    outline: none;
    text-decoration: none;
    opacity: .75;
}
.form-commom-design .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #2e3831;
    border-radius: 0;
    height: 38px;
}
.form-commom-design .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2e3831;
    line-height: 34px;
    padding-left: 13px;
    font-size: 20px;
}
.form-commom-design span.select2-selection.select2-selection--single {
    outline: none;
}
.form-commom-design .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #2e3831 transparent transparent transparent;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.form-commom-design .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    position: absolute;
    top: 1px;
    right: 10px;
    width: 25px;
}
 
.form-commom-design .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #2e3831 transparent;
    border-width: 0 6px 8px 6px;
}
.form-commom-design .select2-container { width: 100% !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #2e3831;
    color: white;
}

.form-commom-design ::-webkit-input-placeholder { /* Edge */
    color: #2e383145 !important;
  }
  
  .form-commom-design :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2e383145 !important;
  }
  
  .form-commom-design  ::placeholder {
    color: #2e383145 !important;
  }

/*---------- Loader css------------*/
.bs-loader-inner{
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    font-size: 40px;
    z-index: 9;
}
.bs-loader i{
    height: 40px;
}

/*---------- portfolio with filter css------------*/

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
 
    border-radius: 5px;
    text-align: center;
 
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/*404 page*/
.four-zero-four-page {text-align: center; padding: 80px 0;}
.four-zero-four-page h1 {
    font-size: 152px;
    font-weight: 900;
    color: #2e3831;
    line-height: 150px;
}
.four-zero-four-page p { font-size: 26px; line-height: 31px; font-weight: 400; text-transform: uppercase; letter-spacing:1.2px;}
a.go-to-home-btn {
    background: #54B898;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    max-width: 230px;
    text-decoration: none;
}
a.go-to-home-btn:hover{
    background: #2E3831;
    color: #fff;
}

/*owl carousel defalut css*/

.owl-carousel .owl-prev, .owl-carousel .owl-next {
    position: absolute;
    top: 43%;
    transform: translateY(-43%);
}
.owl-carousel .owl-prev{
    left: 14px;
}
.owl-carousel .owl-next {
    right: 14px;
}
.owl-nav button{
    background: transparent;
    color: #fff;
    border: none;
    font-size: 50px;
    height: 45px;
    width: 18px;
}
.owl-nav button:hover{
color: #54B898;
}
.owl-nav button:focus{
    outline: none;
}
 
.owl-carousel .owl-dots{
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.owl-carousel .owl-dots .owl-dot{
    background: rgba(255,255,255,0);
    border: 2px solid #f9f9f3;
    margin: 0 20px;
    padding: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.owl-carousel .owl-dots .owl-dot:focus{
    outline: none;
}
.owl-carousel .owl-dots .owl-dot.active{
    background: #fff;
}

/*End owl carousel defalut css*/

/*home page css*/
.container-fluid { max-width: 1810px;}
.btn { border-radius: 0;}
.section-title h2{
letter-spacing: 4.8px;
color: #2E3831;
font-size: 40px;
line-height: 49px;
font-weight: 300;
}
.product-box { max-width: 351px; margin: 0 auto;}
.product-img { background: #f9f9f3;}
.pro-btn-dv { margin-top: -25px; position: relative;}
.product-btn {
    background-color: #2e3831;
    border: 0 none;
    color: #f9f9f3;
    max-width: 222px;
    width: 100%;
    height: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;   
}
.product-btn:hover{
    background-color: #54B898;
    color: #f9f9f3;
}
.mt-70 {
    margin-top: 70px;
}
.owl-padding {
    padding: 0 40px;
}
.recently-viewed-sec {
    background-color: #696F6A;
}
.recently-viewed-sec .section-title h2 { color: #fff;}

/* Signup page */
.signup .hero-banner .banner-caption-box{height:auto}
.hero-banner .tab-placeholder{padding:84px}
.hero-banner .user-tabs{border:1px solid #2E3831;width:100%}
.hero-banner .nav-tabs .nav-item{width:50%}
.hero-banner .nav-tabs .nav-link{background-color: #ECECE5;border:0;border-radius:0;text-transform:uppercase;font-size:20px;
    letter-spacing: 2.4px;font-weight:600;text-align:center;height:96px;line-height:96px;padding: 0;color:#2E3831 !important}
.hero-banner .nav-tabs .nav-link.active{background-color: #2E3831;color:white !important}
.hero-banner .form-group{margin:0;position:relative}
.hero-banner form input.form-control{border-radius: 0;font-size:20px;height:60px;border-color:#2E3831;border:0;border-top:1px solid #2E3831}
.hero-banner #login input.form-control{height:90px;}
.hero-banner form .btn{font-size:20px;font-weight: 600;text-transform: uppercase;letter-spacing:2.4px;height:96px;line-height:93px;
    width:100%;text-align: center;color:white;background-color:  #2E3831;border:0}
.forgot-pass{position:absolute;font-size:12px;color:#2E3831;right:0;font-weight:300;right:30px;top:42px}

/* breadcrumb */
.breadcrumb{background:none;margin-top:50px}
.breadcrumb ul{padding:0}
.breadcrumb ul li{list-style:none;display: inline-block;color:#2E3831;font-size: 23px;}
.breadcrumb ul li::after{content:">";margin:0 5px;display:inline-block}
.breadcrumb ul li:last-child::after{content:""}
.breadcrumb ul li a{display:inline-block;color:#2E3831;text-decoration: underline;}

.page-title{font-size:40px;font-weight:600;margin:50px 0 20px}

/* product listing */
.col-left.sidebar{background:#F9F9F3;}
.col2-left-layout h5{background:#2E3831;color:#F9F9F3;font-size:23px;font-weight:600;height:74px;line-height:74px;padding:0 28px;margin:0}
.block{font-size:17px;color:#2E3831;padding:24px 28px 0;float:left;width:100%}
.block-title{font-size:24px;font-weight:600;margin-bottom:6px;}

label.container{float:left;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
width:33.33%;height:43px;line-height:43px;text-align:center;margin:0}
.two-item label.container{width:50%}
label.container input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.checkmark{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#eee;font-weight:300;}
.container:hover input ~ .checkmark{background-color:#ECECE5}  
.container input:checked ~ .checkmark {background-color: #2E3831;color:white}

.product-item{color:#2E3831}
.product-item:hover{text-decoration:none}
.product-img{position: relative;}
.product-img .agenda{background:#ecece5;position:absolute;left:0;bottom:0;font-size:17px;font-weight:700;padding:12px 15px}
.product-img .new-product{position: absolute;top:0;left:0;color:white;background:#ef9217;font-size:17px;font-weight:700;padding:12px 15px}
.product-img .wishlist{width:27px;height:25px;background:url('../images/wishlist-icon.svg');background-size: 100%;position: absolute;right:0;top:0}
.product-img .socio-share{width:25px;height:25px;background:url('../images/share-icon.svg');background-size: 100%;position: absolute;right:0;bottom:0}
.product-desc{padding:15px 12px}
.product-desc h6{font-size:23px;font-weight:600;margin:0}
.product-desc .material{font-size:23px;font-weight: 300;margin-bottom:5px;}
.product-desc .prod-gist{font-size:16px;font-weight:300;}
.product-desc .shades{padding:0;display: inline-block;margin:0;vertical-align:middle;}
.product-desc .shades li{list-style: none;display: inline-block;margin-right:3px;border-radius:50%;}
.product-desc .plus-styles{font-size:18px;font-weight:300;display: inline-block;vertical-align: middle;margin-left:10px;}