
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
html, body, main, .wrap-div { height: 100%;}
body{background-image: url(../img/page-bg.png); background-size: cover; background-repeat: no-repeat; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 16px;}  
 

.m-box{ display:flex; justify-content: center;top: 50%;
  transform: translateY(-50%); position: relative;}
.m-box .b-left{ max-width: 371px; width: 100%; background-color: #6537b2;}

.pim-logo img {
  width: 100%;
}

.bottom-text { min-height: 306px; padding: 0 15px;}
.bottom-text p{ text-align: center; color: #fff; font-size: 26px; line-height: 40px; padding-top: 35px;}
.bottom-text p strong {
  font-weight: 900;
}
.bottom-text p span {
  font-weight: 500;
}

/* Right section css */
.m-box .b-right {
  max-width: 554px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px -1px #8c8c8c;
  padding:10px 20px 10px 35px;
}
.ques-no{ display: block; text-align: center;}
.ques-no span { font-size: 20px;}
.ques-no strong {
  font-weight: 900;
}
.ques-no {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.qeustion-box {
  padding-top: 20px;
}
.qeustion-box p { font-size: 20px; line-height: 30px;}
.qeustion-box p span { color:#666666;}

/*custom checkbox css*/
.check-box-wrap {
  margin-top: 20px;
}

.check-box-wrap .form-group {
  display: block;
  margin-bottom: 15px;
}

.check-box-wrap .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.check-box-wrap .form-group label {
  position: relative;
  cursor: pointer;
  color: #333;
  line-height: 30px;
  display: block;
}

.check-box-wrap .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #8c8c8c;
 /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);*/
  padding:9px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 2px;
}
.check-box-wrap .form-group label:hover:before{
  border-color: #6537b2;
  border-radius: 0px;
}
.check-box-wrap .form-group input:checked + label:before
{
  border: 2px solid #6537b2;
  border-radius: 0px;
}
.check-box-wrap .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #6537b2;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.check-box-wrap .form-group label span {
  padding-left: 40px;
  display: block;
}

.input-group input { border:1px solid #999; height: 39px; width:100%; padding: 0px 10px; border-radius: 1px;}
.input-group input:focus{ outline:1px solid #6537b2;}
.input-group { padding-left:42px;}

.btn-black {
  background: #121212;
  color: #fff;
  border: 0;
  height: 38px;
  padding: 0 20px;
  min-width: 116px;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: inline-block;
  line-height: 40px;
  text-align: center;
}
.btn-black.disabled{ opacity: 0.3; pointer-events: none;}
.bottom-btn-row {
  text-align: right;
  padding-top: 30px;
}
.question {
  min-height: 370px;
}
.btn-black:focus{ outline: 0 none;}
.btn-black:hover{ opacity: 0.8;}
.btn-next-row {
  padding-top: 21px;
  text-align: right;
}
.f-900 { font-weight: 900 !important;}
/*Result page*/
h1.box-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  padding: 31px 0;
}
.result-box p {
  line-height: 38px;
  text-align: center;
  font-size: 22px;
  padding: 30px 0;
}
.result-box .btn-next-row{ text-align: center; padding-top: 40px;}

/*Form Css*/
.title-box form { position: relative;}
.title-box .frm-group .form-control { border:1px solid #999; height: 39px; width:100%; padding: 0px 10px; border-radius: 1px;}
.title-box .frm-group .form-control:focus{ outline:1px solid #6537b2;}
.frm-group{ margin-bottom: 10px; padding-top:10px;}
.frm-group label{ padding-bottom: 10px; display: block;}
.title-box { padding: 0 50px 0 40px;}
.title-box .btn-next-row {
  padding-top: 30px;
}
span.req-sing {
  color: #ff0000;
  font-size: 20px;
}
span.require-text {
  position: absolute;
  right: 0;
  color: #ff0000;
  font-size: 12px;
  top: 16px;
}
.txt-center{ text-align: center !important;}

.hidden{ display: none !important;}

/*Custom Radio button*/
/* The container */
.cust-radio {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 10px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 line-height: 28px;
}

/* Hide the browser's default radio button */
.cust-radio input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 border:2px solid #8c8c8c;
 border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cust-radio:hover input ~ .checkmark {
 border-color: #6537b2;
}

/* When the radio button is checked, add a blue background */
.cust-radio input:checked ~ .checkmark {
 border-color: #6537b2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the indicator (dot/circle) when checked */
.cust-radio input:checked ~ .checkmark:after {
 display: block;
}

/* Style the indicator (dot/circle) */
.cust-radio .checkmark:after {
 top: 5px;
 left: 5px;
 width: 11px;
 height: 11px;
 border-radius: 50%;
 background: #6537b2;
}
.radio-box-wrap {
 padding-top: 20px;
}

/* Respoansive Media Query*/
@media screen and (max-width:991px) {
  .m-box .b-left{ max-width: 288px;}
  .m-box .b-right{ max-width: 444px;}
  .bottom-text p{ font-size: 24px; line-height: 36px;}
  .check-box-wrap .form-group label{ line-height: 20px;}
}
 
@media screen and (max-width:767px)
{
  .m-box {
    flex-wrap: wrap;
    top: 0;
    transform: translateY(-0%);
    position: relative;
}
  .m-box .b-left {max-width: 100%;}
  .bottom-text{ min-height: 20px;}
  .bottom-text p {
    font-size: 18px;
    line-height: 28px;
    padding: 12px 0;
}
.qeustion-box p {
  font-size: 16px;
  line-height: 25px;
}
.m-box .b-right {
  max-width: 100%;
  padding: 20px;
}
.check-box-wrap .form-group label{ font-size: 14px;}
.result-box p {
    line-height: 30px;
    font-size: 18px;
    padding: 10px 0;
}
h1.box-title {
  font-size: 26px;
  padding: 15px 0;
}
}
@media screen and (max-width:414px){
  .title-box{ padding: 0;}
 }
